Repository sillsdev/TheCombine, pull requests merged in 2019-08, with the labels that each got.

#234 Add Dropdown in App Bar
  src/components/AppBar/AppBarComponent.tsx
  src/components/GoToHomeButton/GoToHomeButtonComponent.tsx
  src/components/GoToHomeButton/tests/GoToHomeButtonComponent.test.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/tests/GoalTimelineHorizontal.test.tsx
  src/components/Login/LogoutButton.tsx
  src/components/Login/UserMenu.tsx
  src/resources/translations.json
Labels: Front-end

#235 Audioavatar controller
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Properties/Resources.Designer.cs
  Backend/Services/WordApiServices.cs
Labels: Back-end

#237 Add image to 404 page
  src/components/PageNotFound/component.tsx
  src/resources/tractor.png
Labels: Front-end

#233 Make Mergedups always show 8 steps if possible
  package-lock.json
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
Labels: Front-end

#239 Only display glosses for the current language
  package-lock.json
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryTable/DuplicateResolutionView/DuplicateResolutionView.tsx
Labels: Front-end

#232 Fix loading no items in ReviewEntries
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/AlignedList.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
Labels: Front-end

#241 Show User Avatar
  Backend/Controllers/AvatarController.cs
  src/backend/index.tsx
  src/components/App/component.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/UserSettings/UserSettings.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
Labels: Back-end, Front-end

#244 Merge semantic domains when two senses are duplicates
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
Labels: Front-end

#242 Make vern reset if vern is missing from list
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
Labels: Front-end

#245 Increase spacing under app bar
  src/components/AppBar/AppBarComponent.tsx
Labels: Front-end

#220 More backend testing
  Backend.Tests/Assets/Gusillaay.zip
  Backend.Tests/Assets/Lotud.zip
  Backend.Tests/Assets/Natqgu.zip
  Backend.Tests/Assets/RWC.zip
  Backend.Tests/Assets/Resembli.zip
  Backend.Tests/Assets/Sena.zip
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/LiftControllerTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/LiftController.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
Labels: Back-end

#248 Correct paths in comments
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
Labels: Back-end

#247 Make audio path relative
  Backend/Controllers/AudioController.cs
Labels: Back-end

#250 Move class from Controller to Model
  Backend/Controllers/ProjectController.cs
  Backend/Models/Project.cs
Labels: Back-end

#249 Mergedups blacklist
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/resources/translations.json
Labels: Front-end

#246 Update frontend docs and add comments to components
  docs/frontend/addingComponents.md
  docs/frontend/fileStructure/components.md
  docs/frontend/fileStructure/goals.md
  src/components/App/component.tsx
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/DuplicateResolutionView/DuplicateResolutionView.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/DeleteEntry/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingGlossEntry/ExistingGlossEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingVernEntry/ExistingVernEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ImmutableExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewGlossEntry/NewGlossEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewVernEntry/NewVernEntry.tsx
  src/components/DataEntry/DataEntryTable/SpellingSuggestions/SpellingSuggestions.tsx
  src/components/DataEntry/index.tsx
  src/components/DraggableWord/actions.tsx
  src/components/DraggableWord/reducer.tsx
  src/components/DraggableWord/tests/reducer.test.tsx
  src/components/GoToHomeButton/GoToHomeButtonComponent.tsx
  src/components/ProjectScreen/ProjectScreenComponent.tsx
  src/components/TreeView/TreeViewComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterDetailComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo/CharacterInfoComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterWords/CharacterWordsComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/index.tsx
  src/goals/CharInventoryCreation/components/CharacterEntry/CharacterEntryComponent.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/displayProg.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/mergeDuplicateReducer.tsx
Labels: Front-end, documentation

#254 Remove user passwords and avatars from return values
  Backend/Services/UserApiServices.cs
Labels: Back-end

#255 Improve test coverage
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ExistingEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/index.tsx
  src/types/goals.tsx
  src/types/nav.tsx
Labels: Front-end

#257 Mobile Friendly nav and apply theme
  src/components/GoalTimeline/GoalTimelineHorizontal/GoalTimelineHorizontal.tsx
  src/index.tsx
  src/types/theme.ts
Labels: Front-end

#258 Make Select/Create project render decently on mobile
  package-lock.json
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/components/ProjectScreen/ProjectScreenComponent.tsx
Labels: Front-end

#259 Perfect Backend formatting
  Backend/Contexts/UserContext.cs
  Backend/Contexts/UserEditContext.cs
  Backend/Contexts/UserRoleContext.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Helper/Utilities.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Properties/launchSettings.json
  Backend/Services/LiftApiServices.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditApiServices.cs
  Backend/Services/UserEditRepository.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  docs/data_model.md
Labels: Back-end

#251 Fix vertical scrolling in mergedups
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
Labels: Front-end

#261 Add Project Export Button
  Backend.Tests/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Services/LiftApiServices.cs
  src/backend/index.tsx
  src/components/UserSettings/ExportProjectButton.tsx
  src/components/UserSettings/LoadingButton.tsx
  src/components/UserSettings/UserSettings.tsx
  src/resources/translations.json
Labels: Front-end

#262 Fix avatar download
  Backend.Tests/UserServiceMock.cs
  Backend/Controllers/AvatarController.cs
  Backend/Interfaces/IUserService.cs
  Backend/Services/UserApiServices.cs
Labels: Back-end, bug

#264 Return null string instead of crashing if user is null
  Backend/Services/UserApiServices.cs
Labels: Back-end

#260 Update Project Name in manifest.json
  public/manifest.json
Labels: documentation

#263 Add Project Settings Page
  Backend.Tests/ProjectServiceMock.cs
  Backend.Tests/UserControllerTests.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Services/ProjectApiServices.cs
  src/backend/index.tsx
  src/components/AddWords/AddWordsComponent.tsx
  src/components/AddWords/index.tsx
  src/components/AddWords/tests/AddWords.test.tsx
  src/components/AddWords/tests/__snapshots__/AddWords.test.tsx.snap
  src/components/App/component.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectSettings/BaseSettingsComponent/BaseSettingsComponent.tsx
  src/components/ProjectSettings/Language/LanguageSettings.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectButton.tsx
  src/components/ProjectSettings/ProjectImport/FileInputButton.tsx
  src/components/ProjectSettings/ProjectImport/ProjectImport.tsx
  src/components/ProjectSettings/ProjectImport/index.tsx
  src/components/ProjectSettings/ProjectName/ProjectName.tsx
  src/components/ProjectSettings/ProjectName/index.tsx
  src/components/ProjectSettings/ProjectSettingsActions.ts
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectSettingsReducer.ts
  src/components/ProjectSettings/UserSettingsComponent/UserSelectorComponent.tsx
  src/components/ProjectSettings/UserSettingsComponent/UserSettingsComponent.tsx
  src/components/ProjectSettings/UserSettingsComponent/index.tsx
  src/components/ProjectSettings/index.tsx
  src/components/UserSettings/UserSettings.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/index.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
  src/types/userRole.ts
Labels: Back-end, Front-end

#265 Improve registration error feedback
  Backend/Controllers/UserController.cs
  Backend/Services/UserApiServices.cs
  src/backend/index.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/Login/RegisterPage/index.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/resources/translations.json
  src/types/theme.ts
Labels: Back-end, Front-end

#217 Add Pronunciations component
  Backend/Controllers/AudioController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Services/WordApiServices.cs
  package.json
  src/backend/index.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/index.ts
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesReducer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTypes.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
  src/resources/translations.json
Labels: Front-end

#270 Return 403 forbidden when not authorized, return 401 when not authenticated
  Backend.Tests/PermissionServiceMock.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Services/PermissionService.cs
Labels: Back-end

#275 Add navigation buttons to appbar
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/GoToHomeButton/tests/GoToHomeButtonComponent.test.tsx
  src/resources/translations.json
Labels: Front-end
