Repository sillsdev/TheCombine, pull requests merged in 2019-07, with the labels that each got.

#111 Fix route for upload
  Backend.Tests/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/UserController.cs
  Backend/Services/LiftService.cs
Labels: Back-end

#112 Tweak character inventory
  src/components/CreateProject/CreateProjectComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/CharacterSetComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/WordTileComponent.tsx
  src/resources/translations.json
  src/types/theme.ts
Labels: Front-end

#113 Fix Merge Goal Crashing when DB Empty
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
Labels: Front-end

#114 Reorganize User Roles
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/UserEditServiceMock.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Interfaces/IUserEditService.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Services/LiftService.cs
  Backend/Services/UserEditApiServices.cs
Labels: Back-end

#118 Add unit tests to LoginComponent
  package-lock.json
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
Labels: Front-end

#124 Fix register page submission and login page spinner
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/index.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
Labels: Front-end

#127 Implement citation form for import
  Backend/Services/LiftService.cs
Labels: Back-end

#132 Fix character inventory
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/WordTileComponent.tsx
Labels: Front-end

#131 Mergedups reorg
  .gitignore
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/WordController.cs
  Backend/Models/Word.cs
  Backend/Services/WordApiServices.cs
  src/backend/index.tsx
  src/components/DraggableWord/actions.tsx
  src/components/DraggableWord/reducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/reducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
  src/goals/MergeDupGoal/mergeDuplicateReducer.tsx
  src/types/word.tsx
  src/utilities.tsx
Labels: Back-end, Front-end

#134 Simplify updating state in login and register forms
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
Labels: Front-end

#135 Merge Dups reorg cleanup
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordCard/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordCard/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/mergeDuplicateReducer.tsx
  src/types/goals.tsx
Labels: Front-end

#137 Follow linter warnings
  src/backend/index.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/ContextMenu/ContextMenu.tsx
  src/components/EmptyGoal/EmptyGoalComponent.tsx
  src/components/GoalTimeline/GoalSuggestions/GoalSuggestionsComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/Login/LoginPage/index.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/Login/RegisterPage/index.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/displayProg.tsx
  src/goals/DefaultGoal/BaseGoalWidget/BaseGoalWidget.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/index.tsx
Labels: Front-end

#133 Create a new UI for selecting goals
  package-lock.json
  src/components/GoalRoute/component.tsx
  src/components/GoalTimeline/DefaultState.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherComponent.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/GoalTimelineHorizontal.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/HorizontalDisplay.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/index.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/tests/GoalTimelineHorizontal.test.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/tests/HorizontalDisplay.test.tsx
  src/resources/translations.json
Labels: Front-end

#128 Add additional unit tests
  __mocks__/axios.js
  src/components/Login/LoginActions.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/tests/CharacterSetComponent.test.tsx
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/WordTileComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/tests/SampleWordsComponent.test.tsx
  src/goals/CharInventoryCreation/components/SampleWords/tests/WordTileComponent.test.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryReducer.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
Labels: Front-end

#139 Zip export part 1
  .gitignore
  Backend.Tests/Assets/SingleEntryLiftWithSound.zip
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/AvatarControllerTests.cs
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/bin/Words/dontrm
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Helper/Utilities.cs
  Backend/Services/LiftService.cs
Labels: Back-end

#142 Add unit testing to Mergedups
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
  src/utilities.tsx
Labels: Front-end

#144 Change project upload from .lift to .zip
  src/components/CreateProject/CreateProjectComponent.tsx
  src/resources/translations.json
Labels: Front-end

#136 Create add words
  __mocks__/axios.js
  src/components/AddWords/AddWordsComponent.tsx
  src/components/AddWords/index.tsx
  src/components/AddWords/tests/AddWords.test.tsx
  src/components/AddWords/tests/__snapshots__/AddWords.test.tsx.snap
  src/resources/translations.json
Labels: Front-end

#146 Make goals serializable
  src/components/GoalRoute/component.tsx
  src/components/GoalTimeline/DefaultState.tsx
  src/components/GoalTimeline/GoalHistory/GoalHistoryComponent.tsx
  src/components/GoalTimeline/GoalSuggestions/GoalSuggestionsComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSwitcher/index.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/GoalsReducer.tsx
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/CreateStrWordInv/CreateStrWordInv.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/tests/displayProg.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/tests/BaseGoalScreen.test.tsx
  src/goals/DefaultGoal/BaseGoalWidget/BaseGoalWidget.tsx
  src/goals/DefaultGoal/BaseGoalWidget/tests/BaseGoalWidget.test.tsx
  src/goals/HandleFlags/HandleFlags.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/MergeDupGoal/MergeDups.tsx
  src/goals/MergeDupGoal/index.tsx
  src/goals/SpellCheckGloss/SpellCheckGloss.tsx
  src/goals/ValidateChars/ValidateChars.tsx
  src/goals/ValidateStrWords/ValidateStrWords.tsx
  src/goals/ViewFinal/ViewFinal.tsx
  src/rootReducer.tsx
  src/types/baseGoal.tsx
  src/types/goals.tsx
  src/types/mockAction.tsx
Labels: Front-end

#149 Removed extraneous "
  src/backend/index.tsx
Labels: Front-end

#151 Fix merge words (Fix #143)
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Word.cs
  Backend/Services/WordApiServices.cs
  docs/api/projects/words/state.md
Labels: Back-end

#147 Audio Import
  Backend.Tests/AudioControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/LiftController.cs
  Backend/Services/LiftService.cs
Labels: Back-end

#153 Merge exact dups
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Services/WordApiServices.cs
Labels: Back-end

#155 Check for valid project in every endpoint
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/WordController.cs
Labels: Back-end

#156 Create user edit fix
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/UserEditRepositoryMock.cs
  Backend/Controllers/UserEditController.cs
  Backend/Models/User.cs
  package-lock.json
  src/backend/index.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/GoalTimelineHorizontal.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/index.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/tests/GoalTimelineHorizontal.test.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/Login/LoginActions.tsx
  src/types/user.tsx
Labels: Back-end, Front-end

#158 Store projectID in localstorage
  src/backend/index.tsx
Labels: Front-end

#159 Make errors passthrough to users in api wrapper
  src/backend/index.tsx
Labels: Front-end

#157 Make secret key (for jwt tokens) an environment variable
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/WordController.cs
  Backend/Program.cs
  Backend/Properties/launchSettings.json
  Backend/Services/UserApiServices.cs
  Backend/Startup.cs
  Backend/appsettings.json
  __mocks__/axios.js
  src/backend/index.tsx
Labels: Back-end

#161 Char inv goal hookup
  src/backend/index.tsx
  src/components/GoalTimeline/GoalTimelineHorizontal/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/GoalsReducer.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/components/Project/UserProject.ts
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/CreateStrWordInv/CreateStrWordInv.tsx
  src/goals/HandleFlags/HandleFlags.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MockMergeDupData.ts
  src/goals/MergeDupGoal/MergeDups.tsx
  src/goals/SpellCheckGloss/SpellCheckGloss.tsx
  src/goals/ValidateChars/ValidateChars.tsx
  src/goals/ValidateStrWords/ValidateStrWords.tsx
  src/goals/ViewFinal/ViewFinal.tsx
  src/types/baseGoal.tsx
  src/types/goals.tsx
Labels: Front-end

#160 Add a semantic domain tree view
  package-lock.json
  src/components/AddWords/AddWordsComponent.tsx
  src/components/AddWords/index.tsx
  src/components/AddWords/tests/AddWords.test.tsx
  src/components/AddWords/tests/__snapshots__/AddWords.test.tsx.snap
  src/components/TreeView/SemanticDomain.ts
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeProps.ts
  src/components/TreeView/TreeViewActions.ts
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/MockSemanticTree.ts
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeViewActions.test.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/components/TreeView/tests/__snapshots__/TreeDepiction.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeViewHeader.test.tsx.snap
  src/resources/semantic.json
  src/resources/tree/intersect.svg
  src/resources/tree/leftEndcap.svg
  src/resources/tree/pillar.svg
  src/resources/tree/rightEndcap.svg
  src/resources/tree/span.svg
  src/resources/tree/teeDown.svg
  src/resources/tree/teeUp.svg
  src/rootReducer.tsx
  src/types/index.tsx
Labels: Front-end

#163 Better Drag and Drop
  package-lock.json
  package.json
  src/backend/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
Labels: Front-end

#164 Allow edit duplicates while adding words
  Backend/Controllers/WordController.cs
  Backend/Services/WordApiServices.cs
  src/backend/index.tsx
  src/components/AddWords/AddWordsComponent.tsx
  src/components/AddWords/tests/AddWords.test.tsx
  src/components/AddWords/tests/__snapshots__/AddWords.test.tsx.snap
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/resources/translations.json
  src/types/word.tsx
Labels: Front-end

#168 Step progress indicator
  package-lock.json
  src/components/GoalTimeline/GoalsReducer.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/displayProg.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/index.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/tests/displayProg.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/tests/BaseGoalScreen.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/resources/translations.json
Labels: Front-end

#169 Reset redux state, part 1
  Backend/Controllers/UserController.cs
  package-lock.json
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/GoalsReducer.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginPage/index.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/rootActions.ts
  src/types/mockAction.tsx
Labels: Front-end

#171 Reset redux store 2
  package-lock.json
  src/components/CreateProject/CreateProjectReducer.tsx
  src/components/CreateProject/tests/CreateProjectReducer.test.tsx
  src/components/DraggableWord/reducer.tsx
  src/components/DraggableWord/tests/reducer.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorReducer.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorReducer.test.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/components/Project/ProjectReducer.tsx
  src/components/Project/tests/ProjectReducer.test.tsx
  src/components/Temp/TempReducer.tsx
  src/components/Temp/tests/TempReducer.test.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryReducer.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
Labels: Front-end

#170 Allow MacOS zip files to be uploaded
  Backend/Controllers/LiftController.cs
  Backend/Services/LiftService.cs
Labels: Back-end, bug

#175 Password hashing
  Backend/Services/UserApiServices.cs
Labels: Back-end

#174 Add import/export ldml files
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/LiftControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/LiftController.cs
  Backend/Services/LiftService.cs
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
Labels: Back-end

#176 Make update functions return 304 if no changes
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
Labels: Back-end

#178 Show appropriate projects
  package-lock.json
  src/backend/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/Project/UserProject.ts
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/types/user.tsx
Labels: Front-end

#182 Semantic domain import
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/ProjectController.cs
  Backend/Interfaces/ISemDomParser.cs
  Backend/Models/Project.cs
  Backend/Models/Word.cs
  Backend/Services/LiftService.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/SemDomParser.cs
  Backend/Startup.cs
  package-lock.json
  src/backend/index.tsx
  src/components/AddWords/AddWordsComponent.tsx
  src/components/AddWords/index.tsx
  src/components/AddWords/tests/AddWords.test.tsx
  src/components/TreeView/SemanticDomain.ts
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/MockSemanticTree.ts
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/resources/semantic.json
  src/types/project.tsx
  src/types/word.tsx
Labels: Back-end, Front-end

#180 Add support for editing in merge dups
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
Labels: Front-end

#179 Reorganize and restyle character inventory goal
  Backend/Models/Project.cs
  Backend/Services/LiftService.cs
  Backend/Services/ProjectApiServices.cs
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/CharacterSetComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/tests/CharacterSetComponent.test.tsx
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/WordTileComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/tests/SampleWordsComponent.test.tsx
  src/goals/CharInventoryCreation/components/SampleWords/tests/WordTileComponent.test.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryReducer.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/resources/translations.json
  src/types/project.tsx
  src/types/theme.ts
Labels: Front-end

#181 Bitmap optimization for duplicate finder
  docs/duplicate_finder_testing.md
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/tests/utilities.test.ts
  src/utilities.tsx
Labels: Front-end

#183 Make side pane automatically open when adding dup
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
Labels: Front-end

#185 Add helper script for dropping DB
  dropDB.bat
Labels: Back-end, enhancement

#184 Add UserRoles API
  Backend.Tests/ProjectServiceMock.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/UserEditRepositoryMock.cs
  Backend.Tests/UserRoleControllerTests.cs
  Backend.Tests/UserRoleServiceMock.cs
  Backend.Tests/UserServiceMock.cs
  Backend/Contexts/UserRoleContext.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Interfaces/IUserEditService.cs
  Backend/Interfaces/IUserRoleContext.cs
  Backend/Interfaces/IUserRoleService.cs
  Backend/Interfaces/IUserService.cs
  Backend/Models/User.cs
  Backend/Models/UserRole.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditRepository.cs
  Backend/Services/UserRoleApiServices.cs
  Backend/Startup.cs
Labels: Back-end

#187 Improve sidebar
  src/components/AppBar/AppBarComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
Labels: Front-end

#188 Persist the redux store
  package-lock.json
  package.json
  src/components/GoalTimeline/GoalSwitcher/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/GoalsReducer.tsx
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/index.tsx
  src/store.tsx
Labels: Front-end

#190 Import semantic domains from file
  Backend/Services/LiftService.cs
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/resources/semantic-domains/en.json
  src/resources/semantic-domains/es.json
  src/resources/semantic-domains/fr.json
Labels: Back-end, Front-end

#189 Further duplicate finder optimization
  docs/duplicate_finder_testing.md
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDupStep/tests/MockMergeDupData.ts
Labels: Front-end

#193 Backend bigfixes and some doc comments
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/Secret.cs
  Backend/Helper/Utilities.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Services/LiftService.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordApiServices.cs
  package-lock.json
  package.json
Labels: Back-end

#194 Increase token expiry to 4 hours
  Backend/Services/UserApiServices.cs
Labels: Back-end

#196 Fixes Mergedups requests
  Backend.Tests/WordControllerTests.cs
  Backend/Models/Word.cs
  Backend/Services/WordApiServices.cs
  src/backend/index.tsx
  src/components/App/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/types/word.tsx
Labels: Back-end, Front-end

#198 Remove original goal timeline
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/resources/translations.json
Labels: Front-end

#199 Fix DataEntry Duplicate Finder & Doc Comments
  Backend/Controllers/LiftController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Program.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/SemDomParser.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditApiServices.cs
  Backend/Services/UserEditRepository.cs
  Backend/Services/UserRoleApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  Backend/Startup.cs
Labels: Back-end

#197 Fix mergedups load
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MockMergeDupData.ts
Labels: Front-end

#200 Add user role authen2
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/AvatarControllerTests.cs
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/PermissionServiceMock.cs
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/UserRoleControllerTests.cs
  Backend.Tests/UserServiceMock.cs
  Backend.Tests/WordControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/BackendFramework.sln
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Interfaces/IUserEditService.cs
  Backend/Models/User.cs
  Backend/Models/UserRole.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditApiServices.cs
  Backend/Startup.cs
  package.json
Labels: Back-end

#195 Add View Final goal
  package-lock.json
  package.json
  src/components/App/component.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/ViewFinal/ViewFinal.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/AlignedList.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/CellColumns.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/DeleteCell.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/DomainCell.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/SenseCell.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/index.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/tests/AlignedList.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/tests/CellColumns.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/tests/DeleteCell.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/tests/DomainCell.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/CellComponents/tests/SenseCell.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/ViewFinalActions.tsx
  src/goals/ViewFinal/ViewFinalComponent/ViewFinalComponent.tsx
  src/goals/ViewFinal/ViewFinalComponent/ViewFinalReducer.tsx
  src/goals/ViewFinal/ViewFinalComponent/icons.tsx
  src/goals/ViewFinal/ViewFinalComponent/index.tsx
  src/goals/ViewFinal/ViewFinalComponent/tests/MockWords.ts
  src/goals/ViewFinal/ViewFinalComponent/tests/ViewFinalActions.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/tests/ViewFinalComponent.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/tests/ViewFinalReducer.test.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
Labels: Front-end

#210 Add script to add admin to database
  seedAdmin.bat
Labels: Back-end

#208 Implement User roles
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/AvatarControllerTests.cs
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/PermissionServiceMock.cs
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/UserRoleControllerTests.cs
  Backend.Tests/UserServiceMock.cs
  Backend.Tests/WordControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/BackendFramework.sln
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Interfaces/IUserService.cs
  Backend/Models/User.cs
  Backend/Models/UserRole.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserApiServices.cs
  Backend/Startup.cs
  src/backend/index.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
Labels: Back-end

#209 Make mergedups behave well with no gloss
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
Labels: Front-end

#211 Rename ViewFinal to ReviewEntries
  src/backend/index.tsx
  src/components/GoalTimeline/DefaultState.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/ReviewEntries/ReviewEntries.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/AlignedList.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/AlignedList.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DeleteCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DomainCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/SenseCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesReducer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/icons.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
  src/goals/ViewFinal/ViewFinalComponent/index.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/goals.tsx
  src/types/index.tsx
Labels: Front-end

#212 Overhaul Lift Import and some cleanup
  Backend.Tests/Assets/SingleEntryLiftWithTwoSound.zip
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/WordController.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordApiServices.cs
  src/components/AddWords/AddWordsComponent.tsx
  src/components/AddWords/tests/AddWords.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MockMergeDupData.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/types/word.tsx
Labels: Back-end

#213 Add Sorting to Character Set
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterDetailComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/CharacterStatusControl.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/index.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceActions.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterCard.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterListComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterStatusText.tsx
  src/goals/CharInventoryCreation/components/CharacterList/index.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryReducer.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/resources/translations.json
Labels: Front-end

#215 Enable parallel tests
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/AvatarControllerTests.cs
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserEditControllerTests.cs
  Backend.Tests/UserRoleControllerTests.cs
  Backend.Tests/WordControllerTests.cs
Labels: Back-end

#218 Fix MergeDupStep rendering with glossless senses
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
Labels: Front-end

#216 Add spell checking to data entry
  docs/data_model.md
  package-lock.json
  package.json
  src/backend/index.tsx
  src/components/App/component.tsx
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryHeader/tests/DataEntryHeader.test.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/DuplicateResolutionView/DuplicateResolutionView.tsx
  src/components/DataEntry/DataEntryTable/DuplicateResolutionView/tests/DuplicateResolutionView.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/DeleteEntry/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/DeleteEntry/tests/DeleteEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingGlossEntry/ExistingGlossEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingGlossEntry/tests/ExistingGlossEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingVernEntry/ExistingVernEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingVernEntry/tests/ExistingVernEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ImmutableExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ExistingEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ImmutableExistingEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewGlossEntry/NewGlossEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewGlossEntry/tests/NewGlossEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewVernEntry/NewVernEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewVernEntry/tests/NewVernEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/SpellingSuggestions/SpellingSuggestions.tsx
  src/components/DataEntry/DataEntryTable/SpellingSuggestions/tests/SpellingSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/index.tsx
  src/components/DataEntry/spellChecker.js
  src/components/DataEntry/tests/DataEntryComponent.test.tsx
  src/components/DataEntry/tests/MockDomainTree.ts
  src/components/DataEntry/tests/MockWord.ts
  src/components/DataEntry/tests/spellChecker.test.ts
  src/components/TreeView/SemanticDomain.ts
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeProps.ts
  src/components/TreeView/TreeViewActions.ts
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/MockSemanticTree.ts
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeViewActions.test.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/resources/dictionaries/en-us.aff.js
  src/resources/dictionaries/en-us.dic.js
  src/resources/translations.json
Labels: Front-end

#221 Change file extension of dictionaries to .ts
  src/components/DataEntry/spellChecker.js
  src/resources/dictionaries/en-us.aff.ts
  src/resources/dictionaries/en-us.dic.ts
Labels: Front-end

#225 Add descriptions to semantic domains
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend/Models/Project.cs
  Backend/Models/Word.cs
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryHeader/tests/DataEntryHeader.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/tests/MockDomainTree.ts
  src/components/TreeView/SemanticDomain.ts
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/tests/MockSemanticTree.ts
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/resources/semantic-domains/en.json
  src/resources/semantic-domains/es.json
  src/resources/semantic-domains/fr.json
Labels: Back-end, Front-end

#228 Fix displaying senses with one gloss in sidebar
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
Labels: Front-end, bug

#229 Disable unused goals
  src/components/GoalTimeline/DefaultState.tsx
Labels: Front-end

#219 Fix Advanced Character Inventory Control
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/WordTileComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/index.tsx
  src/goals/CharInventoryCreation/components/SampleWords/tests/SampleWordsComponent.test.tsx
  src/goals/CharInventoryCreation/components/SampleWords/tests/WordTileComponent.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
Labels: Front-end

#222 Fix review sort
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
Labels: Front-end

#224 Data entry render fix
  package-lock.json
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
Labels: Front-end

#231 Fix __UpdatedUser being added to every project
  Backend/Controllers/ProjectController.cs
Labels: Back-end

#230 Remove most warnings from mergedups
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
Labels: Front-end

#223 Export semantic domains to lift ranges
  Backend.Tests/AudioControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/Properties/Resources.Designer.cs
  Backend/Properties/Resources.resx
  Backend/Resources/sdList.txt
  Backend/Services/LiftApiServices.cs
Labels: Back-end
