Repository sillsdev/TheCombine, pull requests merged in 2019-06, with the labels that each got.

#1 Add API docs
  docs/api/README.md
  docs/api/file.md
  docs/api/project/customField.md
  docs/api/project/get.md
  docs/api/project/post.md
  docs/api/project/project.md
  docs/api/project/settings/get.md
  docs/api/project/settings/put.md
  docs/api/project/words/frontier.md
  docs/api/project/words/get.md
  docs/api/project/words/get_id.md
  docs/api/project/words/post.md
  docs/api/project/words/put.md
  docs/api/project/words/put_id.md
  docs/api/project/words/semanticDomain.md
  docs/api/project/words/state.md
  docs/api/project/words/word.md
  docs/api/project/words/word_tree.png
  docs/api/users/get.md
  docs/api/users/get_all.md
  docs/api/users/post.md
  docs/api/users/put.md
  docs/api/users/user.md
Labels: documentation

#2 Repair front end unit tests
  src/components/App/App.test.tsx
  src/components/Temp/tests/TempActions.test.tsx
  src/components/Temp/tests/TempReducer.test.tsx
  src/components/Temp/tests/__mocks__/axios.ts
Labels: Front-end

#6 Add Merge Word and update Frontier interaction
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Word.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordApiServices.cs
  package-lock.json
Labels: Back-end

#3 Add Login Component
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginComponent.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/index.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/resources/translations.json
Labels: Front-end

#8 Add Debug Only tags to some API functions
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/WordController.cs
Labels: Back-end

#9 Create Project ui
  Backend/Controllers/UserController.cs
  package.json
  src/components/App/App.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/CreateProject/CreateProjectComponent.tsx
  src/components/CreateProject/CreateProjectReducer.tsx
  src/components/CreateProject/index.tsx
  src/components/CreateProject/tests/CreateProjectActions.test.tsx
  src/components/CreateProject/tests/CreateProjectReducer.test.tsx
  src/components/Login/LoginActions.tsx
  src/components/Temp/TempReducer.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
Labels: Front-end

#10 Remove filter argument from get_all_* API routes
  Backend/Controllers/UserController.cs
  Backend/Controllers/WordController.cs
  docs/api/project/get.md
  docs/api/project/settings/get.md
  docs/api/project/words/get.md
  docs/api/users/get_all.md
Labels: Back-end

#11 Login route
  package.json
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/Login/AuthHeaders.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginComponent.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/LogoutButton.tsx
  src/components/Login/index.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/components/Login/tests/__mocks__/axios.ts
  src/components/PrivateRoute/index.tsx
  src/index.tsx
  src/resources/translations.json
Labels: Front-end

#14 Login page alerts
  src/components/App/App.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginComponent.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/index.tsx
  src/resources/translations.json
Labels: Front-end

#15 Implement UserRole completely
  Backend/Contexts/UserContext.cs
  Backend/Contexts/UserRoleContext.cs
  Backend/Contexts/WordContext.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IUserRoleContext.cs
  Backend/Interfaces/IUserRoleService.cs
  Backend/Models/UserRole.cs
  Backend/Services/UserRoleApiServices.cs
  Backend/Startup.cs
  Backend/appsettings.json
Labels: Back-end

#17 Added DupFinder Utility Class
  src/goals/MergeDupGoal/DupFinder/dupFinder.ts
  src/goals/MergeDupGoal/DupFinder/tests/dupFinder.test.ts
  src/types/word.tsx
Labels: Front-end

#28 Add working authentication, register, and login
  Backend/Controllers/UserController.cs
  Backend/Helper/Secretr.cs
  Backend/Interfaces/IUserService.cs
  Backend/Models/User.cs
  Backend/Services/UserApiServices.cs
  Backend/Startup.cs
  Backend/appsettings.json
  src/components/App/App.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginComponent.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/index.tsx
  src/resources/translations.json
Labels: Back-end, Front-end

#31 Add 6-13 Trial Notes
  docs/meeting_notes/5-30_Cleaner_Workflow/cards1.jpg
  docs/meeting_notes/5-30_Cleaner_Workflow/cards2.jpg
  docs/meeting_notes/5-30_Cleaner_Workflow/cleaner_workflow_5-30.md
  docs/meeting_notes/5-30_Cleaner_Workflow/progress1.jpg
  docs/meeting_notes/5-30_Cleaner_Workflow/progress2.jpg
  docs/meeting_notes/5-30_Cleaner_Workflow/sketches.jpg
  docs/meeting_notes/6-13_Merge_Duplicates_Trial/merge_duplicates_trial_6-13.md
Labels: Front-end

#29 Add unit tests for word controller endpoints
  .gitignore
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/WordControllerTests.cs
  Backend.Tests/WordRepositoryMock.cs
  Backend/Models/Word.cs
  BackendFramework.sln
Labels: Back-end

#33 Clean up gitignore
  .gitignore
Labels: documentation

#32 Goal - Character Inventory Creation
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/CharacterSetComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/index.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
  tsconfig.json
Labels: Front-end

#35 Fix disappearing words
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
Labels: Front-end

#37 Rename the datases
  .gitignore
  Backend/appsettings.json
Labels: Back-end

#36 Improve merge duplicate step ux
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/resources/translations.json
Labels: Front-end

#38 Add backend testing to npm test
  package.json
Labels: Back-end

#39 Improve word card format
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordCard/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordCard/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
Labels: Front-end

#40 Navigate from CreateProject to Navigation, fix some tests
  package-lock.json
  src/components/App/App.test.tsx
  src/components/App/DefaultState.tsx
  src/components/App/component.tsx
  src/components/App/index.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/CreateProject/CreateProjectComponent.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LogoutButton.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/index.tsx
Labels: Front-end

#34 Add scrolling goal select UI
  package-lock.json
  package.json
  src/components/App/DefaultState.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorAction.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorReducer.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/index.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorAction.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorReducer.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/tests/GoalSwitcher.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/rootReducer.tsx
  src/types/goals.tsx
  src/types/index.tsx
Labels: Front-end

#45 Fix a number of visual problems in mergedupstep
  src/components/App/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordCard/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
  src/resources/translations.json
  src/types/word.tsx
Labels: Front-end

#13 Add api wrapper
  src/backend/index.tsx
  src/types/project.tsx
Labels: Front-end

#46 Generate backend user unit tests
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserServiceMock.cs
  Backend/Helper/Secret.cs
  Backend/Models/User.cs
  Backend/Services/UserApiServices.cs
Labels: Back-end

#50 Use api wrapper
  src/backend/index.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/Login/LoginActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/CreateStrWordInv/CreateStrWordInv.tsx
  src/goals/HandleFlags/HandleFlags.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
  src/goals/MergeDupGoal/MergeDups.tsx
  src/goals/SpellCheckGloss/SpellCheckGloss.tsx
  src/goals/ValidateChars/ValidateChars.tsx
  src/goals/ValidateStrWords/ValidateStrWords.tsx
  src/goals/ViewFinal/ViewFinal.tsx
  src/types/user.tsx
Labels: Front-end

#51 Fix API Routing Problems
  Backend/Controllers/FrontierController.cs
  setupMongo.js
  setupMongo.ts
  src/backend/index.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/CreateProject/CreateProjectReducer.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/index.tsx
  src/components/Temp/TempActions.tsx
  src/types/baseGoal.tsx
Labels: Front-end

#48 Enable CI for backend tests
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Startup.cs
  package.json
Labels: Back-end

#49 Add 6-18 Merge Duplicates Trial Notes
  docs/meeting_notes/Merge_Duplicates_Trials/merge_duplicates_trials.md
Labels: documentation

#55 Project testing
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/ProjectServiceMock.cs
  Backend.Tests/UserControllerTests.cs
  Backend/Models/Project.cs
  Backend/Services/ProjectApiServices.cs
Labels: Back-end

#54 Combine 'next' and 'refresh' buttons
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
Labels: Front-end

#58 Add UserRole API Testing
  Backend.Tests/UserRoleControllerTests.cs
  Backend.Tests/UserRoleServiceMock.cs
  Backend/Models/UserRole.cs
Labels: Back-end

#56 Navigation rework
  package-lock.json
  src/components/App/component.tsx
  src/components/GoalTimeline/DefaultState.tsx
  src/components/GoalTimeline/GoalHistory/GoalHistoryComponent.tsx
  src/components/GoalTimeline/GoalSuggestions/GoalSuggestionsComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorDropdown/GoalSelectorDropdown.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorDropdown/index.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherActions.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/index.tsx
  src/components/GoalTimeline/GoalSwitcher/tests/GoalSwitcherActions.test.tsx
  src/components/GoalTimeline/GoalTimelineActions.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalTimelineReducers.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Navigation/NavigationActions.tsx
  src/components/Navigation/NavigationBar/NavigationBarComponent.tsx
  src/components/Navigation/NavigationBar/index.tsx
  src/components/Navigation/NavigationReducer.tsx
  src/components/Navigation/index.tsx
  src/components/Navigation/tests/NavigationActions.test.tsx
  src/components/Navigation/tests/NavigationComponent.test.tsx
  src/components/Navigation/tests/NavigationReducer.test.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/CreateStrWordInv/CreateStrWordInv.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalSelect/BaseGoalSelect.tsx
  src/goals/HandleFlags/HandleFlags.tsx
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDups.tsx
  src/goals/SpellCheckGloss/SpellCheckGloss.tsx
  src/goals/ValidateChars/ValidateChars.tsx
  src/goals/ValidateStrWords/ValidateStrWords.tsx
  src/goals/ViewFinal/ViewFinal.tsx
  src/types/baseGoal.tsx
  src/types/goals.tsx
  src/types/nav.tsx
  src/types/stack.ts
Labels: Front-end

#59 Refactor wordlist and apply merges
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/reducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
  src/rootReducer.tsx
  src/types/index.tsx
Labels: Front-end

#61 Upload character inventory to project
  package-lock.json
  src/components/App/component.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/CreateProject/CreateProjectComponent.tsx
  src/components/CreateProject/CreateProjectReducer.tsx
  src/components/CreateProject/index.tsx
  src/components/Login/AuthHeaders.tsx
  src/components/Project/ProjectActions.tsx
  src/components/Project/ProjectReducer.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/rootReducer.tsx
  src/types/index.tsx
  src/types/project.tsx
Labels: Front-end

#64 Obey linter warnings
  package-lock.json
  src/components/App/component.tsx
  src/components/GoalTimeline/GoalTimelineReducers.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginComponent.tsx
  src/components/Login/index.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/DraggableWord/reducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/reducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
Labels: Front-end

#63 Add sorting to word list
  src/goals/MergeDupGoal/MergeDupStep/WordList/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/reducer.tsx
Labels: Front-end

#65 Add lift unit test
  Backend.Tests/UploadControllerTests.cs
  Backend.Tests/WordRepositoryMock.cs
  Backend/Models/Word.cs
  package-lock.json
Labels: Back-end

#70 Big Fix for upload files
  Backend.Tests/UploadControllerTests.cs
  Backend/Models/Word.cs
Labels: Back-end

#69 Add tooltips to merge dups step
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/resources/translations.json
Labels: Front-end

#68 Front end docs
  docs/frontend/README.md
  docs/frontend/addingComponents.md
  docs/frontend/fileStructure/backend.md
  docs/frontend/fileStructure/components.md
  docs/frontend/fileStructure/fileStructure.md
  docs/frontend/fileStructure/goals.md
  docs/frontend/fileStructure/index.tsx.md
  docs/frontend/fileStructure/resources.md
  docs/frontend/fileStructure/rootReducer.tsx.md
  docs/frontend/fileStructure/serviceWorker.ts.md
  docs/frontend/fileStructure/store.tsx.md
  docs/frontend/fileStructure/types.md
  src/index.tsx
Labels: Front-end, documentation

#72 Backend cleanup
  .gitignore
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/ProjectServiceMock.cs
  Backend.Tests/UploadControllerTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserRoleControllerTests.cs
  Backend.Tests/UserRoleServiceMock.cs
  Backend.Tests/UserServiceMock.cs
  Backend.Tests/WordControllerTests.cs
  Backend.Tests/WordRepositoryMock.cs
  Backend/BackendFramework.csproj
  Backend/Contexts/ProjectContext.cs
  Backend/Contexts/UserContext.cs
  Backend/Contexts/UserRoleContext.cs
  Backend/Contexts/WordContext.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UploadContoller.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/Secret.cs
  Backend/Interfaces/IProjectContext.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Interfaces/IUserContext.cs
  Backend/Interfaces/IUserRoleContext.cs
  Backend/Interfaces/IUserRoleService.cs
  Backend/Interfaces/IUserService.cs
  Backend/Interfaces/IWordContext.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Program.cs
  Backend/Services/LiftService.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserRoleApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  Backend/Startup.cs
Labels: Back-end

#60 Upgrade goal selector scroll ui
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorAction.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorReducer.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/index.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorAction.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorReducer.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/resources/translations.json
Labels: Front-end

#74 Backend Audio Upload
  .gitignore
  Backend.Tests/UploadControllerTests.cs
  Backend.Tests/bin/Words/dontrm
  Backend/Controllers/UploadContoller.cs
  package-lock.json
  src/backend/index.tsx
  src/components/App/component.tsx
  src/components/TempAudioFileUpload/CreateProjectActions.tsx
  src/components/TempAudioFileUpload/CreateProjectComponent.tsx
  src/components/TempAudioFileUpload/CreateProjectReducer.tsx
  src/components/TempAudioFileUpload/index.tsx
Labels: Back-end

#75 Backend Avatar Upload
  .gitignore
  Backend.Tests/UploadControllerTests.cs
  Backend/Controllers/UploadContoller.cs
Labels: Back-end

#73 Get words in database that don't fit Char inventory
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/CharacterSetComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/index.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/resources/translations.json
  src/types/index.tsx
Labels: Front-end

#79 Upload unit testing
  .gitignore
  Backend.Tests/Assets/combine.png
  Backend.Tests/Assets/sound.mp3
  Backend.Tests/UploadControllerTests.cs
  Backend/Controllers/UploadContoller.cs
Labels: Back-end

#82 Upload unit testing (again)
  .gitignore
  Backend.Tests/Assets/combine.png
  Backend.Tests/Assets/sound.mp3
  Backend.Tests/UploadControllerTests.cs
  Backend/Controllers/UploadContoller.cs
Labels: Back-end

#85 Stack display and re-org
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
Labels: Front-end

#86 Create-Character-Inventory Improvements
  src/components/App/component.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/CharacterSet/CharacterSetComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/SampleWordsComponent.tsx
  src/goals/CharInventoryCreation/components/SampleWords/WordTileComponent.tsx
  src/resources/translations.json
Labels: Front-end

#89 Add check for file selection (Small fix for issue #76)
  src/components/CreateProject/CreateProjectComponent.tsx
Labels: Front-end

#88 Optimize duplicate finder
  package-lock.json
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDupStep/WordList/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
Labels: Front-end

#91 Goal widgets
  src/components/GoalTimeline/GoalHistory/GoalHistoryComponent.tsx
  src/components/GoalTimeline/GoalSuggestions/GoalSuggestionsComponent.tsx
  src/goals/DefaultGoal/BaseGoalScreen/tests/BaseGoalScreen.test.tsx
  src/goals/DefaultGoal/BaseGoalSelect/BaseGoalSelect.tsx
  src/goals/DefaultGoal/BaseGoalWidget/BaseGoalWidget.tsx
  src/goals/DefaultGoal/BaseGoalWidget/tests/BaseGoalWidget.test.tsx
  src/goals/MergeDupGoal/index.tsx
Labels: Front-end

#96 Hook Character Inventory Creation UI to the rest of the website
  src/components/GoalTimeline/DefaultState.tsx
  src/goals/CharInventoryCreation/index.tsx
Labels: Front-end

#77 Redux declutter
  src/components/DraggableWord/actions.tsx
  src/components/DraggableWord/reducer.tsx
  src/components/Project/ProjectActions.tsx
  src/components/Project/ProjectReducer.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/Display/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/reducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/actions.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
  src/goals/MergeDupGoal/index.tsx
  src/goals/MergeDupGoal/mergeDuplicateReducer.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
Labels: Front-end

#90 Idiotproof MergeDups UI
  package-lock.json
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordCard/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/WordList/component.tsx
  src/goals/MergeDupGoal/MergeDupStep/component.tsx
Labels: Front-end

#100 Improve create project
  src/components/CreateProject/CreateProjectComponent.tsx
  src/resources/translations.json
Labels: Front-end

#104 MergeDups reducer properly updates state
  src/goals/MergeDupGoal/MergeDupStep/reducer.tsx
Labels: Front-end

#105 Nav bar improvements
  src/components/App/component.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/CreateProject/CreateProjectComponent.tsx
  src/components/EmptyGoal/EmptyGoalComponent.tsx
  src/components/EmptyGoal/tests/EmptyGoalComponent.test.tsx
  src/components/GoToHomeButton/GoToHomeButtonComponent.tsx
  src/components/GoToHomeButton/tests/GoToHomeButtonComponent.test.tsx
  src/components/GoalRoute/component.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalWrapper/component.tsx
  src/components/Login/LogoutButton.tsx
  src/components/NavigationBar/NavigationBarComponent.tsx
  src/components/NavigationBar/index.tsx
  src/components/PageNotFound/component.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/GoalHeaderDisplay/GoalHeaderDisplay.tsx
  src/goals/DefaultGoal/BaseGoalScreen/index.tsx
  src/goals/DefaultGoal/BaseGoalWidget/BaseGoalWidget.tsx
  src/resources/CombineLogoV1.png
  src/resources/translations.json
Labels: Front-end

#108 Show confirmation after register and project creation
  src/backend/index.tsx
  src/components/CreateProject/CreateProjectActions.tsx
  src/components/CreateProject/CreateProjectComponent.tsx
  src/components/CreateProject/CreateProjectReducer.tsx
  src/components/CreateProject/index.tsx
  src/components/CreateProject/tests/CreateProjectActions.test.tsx
  src/components/CreateProject/tests/CreateProjectReducer.test.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/Login/RegisterPage/index.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/resources/translations.json
Labels: Front-end

#110 Lift export
  .gitignore
  Backend.Tests/AudioControllerTests.cs
  Backend.Tests/AvatarControllerTests.cs
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/LiftControllerTests.cs
  Backend.Tests/ProjectControllerTests.cs
  Backend.Tests/UploadControllerTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/WordControllerTests.cs
  Backend.Tests/WordRepositoryMock.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/UploadContoller.cs
  Backend/Properties/launchSettings.json
  Backend/Services/LiftService.cs
Labels: Back-end
