Repository sillsdev/TheCombine, pull requests merged in 2020-11, with the labels that each got.

#791 Remove temporary .zip files generated during Lift import and export
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Services/LiftApiServices.cs
Labels: backend, bug, import/export

#792 Release 0.5.0
  package-lock.json
  package.json
Labels: deployment

#793 Set version string for development of next release.
  package-lock.json
  package.json
Labels: deployment

#801 Force garbage collection at end of ExportLiftFile()
  Backend/Controllers/LiftController.cs
Labels: backend, import/export, performance

#805 Consolidate navigation paths; Cleanup GoalTimeline folder structure
  src/backend/index.tsx
  src/components/App/component.tsx
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectNameButton.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/GoalRoute/component.tsx
  src/components/GoalRoute/tests/component.test.tsx
  src/components/GoalTimeline/GoalDisplay/HorizontalDisplay.tsx
  src/components/GoalTimeline/GoalDisplay/VerticalDisplay.tsx
  src/components/GoalTimeline/GoalDisplay/tests/VerticalDisplay.test.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/PageNotFound/component.tsx
  src/components/PasswordReset/RequestPage/component.tsx
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/PasswordReset/actions.tsx
  src/components/PrivateRoute/index.tsx
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/history.ts
Labels: frontend, maintenance

#802 NewEntry note
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/EntryNote.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/index.ts
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/DeleteEntry.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/EntryNote.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/tests/RecentEntry.test.tsx
Labels: component: DataEntry, enhancement

#809 Set cache expiration for frontend route
  nginx/templates/thecombine.conf.template
Labels: enhancement

#808 Add explicit default formatters by language
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package.json
  scripts/printVersion.js
Labels: maintenance

#813 Remove GC.Collect() call from Lift Export
  Backend/Controllers/LiftController.cs
Labels: backend, maintenance

#807 Centralize the AppBar; Remove extraneous component wrappers
  src/backend/index.tsx
  src/backend/localStorage.tsx
  src/components/App/AppLoggedIn.tsx
  src/components/App/component.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectNameButton.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/__snapshots__/AppBarComponent.test.tsx.snap
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/GoalRoute/component.tsx
  src/components/GoalRoute/tests/component.test.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/Login/tests/AuthHeaders.test.tsx
  src/components/PageNotFound/component.tsx
  src/components/PasswordReset/RequestPage/component.tsx
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/PasswordReset/actions.tsx
  src/components/PrivateRoute/index.tsx
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
  src/components/ProjectScreen/ProjectScreenComponent.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/SiteSettings/SiteSettingsComponent.tsx
  src/components/UserSettings/UserSettings.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterListComponent.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/history.ts
  src/tests/history.test.ts
  src/types/currentTab.tsx
  src/types/theme.ts
Labels: frontend, maintenance

#816 Add Markdown link to Docker deployment docs
  README.md
Labels: documentation

#812 ExportProject actions/reducer/state
  src/backend/index.tsx
  src/components/App/DefaultState.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectActions.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectButton.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectReducer.tsx
  src/components/ProjectSettings/ProjectExport/index.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/SiteSettings/ProjectManagement/ProjectManagement.tsx
  src/goals/DefaultGoal/BaseGoalScreen/tests/BaseGoalScreen.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
  src/goals/MergeDupGoal/mergeDuplicateReducer.tsx
  src/rootReducer.tsx
  src/types/index.tsx
Labels: frontend, goal: MergeDup, import/export, refactor

#815 Add liftImported field to existing projects
  scripts/add_lift_imported_field.sh
Labels: deployment, maintenance

#810 Refactor temporary files generated by backend
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/LiftController.cs
  Backend/Helper/FileUtilities.cs
  Backend/Models/Project.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/ProjectApiServices.cs
  src/types/project.tsx
Labels: backend, refactor

#818 Update version number to 0.6.0
  package-lock.json
  package.json
Labels: deployment

#819 Split lift export function in backend
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Services/LiftApiServices.cs
  src/backend/index.tsx
  src/backend/localStorage.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectButton.tsx
Labels: backend, import/export, refactor

#820 Fix memory leak in Lift Export
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Services/LiftApiServices.cs
Labels: backend, import/export, performance

#821 Update Python dev dependencies
  README.md
  dev-requirements.txt
Labels: python

#814 Avoid Base64 encoding lift export files
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  src/backend/index.tsx
Labels: backend, import/export, performance

#824 Fix typo in NGINX configuration
  nginx/templates/thecombine.conf.template
Labels: bug, docker

#826 Create backup/restore scripts for docker containers
  deploy/roles/aws_access/defaults/main.yml
  deploy/roles/combine_backup/templates/combine-backup.j2
  docker_deploy/group_vars/qa/main.yml
  docker_deploy/group_vars/server/main.yml
  docker_deploy/playbook_target_setup.yml
  docker_deploy/roles/combine_backup/defaults/main.yml
  docker_deploy/roles/combine_backup/tasks/main.yml
  docker_deploy/roles/combine_backup/templates/combine-backup.j2
  docker_deploy/roles/combine_backup/templates/combine-restore.j2
  docker_deploy/roles/combine_config/tasks/main.yml
  docker_deploy/roles/combine_config/templates/docker-compose.yml.j2
  docker_deploy/roles/combine_user/tasks/main.yml
  docker_deploy/vars/config_common.yml
  docker_deploy/vars/packages.yml
Labels: backend, deployment, docker

#827 Bump version to 0.6.0-alpha.0
  package-lock.json
  package.json
Labels: versioning

#817 Implement SignalR as middleware for project export enhancement
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/HubContextMock.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/LiftController.cs
  Backend/Helper/CombineHub.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Startup.cs
  nginx/templates/thecombine.conf.template
  package-lock.json
  package.json
  src/backend/index.tsx
  src/components/App/AppLoggedIn.tsx
  src/components/App/DefaultState.tsx
  src/components/App/SignalRHub.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectExport/ExportProjectActions.tsx
  src/components/ProjectExport/ExportProjectButton.tsx
  src/components/ProjectExport/ExportProjectReducer.tsx
  src/components/ProjectExport/index.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectActions.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectButton.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/SiteSettings/ProjectManagement/ProjectManagement.tsx
  src/components/SiteSettings/ProjectManagement/tests/ProjectManagement.test.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
  src/types/runtimeConfig.tsx
Labels: backend, enhancement, frontend, import/export, refactor

#828 Add documentation for Backup/Restore
  docker_deploy/roles/combine_backup/templates/combine-backup.j2
  docker_deploy/roles/combine_backup/templates/combine-restore.j2
  docker_deploy/roles/combine_config/tasks/main.yml
  docs/docker_deploy/README.md
Labels: deployment, documentation

#831 Set AWS profile for ECR to ecr_read_only
  docker_deploy/group_vars/qa/main.yml
Labels: bug, deployment, docker

#832 Functionalize Pronunciations component
  src/components/App/AppLoggedIn.tsx
  src/components/AppBar/ProjectNameButton.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
  src/components/Pronunciations/index.ts
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
Labels: audio, frontend, refactor

#829 Run prettier on the docs folder and on md files.
  docs/api/README.md
  docs/api/projects/get_semantic_domains.md
  docs/api/projects/user_edits/edit.md
  docs/api/projects/user_edits/goal_type.md
  docs/api/projects/user_edits/user_edit.md
  docs/api/projects/words/post_upload_audio.md
  docs/api/projects/words/put.md
  docs/api/projects/words/sense.md
  docs/api/users/authenticate.md
  docs/api/users/post.md
  docs/c_sharp_style_guide.md
  docs/deploy/README.md
  docs/docker_deploy/README.md
  docs/ts_style_guide.md
  package.json
Labels: documentation, maintenance
