Repository sillsdev/TheCombine, pull requests merged in 2020-10, with the labels that each got.

#743 Resolve several GitHub action lint warnings
  src/components/DataEntry/ExistingDataTable/ExistingDataTable.tsx
  src/components/DataEntry/ExistingDataTable/ImmutableExistingData.tsx
  src/components/DataEntry/ExistingDataTable/ImmutableExistingData/tests/ImmutableExistingData.test.tsx
  src/components/DataEntry/ExistingDataTable/tests/ExistingDataTable.test.tsx
  src/components/DataEntry/ExistingDataTable/tests/ImmutableExistingData.test.tsx
  src/components/GoalTimeline/GoalTimelineVertical/tests/GoalTimelineVertical.test.tsx
  src/components/GoalTimeline/GoalTimelineVertical/tests/VerticalDisplay.test.tsx
  src/components/ProjectSettings/ProjectSwitch/tests/ProjectSwitch.test.tsx
  src/components/Temp/TempComponent.tsx
Labels: refactor

#745 Reorganize development scripts
  .gitignore
  README.md
  gen_test_cert.bat
  package.json
  scripts/docker_setup.py
  scripts/dropDB.ts
  scripts/genBackendCoverageReport.ts
  scripts/gen_test_cert.bat
  scripts/importSemanticDomains.ts
  scripts/printVersion.js
  scripts/setAdminUser.ts
  scripts/setupMongo.ts
Labels: refactor

#744 Prune container registry
  docker_deploy/bin/clean_repo.py
  docker_deploy/group_vars/build_agent/main.yml
  docker_deploy/group_vars/qa/main.yml
  docker_deploy/group_vars/server/main.yml
  docker_deploy/playbook_build_agent.yml
  docker_deploy/roles/aws_access/defaults/main.yml
  docker_deploy/roles/aws_access/tasks/main.yml
  docker_deploy/roles/aws_access/templates/config.j2
  docker_deploy/roles/aws_access/templates/credentials.j2
  docker_deploy/vars/aws.yml
  scripts/gen_test_cert.bat
  scripts/printVersion.js
  tox.ini
Labels: deployment, docker

#748 Rename Python CI job to lint
  .github/workflows/python.yml
Labels: refactor, test

#738 Refactor NewEntry: extract Dialogs from VernWithSug
  src/components/DataEntry/DataEntryTable/GlossWithSuggestions/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/VernWithSuggestions.tsx
  src/resources/translations.json
Labels: maintenance

#747 Remove unused variable in test
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
Labels: refactor, test

#749 Add react-localize-crowdin as dev dependency
  package-lock.json
  package.json
Labels: font/language

#753 Support Python 3.9
  .github/workflows/python.yml
Labels: test

#752 Add environment variable instruction for Mac
  README.md
Labels: documentation

#750 Improve backend test coverage of Project
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend/Models/Project.cs
Labels: backend, project, test

#758 Run dotnet-format in CI
  .github/workflows/backend.yml
Labels: test

#757 Normalize backend and frontend format script names
  .github/workflows/frontend.yml
  README.md
  package.json
Labels: refactor

#761 On lift import, preserve entry guids
  Backend/Services/LiftApiServices.cs
Labels: bug, import/export

#764 Test LIFT round trip Guid
  Backend.Tests/Controllers/LiftControllerTests.cs
Labels: backend, import/export, test

#767 Upgrade Python dev-dependencies
  dev-requirements.txt
Labels: python

#769 Add GitHub release badge and
  README.md
Labels: documentation

#771 Add note that sudo is required for docker commands on Linux
  README.md
Labels: documentation

#770 Translation cleanup before crowdin sync
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/resources/translations.json
Labels: font/language

#774 Preserve sense guids
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
Labels: backend, bug, import/export

#773 Move MergeInNote out of area for unused functions
  Backend/Services/LiftApiServices.cs
Labels: maintenance

#779 Disable TLS 1.0 and 1.1 and enable TLS 1.3 in NGINX configuration
  nginx/templates/thecombine.conf.template
Labels: docker, security

#776 Bump version to 0.4.1-alpha.0
  package-lock.json
  package.json
Labels: deployment

#777 Port certmgr to python
  .gitattributes
  certmgr/Dockerfile
  certmgr/README.md
  certmgr/scripts/base_cert.py
  certmgr/scripts/entrypoint.py
  certmgr/scripts/func.py
  certmgr/scripts/func.sh
  certmgr/scripts/letsencrypt.sh
  certmgr/scripts/letsencrypt_cert.py
  certmgr/scripts/self_signed_cert.py
  docker_deploy/roles/combine_config/defaults/main.yml
  docker_deploy/vars/config_common.yml
  scripts/docker_setup.py
Labels: deployment, docker, maintenance, python

#781 Fix defects from PR#777
  certmgr/Dockerfile
  certmgr/scripts/func.py
  certmgr/scripts/letsencrypt_cert.py
Labels: bug, docker

#785 Read audio files & avatars asynchronously
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/ProjectController.cs
Labels: audio, backend, performance

#780 Enable C# 8 nullable compiler feature
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/UserServiceMock.cs
  Backend.Tests/Services/PasswordResetServiceTests.cs
  Backend/BackendFramework.csproj
  Backend/Contexts/EmailContext.cs
  Backend/Contexts/PasswordResetContext.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/FileUtilities.cs
  Backend/Interfaces/IEmailContext.cs
  Backend/Interfaces/IPasswordResetContext.cs
  Backend/Interfaces/IUserService.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/PasswordResetService.cs
  Backend/Services/PermissionService.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/SemDomParser.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  Backend/Startup.cs
Labels: backend, maintenance, refactor
