Repository sillsdev/TheCombine, pull requests merged in 2020-07, with the labels that each got.

#474 Remove unneeded __mocks__/axios.js
  __mocks__/axios.js
  docs/mockExplanation.md
Labels: frontend, refactor

#475 Increase UserRoleController unit test coverage
  Backend.Tests/ProjectServiceMock.cs
  Backend.Tests/UserRoleControllerTests.cs
Labels: backend, test

#466 MultipleRecordings2
  src/components/App/DefaultState.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ExistingEntry.test.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/RecorderIconHolder.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesReducer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/types/theme.ts
Labels: bug, frontend

#413 Create Admin User CLI
  .env.web.auth.template
  .gitignore
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserServiceMock.cs
  Backend/Dockerfile
  Backend/Interfaces/IUserService.cs
  Backend/Services/UserApiServices.cs
  Backend/Startup.cs
  Backend/appsettings.json
  Backend/launch.sh
  README.md
  docker-compose.yml
Labels: backend, enhancement

#470 Bump backend application and test dependencies
  .gitignore
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  README.md
  genBackendCoverageReport.ts
  package.json
Labels: backend, bug

#496 Reduce vert space
  package-lock.json
  package.json
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
Labels: frontend

#445 Forgot password Feature
  Backend.Tests/AvatarControllerTests.cs
  Backend.Tests/EmailServiceMock.cs
  Backend.Tests/PasswordResetContextMock.cs
  Backend.Tests/PasswordResetServiceMock.cs
  Backend.Tests/PasswordResetServiceTests.cs
  Backend.Tests/UserControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/Contexts/EmailContext.cs
  Backend/Contexts/PasswordResetContext.cs
  Backend/Controllers/UserController.cs
  Backend/Interfaces/IEmailContext.cs
  Backend/Interfaces/IEmailService.cs
  Backend/Interfaces/IPasswordResetContext.cs
  Backend/Interfaces/IPasswordResetService.cs
  Backend/Interfaces/IUserService.cs
  Backend/Models/PasswordReset.cs
  Backend/Services/EmailService.cs
  Backend/Services/PasswordResetService.cs
  Backend/Services/UserApiServices.cs
  Backend/Startup.cs
  README.md
  src/backend/index.tsx
  src/components/App/DefaultState.tsx
  src/components/App/component.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/PasswordReset/RequestPage/component.tsx
  src/components/PasswordReset/RequestPage/index.tsx
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/PasswordReset/ResetPage/index.tsx
  src/components/PasswordReset/actions.tsx
  src/components/PasswordReset/reducer.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/resources/translations.json
  src/rootReducer.tsx
  src/types/index.tsx
  src/utilities.tsx
Labels: backend, enhancement, frontend

#503 Change the names of docker containers to align with npm project names
  .env.backend
  .env.backend.auth.template
  .gitignore
  README.md
  docker-compose.yml
Labels: docker, refactor

#513 Add clarification about the SMTP variable values
  README.md
Labels: backend, documentation

#489 Site Settings | Project Management
  .gitignore
  Backend/Models/Project.cs
  Backend/Services/ProjectApiServices.cs
  README.md
  package.json
  src/backend/index.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/BaseSettings/BaseSettingsComponent.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectScreen/ProjectScreenComponent.tsx
  src/components/ProjectSettings/ProjectExport/ExportProjectButton.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectSwitch/ProjectSwitch.tsx
  src/components/ProjectSettings/ProjectSwitch/tests/ProjectSwitch.test.tsx
  src/components/SiteSettings/ProjectManagement/ArchiveProjectButton.tsx
  src/components/SiteSettings/ProjectManagement/ProjectManagement.tsx
  src/components/SiteSettings/ProjectManagement/RestoreProjectButton.tsx
  src/components/SiteSettings/ProjectManagement/index.tsx
  src/components/SiteSettings/ProjectManagement/tests/ProjectManagement.test.tsx
  src/components/SiteSettings/ProjectsExport/ProjectsExport.tsx
  src/components/SiteSettings/SiteSettingsComponent.tsx
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
  src/resources/translations.json
  src/types/project.tsx
  src/types/word.tsx
Labels: backend, enhancement, frontend

#505 Update Environment Variable Names
  .env.backend
  .env.backend.auth.template
  .env.backend.template
  .gitignore
  Backend/Dockerfile
  Backend/Services/UserApiServices.cs
  Backend/Startup.cs
  Backend/appsettings.json
  Backend/launch.sh
  Dockerfile
  README.md
  docker-compose.yml
  nginx/generate_config.sh
  nginx/nginx.conf
Labels: backend, docker, refactor

#412 Strengthen stored passwords
  Backend/Services/UserApiServices.cs
Labels: backend, bug

#519 Integrate license-checker as frontend dev-dependency
  README.md
  package-lock.json
  package.json
Labels: frontend

#521 Update environment variable names
  deploy/vars/vault_config.yml
Labels: backend, bug, deployment

#522 Allow backend to start up even if SMTP environment variables are not set
  Backend/Interfaces/IEmailContext.cs
  Backend/Startup.cs
Labels: backend, bug

#476 Improve code coverage of tests using PermissionServiceMock
  Backend.Tests/PermissionServiceMock.cs
  Backend.Tests/UserRoleControllerTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Services/PermissionService.cs
Labels: backend, test

#523 Run backend on a non-privileged port within Docker container
  Backend/Dockerfile
  docker-compose.yml
  nginx/nginx.conf
Labels: backend, docker, enhancement

#497 Re-enable recording from data entry
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/DeleteEntry/tests/DeleteEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ExistingEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ImmutableExistingEntry.test.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
  src/components/Pronunciations/Recorder.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTypes.ts
Labels: bug, frontend
