Repository sillsdev/TheCombine, pull requests merged in 2020-12, with the labels that each got.

#833 Cleanup old backups
  docker_deploy/group_vars/server/main.yml
  docker_deploy/roles/combine_backup/tasks/main.yml
  docker_deploy/roles/combine_backup/templates/combine-backup-job.j2
  docker_deploy/roles/combine_backup/templates/combine-cleanup.j2
Labels: deployment

#834 Functionalize ReviewEntries' CellComponents
  src/components/AppBar/UserMenu.tsx
  src/components/Buttons/ButtonConfirmation.tsx
  src/components/Buttons/EditTextDialog.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/EntryNote.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/SiteSettings/ProjectManagement/ProjectButtonWithConfirmation.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/AlignedList.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DomainCell.test.tsx
Labels: goal: ReviewEntries, maintenance, refactor

#839 Move Tooltip inside RecorderIcon.
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/resources/translations.json
Labels: audio, maintenance, refactor

#840 Convert AvatarUpload testing from react-dom to react-test-renderer.
  src/components/UserSettings/tests/AvatarUpload.test.tsx
Labels: test

#841 Update App, GoalRoute testing
  package-lock.json
  package.json
  src/components/App/App.test.tsx
  src/components/GoalRoute/tests/component.test.tsx
Labels: test

#842 Remove unused and redundant DeleteWord function.
  src/backend/index.tsx
Labels: frontend

#844 Run npm-update
  package-lock.json
  package.json
Labels: frontend, maintenance

#845 Refactor backend file storage paths
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Util.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Helper/FileOperations.cs
  Backend/Helper/FileStorage.cs
  Backend/Helper/FileUtilities.cs
  Backend/Helper/Sanitization.cs
  Backend/Interfaces/IWordService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/WordApiServices.cs
Labels: backend, maintenance, refactor

#849 Update non-SIL backend dependencies
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
Labels: backend, maintenance

#851 Delete files generated during backend unit tests
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/PasswordResetContextMock.cs
  Backend.Tests/Mocks/PasswordResetServiceMock.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/ProjectServiceMock.cs
  Backend.Tests/Mocks/UserEditRepositoryMock.cs
  Backend.Tests/Mocks/UserServiceMock.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend/Contexts/PasswordResetContext.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Helper/FileStorage.cs
  Backend/Helper/Sanitization.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordApiServices.cs
Labels: backend, maintenance, test

#854 Convert Lift roundtrip testing from [Test] with `foreach` to [TestCase...].
  Backend.Tests/Controllers/LiftControllerTests.cs
Labels: test

#855 Update ReviewEntriesComponent testing
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
Labels: test

#857 Remove vestigial Goal property Tool.
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/CreateStrWordInv/CreateStrWordInv.tsx
  src/goals/HandleFlags/HandleFlags.tsx
  src/goals/MergeDupGoal/MergeDups.tsx
  src/goals/ReviewEntries/ReviewEntries.tsx
  src/goals/SpellCheckGloss/SpellCheckGloss.tsx
  src/goals/ValidateChars/ValidateChars.tsx
  src/goals/ValidateStrWords/ValidateStrWords.tsx
  src/types/baseGoal.tsx
  src/types/goals.tsx
Labels: goal, maintenance

#856 Add .github, docker_deploy folders and .yml files to fmt-frontend.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/python.yml
  .vscode/settings.json
  docker_deploy/group_vars/build_agent/main.yml
  docker_deploy/group_vars/qa/main.yml
  docker_deploy/group_vars/server/main.yml
  docker_deploy/hosts.yml
  docker_deploy/roles/aws_access/tasks/main.yml
  docker_deploy/roles/combine_user/tasks/main.yml
  docker_deploy/roles/docker_install/tasks/main.yml
  docker_deploy/roles/package_install/defaults/main.yml
  package.json
Labels: maintenance

#867 Update version to 0.6.1-alpha.0
  package-lock.json
  package.json
Labels: versioning

#869 Remove bad justify prop.
  src/components/Login/LoginPage/LoginComponent.tsx
Labels: maintenance

#870 Update canius-lite
  package-lock.json
Labels: maintenance

#859 Convert Goal to a class.
  src/backend/index.tsx
  src/components/GoalTimeline/DefaultState.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherComponent.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/CreateStrWordInv/CreateStrWordInv.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/HandleFlags/HandleFlags.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDups.tsx
  src/goals/ReviewEntries/ReviewEntries.tsx
  src/goals/SpellCheckGloss/SpellCheckGloss.tsx
  src/goals/ValidateChars/ValidateChars.tsx
  src/goals/ValidateStrWords/ValidateStrWords.tsx
  src/types/baseGoal.tsx
  src/types/goals.tsx
  src/types/word.tsx
Labels: goal, maintenance

#872 Update BaseGoalScreen testing.
  src/goals/DefaultGoal/BaseGoalScreen/tests/BaseGoalScreen.test.tsx
Labels: goal, test

#874 Enable formatting prose in Markdown
  .gitattributes
  docs/api/projects/get_semantic_domains.md
  docs/api/projects/project.md
  docs/api/projects/project_with_user.md
  docs/api/projects/words/gloss.md
  docs/api/projects/words/semanticDomain.md
  docs/api/projects/words/sense.md
  docs/data_model.md
  docs/deploy/README.md
  docs/docker_deploy/README.md
  docs/frontend/README.md
  docs/frontend/addingComponents.md
  docs/frontend/fileStructure/backend.md
  docs/frontend/fileStructure/components.md
  docs/frontend/fileStructure/goals.md
  docs/frontend/fileStructure/index.tsx.md
  docs/frontend/fileStructure/rootReducer.tsx.md
  docs/frontend/fileStructure/serviceWorker.ts.md
  docs/frontend/fileStructure/store.tsx.md
  docs/frontend/fileStructure/types.md
  docs/meeting_notes/5-30_Cleaner_Workflow/cleaner_workflow_5-30.md
  docs/meeting_notes/cleaner_workflow_5-30.md
  docs/ts_style_guide.md
  package.json
  user_guide/docs/dataEntry.md
  user_guide/docs/project.md
Labels: documentation, maintenance

#873 Update README to cover macOS setup instructions
  README.md
Labels: documentation

#875 Restrict large file uploads to only the Lift Upload endpoint
  Backend/Controllers/LiftController.cs
  Backend/Program.cs
  user_guide/docs/project.md
  user_guide/mkdocs.yml
Labels: backend, documentation, refactor

#877 [UserSettings] Fix 'save' text.
  src/components/UserSettings/AvatarUpload.tsx
  src/components/UserSettings/UserSettings.tsx
Labels: font/language

#876 Make ProjectService.CanImportLift async
  Backend.Tests/Mocks/ProjectServiceMock.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Services/ProjectApiServices.cs
Labels: backend, refactor

#884 Use new canonical dotnet Docker image name
  Backend/Dockerfile
Labels: docker, refactor

#881 Use nullable compiler option for backend test project
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/EmailServiceMock.cs
  Backend.Tests/Mocks/PasswordResetContextMock.cs
  Backend.Tests/Mocks/ProjectServiceMock.cs
  Backend.Tests/Mocks/UserServiceMock.cs
  Backend.Tests/Services/PasswordResetServiceTests.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/ProjectApiServices.cs
Labels: backend, maintenance, test

#887 [UserMenu] Close when selection is made.
  src/components/AppBar/UserMenu.tsx
Labels: frontend

#878 Stream all file downloads
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Services/EmailService.cs
  Backend/Services/PermissionService.cs
Labels: backend, performance

#886 [DownloadButton] Simplify with switch statements.
  src/components/ProjectExport/DownloadButton.tsx
Labels: frontend, import/export, maintenance

#891 Update Python dependencies
  dev-requirements.txt
Labels: maintenance, python

#893 Properly use async/await in all areas it can be used in backend
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditApiServices.cs
  Backend/Services/WordApiServices.cs
Labels: backend, performance, refactor

#889 Accounts and settings: bug fixes and User Guide fill-in.
  src/components/SiteSettings/UserManagment/UserList.tsx
  src/components/UserSettings/AvatarUpload.tsx
  src/components/UserSettings/UserSettings.tsx
  src/resources/translations.json
  user_guide/docs/account.md
  user_guide/docs/admin.md
  user_guide/docs/images/login.png
  user_guide/docs/images/projectCreateTzotzil.png
  user_guide/docs/images/userMenu.png
  user_guide/docs/images/userMenuAdmin.png
  user_guide/docs/index.md
  user_guide/docs/project.md
Labels: documentation, frontend, security
