Repository sillsdev/TheCombine, pull requests merged in 2020-09, with the labels that each got.

#676 [WordApiServices > WordIsUnique] Remove index usage
  Backend/Services/WordApiServices.cs
Labels: backend, bug

#653 [ReviewEntries] Wait until words loaded to show table
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
Labels: bug, goal: ReviewEntries

#680 [DataEntryTable] Don't update frontier if a previous update is still in progress
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
Labels: component: DataEntry, performance

#674 Fix frontend LGTM warnings
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/ProjectSettings/ProjectUsers/ProjectUsers.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterListComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
Labels: bug, frontend

#683 Case insensitive tests
  Backend.Tests/UserControllerTests.cs
  Backend.Tests/UserServiceMock.cs
  Backend.Tests/Util.cs
  Backend/Services/PasswordResetService.cs
Labels: test

#682 Uninstall @types/recordrtc; Use codecs=pcm
  package-lock.json
  package.json
  src/components/Pronunciations/Recorder.ts
Labels: audio

#686 Add LGTM badges to README
  README.md
Labels: documentation

#687 Fix backend LGTM issues and organize unit tests
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/EmailServiceMock.cs
  Backend.Tests/Mocks/PasswordResetContextMock.cs
  Backend.Tests/Mocks/PasswordResetServiceMock.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/ProjectServiceMock.cs
  Backend.Tests/Mocks/UserEditRepositoryMock.cs
  Backend.Tests/Mocks/UserRoleServiceMock.cs
  Backend.Tests/Mocks/UserServiceMock.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend.Tests/Models/UserRoleTests.cs
  Backend.Tests/Models/UserTests.cs
  Backend.Tests/Models/WordTests.cs
  Backend.Tests/Services/PasswordResetServiceTests.cs
  Backend.Tests/Util.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
Labels: backend, refactor, test

#689 Add links to our style guides
  README.md
Labels: documentation

#679 Make LiftService a true transient service
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  Backend/Startup.cs
Labels: backend

#693 [GoalsActions] Fix user updating during project creation
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend/Controllers/UserEditController.cs
  Backend/Models/User.cs
  src/backend/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
Labels: backend, frontend, project, refactor

#700 README Install list: remove 'server' from 'MongoDB'
  README.md
Labels: documentation

#690 Increase max request body size to allow clients to import large projects
  Backend/Program.cs
  nginx/nginx.conf
Labels: deployment

#694 Reduce backend memory leak in Lift export
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Startup.cs
Labels: backend, bug

#550 Docker deploy
  .env.backend.auth.template
  .env.backend.template
  .gitignore
  Backend/Dockerfile
  Backend/launch.sh
  Dockerfile
  README.md
  deploy/roles/ansible_depends/tasks/main.yml
  deploy/roles/mongodb/tasks/install.yml
  docker_deploy/ansible.cfg
  docker_deploy/group_vars/qa/main.yml
  docker_deploy/group_vars/qa/vault.yml
  docker_deploy/group_vars/server/main.yml
  docker_deploy/group_vars/server/vault.yml
  docker_deploy/host_vars/qa-thecombine.psonet.yml
  docker_deploy/host_vars/thecombine.yml
  docker_deploy/hosts.yml
  docker_deploy/playbook_target_setup.yml
  docker_deploy/roles/combine_config/defaults/main.yml
  docker_deploy/roles/combine_config/tasks/main.yml
  docker_deploy/roles/combine_config/templates/config.js.j2
  docker_deploy/roles/combine_config/templates/docker-compose.yml.j2
  docker_deploy/roles/combine_config/templates/env.backend.j2
  docker_deploy/roles/combine_config/templates/env.frontend.j2
  docker_deploy/roles/combine_user/defaults/main.yml
  docker_deploy/roles/combine_user/tasks/main.yml
  docker_deploy/roles/docker_install/handlers/main.yml
  docker_deploy/roles/docker_install/tasks/main.yml
  docker_deploy/roles/package_install/defaults/main.yml
  docker_deploy/roles/package_install/tasks/main.yml
  docker_deploy/vars/config_common.yml
  docker_deploy/vars/packages.yml
  docker_deploy/vars/vault_config.yml
  docker_setup.py
  docs/docker_deploy/README.md
  docs/docker_deploy/images/ubuntu-software-selection.png
  nginx/conf.d/thecombine.conf
  nginx/generate_config.sh
  public/index.html
Labels: deployment, docker

#715 Add Spansh and French options to spellcheck
  src/backend/index.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/GlossWithSuggestions/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/DataEntry/spellChecker.ts
  src/resources/dictionaries/es.aff.ts
  src/resources/dictionaries/es.dic.ts
  src/resources/dictionaries/fr.aff.ts
  src/resources/dictionaries/fr.dic.ts
  src/resources/dictionaries/index.ts
Labels: font/language

#720 Cleanup docker config
  docker_deploy/ansible.cfg
  docker_deploy/group_vars/qa/main.yml
  docker_deploy/group_vars/server/main.yml
  docker_deploy/roles/package_install/tasks/main.yml
  docker_deploy/vars/aws.yml
  docker_deploy/vars/config_common.yml
Labels: deployment, docker, refactor

#724 Version Project
  .dockerignore
  .env
  .gitignore
  README.md
  package-lock.json
  package.json
  printVersion.js
  src/components/AppBar/UserMenu.tsx
Labels: docker, frontend

#726 Add localization, license, contributors badges
  README.md
  package-lock.json
  package.json
Labels: documentation

#727 Remove tsc from package.json
  package-lock.json
  package.json
Labels: bug

#728 Setup targets to pull Docker images from AWS Elastic Container Registry
  .gitignore
  deploy/roles/the_combine_app/tasks/install.yml
  docker_deploy/group_vars/qa/main.yml
  docker_deploy/playbook_target_setup.yml
  docker_deploy/roles/aws_access/defaults/main.yml
  docker_deploy/roles/aws_access/tasks/main.yml
  docker_deploy/roles/aws_access/templates/config.j2
  docker_deploy/roles/aws_access/templates/credentials.j2
  docker_deploy/roles/docker_install/files/daemon.json
  docker_deploy/roles/docker_install/handlers/main.yml
  docker_deploy/roles/docker_install/tasks/main.yml
  docker_deploy/vars/aws.yml
  docker_deploy/vars/vault_config.yml
Labels: deployment, docker, enhancement

#729 Fix frontend LGTM issue
  src/components/Temp/TempComponent.tsx
Labels: frontend, refactor

#618 [Project.AutocompleteSetting, DataEntryTable] Update autocomplete settings with vernacular suggestions
  Backend/Models/Project.cs
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/tests/RecentEntry.test.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/resources/translations.json
  src/types/AutoComplete.tsx
  src/types/project.tsx
Labels: backend, component: DataEntry

#732 Split frontend and backend unit testing into two scripts
  README.md
  package.json
Labels: refactor, test

#733 Enable GitHub Actions CI
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  README.md
Labels: maintenance

#740 In setState, use (prevState, props) where appropriate
  src/components/BaseSettings/BaseSettingsComponent.tsx
  src/components/ContextMenu/ContextMenu.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/PasswordReset/RequestPage/component.tsx
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectSettings/ProjectName/ProjectName.tsx
  src/components/ProjectSettings/ProjectSwitch/ProjectSwitch.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/ProjectSettings/ProjectUsers/ProjectUsers.tsx
  src/components/ProjectSettings/ProjectUsers/UserList.tsx
  src/components/SiteSettings/ProjectManagement/ProjectManagement.tsx
  src/components/SiteSettings/UserManagment/UserManagment.tsx
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterEntry/CharacterEntryComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
Labels: frontend, refactor
