Repository sillsdev/TheCombine, pull requests merged in 2020-08, with the labels that each got.

#575 Strengthen Ansible Vault password
  deploy/group_vars/local/vault.yml
  deploy/group_vars/nuc/vault.yml
  deploy/vars/vault_config.yml
Labels: deployment, security

#577 Password fix
  deploy/vars/vault_config.yml
Labels: bug, deployment, security

#500 Setup backend for email invite
  Backend.Tests/ProjectServiceMock.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Models/Project.cs
  Backend/Services/ProjectApiServices.cs
  src/backend/index.tsx
  src/components/App/component.tsx
  src/components/Buttons/LoadingDoneButton.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/components/ProjectInvite/index.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/ProjectSettings/ProjectUsers/ProjectUsers.tsx
Labels: backend, enhancement

#590 Fix user's phone number showing up as their name in the project settings
  src/components/UserSettings/UserSettings.tsx
Labels: bug, frontend

#591 Run backend process as non-root user in Docker container
  Backend/Dockerfile
  docker-compose.yml
Labels: docker, enhancement, security

#585 [DataEntry] Overhaul vernacular, duplicates
  .vscode/launch.json
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/DuplicateResolutionView/DuplicateResolutionView.tsx
  src/components/DataEntry/DataEntryTable/DuplicateResolutionView/tests/DuplicateResolutionView.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingVernacular/ExistingVernacular.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ExistingVernacular/tests/ExistingVernacular.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/ImmutableExistingEntry.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ExistingEntry.test.tsx
  src/components/DataEntry/DataEntryTable/ExistingEntry/tests/ImmutableExistingEntry.test.tsx
  src/components/DataEntry/DataEntryTable/GlossWithSuggestions/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/GlossWithSuggestions/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewVernEntry/NewVernEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewVernEntry/tests/NewVernEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/DeleteEntry/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/DeleteEntry/tests/DeleteEntry.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/tests/RecentEntry.test.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/SenseDialog/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/VernDialog/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/VernDialog/tests/VernDialog.test.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/tests/VernWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
Labels: refactor

#639 Fix crash involving multiple glosses for one language
  Backend/Services/LiftApiServices.cs
Labels: bug

#649 Update RecordRTC
  package-lock.json
  package.json
  src/components/Pronunciations/Recorder.ts
Labels: audio

#650 Setup periodic backups of TheCombine data
  .gitignore
  deploy/group_vars/local/aws.yml
  deploy/group_vars/nuc/main.yml
  deploy/group_vars/server/main.yml
  deploy/group_vars/server/vault.yml
  deploy/playbook_config_backup.yml
  deploy/roles/aws_access/defaults/main.yml
  deploy/roles/aws_access/tasks/main.yml
  deploy/roles/aws_access/templates/config.j2
  deploy/roles/aws_access/templates/credentials.j2
  deploy/roles/combine_backup/tasks/main.yml
  deploy/roles/combine_backup/templates/combine-backup.j2
Labels: deployment, enhancement

#648 Move GoalProps to more sensible place
  src/goals/MergeDupGoal/MergeDups.tsx
  src/types/goals.tsx
Labels: goal: MergeDup

#651 [NewEntry] Remove async/await
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
Labels: component: DataEntry, performance

#661 Sync up @types/recordrtc package-lock.json with npm install
  package-lock.json
Labels: frontend, maintenance

#666 Add backend audio merging in MergeDuplicates
  Backend/Services/WordApiServices.cs
Labels: backend, goal: MergeDup

#659 Allow escape from VernDialog
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/SenseDialog/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/VernDialog/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/VernWithSuggestions/VernWithSuggestions.tsx
Labels: component: DataEntry

#671 Refactor several backend modules
  Backend/Contexts/EmailContext.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/FileUtilities.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  Backend/Startup.cs
Labels: backend, refactor
