Repository sillsdev/TheCombine, pull requests merged in 2020-06, with the labels that each got.

#372 Correct directory used for Backend software
  deploy/build.sh
  deploy/playbook_publish.yml
  deploy/roles/dotnet_core/defaults/main.yml
  deploy/roles/the_combine_app/tasks/backend_cert.yml
  deploy/roles/the_combine_app/tasks/install.yml
  deploy/roles/the_combine_app/tasks/main.yml
  deploy/roles/the_combine_app/tasks/test.yml
  deploy/vars/config_common.yml
Labels: bug, deployment

#380 Fix lgtm errors for c#
  .gitignore
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Helper/FileUtilities.cs
Labels: backend

#381 Add trailing '/' to combine_build_dir variable.
  deploy/playbook_publish.yml
Labels: bug, deployment

#391 Update version of netcoreapp
  .vscode/launch.json
Labels: bug

#405 Fix README getting started link to point to .NET Core 3.1
  README.md
Labels: documentation

#408 Move ResultOfUpdate into a common module
  Backend.Tests/ProjectServiceMock.cs
  Backend.Tests/UserRoleServiceMock.cs
  Backend.Tests/UserServiceMock.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Helper/ResultOfUpdate.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Interfaces/IUserRoleService.cs
  Backend/Interfaces/IUserService.cs
  Backend/Models/UserRole.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserRoleApiServices.cs
Labels: backend, refactor

#401 Add Ubuntu 18.04 development instructions
  .gitignore
  README.md
  mongo_database/.gitignore
  setupMongo.ts
Labels: documentation

#368 Cleanup duplicated password hashing
  Backend/Services/UserApiServices.cs
Labels: backend, refactor

#428 Change audio recorder color while recording - UX suggestion
  src/components/Pronunciations/AudioRecorder.tsx
Labels: Needs UX Design

#430 Remove outdated .NET Core 2.2 test dependencies from the backend
  Backend.Tests/Backend.Tests.csproj
Labels: backend, bug

#433 Reference the proper web SDK in Backend tests for .NET Core 3.0+
  Backend.Tests/Backend.Tests.csproj
Labels: backend, bug

#416 Shift-Click to delete recording
  Backend.Tests/WordControllerTests.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordService.cs
  Backend/Services/WordApiServices.cs
  src/backend/index.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
Labels: backend, frontend

#415 Dockerize Application
  .dockerignore
  .env.web
  .gitattributes
  .gitignore
  Backend/.dockerignore
  Backend/Dockerfile
  Backend/Startup.cs
  Backend/appsettings.json
  Dockerfile
  README.md
  docker-compose.yml
  nginx/certs/cert.pem
  nginx/certs/key.pem
  nginx/generate_config.sh
  nginx/nginx.conf
Labels: docker

#446 Use identical baseURL in production
  .gitignore
  README.md
  docker-compose.yml
  nginx/generate_config.sh
  src/types/runtimeConfig.tsx
Labels: docker, frontend, refactor

#447 Fix baseURL
  src/backend/index.tsx
  src/types/runtimeConfig.tsx
Labels: bug, frontend

#310 Frontend Implementation of Site Admin
  README.md
  src/backend/index.tsx
  src/components/App/component.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/SiteSettings/ProjectsExport/ProjectsExport.tsx
  src/components/SiteSettings/ProjectsExport/index.tsx
  src/components/SiteSettings/SiteSettingsComponent.tsx
  src/components/SiteSettings/index.tsx
  src/resources/translations.json
Labels: enhancement, frontend

#462 Remove '/v1' from baseUrl configuration files
  deploy/group_vars/nuc/main.yml
  deploy/group_vars/server/main.yml
Labels: bug, deployment

#450 Update everything
  package-lock.json
  package.json
  src/components/AppBar/tests/__snapshots__/AppBarComponent.test.tsx.snap
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSwitcher/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/ProjectSettings/ProjectSwitch/ProjectSwitch.tsx
  src/components/ProjectSettings/ProjectSwitch/index.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/DomainTile.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeDepiction.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeViewHeader.test.tsx.snap
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterDetailComponent.tsx
  src/goals/CharInventoryCreation/tests/CharInventoryActions.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/index.tsx
  src/types/word.tsx
  src/utilities.tsx
Labels: enhancement
