Repository sillsdev/TheCombine, pull requests merged in 2021-07, with the labels that each got.

#1238 Upgrade Python dependencies & use mypy strict mode
  certmgr/scripts/letsencrypt_cert.py
  certmgr/scripts/utils.py
  deploy/bin/clean_repo.py
  deploy/roles/combine_maintenance/files/aws_backup.py
  deploy/roles/combine_maintenance/files/combine_app.py
  deploy/roles/combine_maintenance/files/maint_utils.py
  dev-requirements.in
  dev-requirements.txt
  docs/user_guide/mkdocs.yml
  pyproject.toml
  setup.cfg
Labels: dependencies, python

#1222 Remove backend usage of deprecated Newtonsoft.Json
  Backend/Models/Project.cs
  Backend/Models/Word.cs
  Backend/Services/PermissionService.cs
  docs/user_guide/docs/licenses/backend_licenses.txt
Labels: backend, dependencies, maintenance, refactor

#1236 Deploy user guide to GitHub Pages
  .github/workflows/pages.yml
  README.md
  tox.ini
Labels: documentation

#1232 Refactor backend to use idiomatic C# 9 conventions
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Helper/DuplicateFinderTests.cs
  Backend.Tests/Helper/LevenshteinDistanceTests.cs
  Backend.Tests/Helper/SanitizationTests.cs
  Backend.Tests/Mocks/HubContextMock.cs
  Backend.Tests/Mocks/MergeBlacklistRepositoryMock.cs
  Backend.Tests/Mocks/PasswordResetContextMock.cs
  Backend.Tests/Mocks/PasswordResetServiceMock.cs
  Backend.Tests/Models/MergeBlacklistEntryTests.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend.Tests/Models/UserRoleTests.cs
  Backend.Tests/Models/UserTests.cs
  Backend.Tests/Services/MergeServiceTests.cs
  Backend.Tests/Util.cs
  Backend.Tests/UtilTests.cs
  Backend/Helper/LevenshteinDistance.cs
  Backend/Models/EmailInvite.cs
  Backend/Models/MergeBlacklistEntry.cs
  Backend/Models/PasswordReset.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Services/LiftService.cs
Labels: backend, refactor

#1243 Unpin isort
  dev-requirements.in
  dev-requirements.txt
  tox.ini
Labels: dependencies, python

#1242 User Guide: Add Review Entries, Vernacular text; Update Project text.
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/images/reviewEntriesColumns.png
  docs/user_guide/docs/project.md
Labels: documentation

#1245 Update launch.json .NET folder 3.1 -> 5.0.
  .vscode/launch.json
Labels: maintenance

#1244 Add Definition model, import, export.
  Backend/Helper/DuplicateFinder.cs
  Backend/Models/Word.cs
  Backend/Services/LiftService.cs
  Backend/Services/WordService.cs
  src/api/.openapi-generator/FILES
  src/api/models/definition.ts
  src/api/models/index.ts
  src/api/models/sense.ts
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/goals/CharInventoryCreation/Redux/CharacterInventoryActions.ts
  src/goals/MergeDupGoal/Redux/MergeDupActions.ts
  src/goals/MergeDupGoal/Redux/tests/MergeDupActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesActions.ts
  src/types/word.ts
Labels: backend, enhancement, frontend, goal: MergeDup, import/export, maintenance, refactor

#1246 Add unit test; Use em-dash; Replace one-liner ifs.
  Backend.Tests/Helper/DuplicateFinderTests.cs
  README.md
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/project.md
  src/components/TreeView/TreeDepiction.tsx
Labels: maintenance, test

#1249 Project settings refactor
  src/backend/index.ts
  src/components/App/AppLoggedIn.tsx
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/ProjectSettings/ProjectName/ProjectName.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/index.ts
Labels: frontend, maintenance, project

#1258 Fix edit_uri and add mkdocs-htmlproofer-plugin build option
  dev-requirements.in
  dev-requirements.txt
  docs/user_guide/mkdocs.yml
Labels: documentation

#1257 Add project owner permission
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Models/UserRole.cs
  Backend/Services/PermissionService.cs
  deploy/roles/combine_maintenance/files/combine_app.py
  src/api/models/permission.ts
Labels: backend, project

#1259 Maintenance scripts to manage project owner permissions
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/combine_app.py
  deploy/roles/combine_maintenance/files/set_proj_owner.py
Labels: maintenance, python

#1262 Install set_proj_owner.py script on target
  deploy/roles/combine_maintenance/tasks/main.yml
Labels: deployment

#1263 Docker 20.10
  deploy/roles/docker_install/defaults/main.yml
  deploy/roles/docker_install/handlers/main.yml
  deploy/roles/docker_install/tasks/main.yml
Labels: deployment, docker, kubernetes

#1266 Bump version to 0.7.2
  package-lock.json
  package.json
Labels: versioning

#1268 Bump version to 0.7.3-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#1264 Fix vscode default tab setting to 4 spaces for cs.
  .vscode/settings.json
Labels: maintenance

#1279 Update slogan on landing page.
  src/resources/translations.json
Labels: documentation

#1280 Bump to version 0.7.3.
  package-lock.json
  package.json
Labels: versioning

#1281 Bump version to 0.7.4-alpha.0
  package-lock.json
  package.json
Labels: versioning
