Repository sillsdev/TheCombine, pull requests merged in 2021-09, with the labels that each got.

#1355 Bump Python dependencies
  dev-requirements.txt
Labels: python, dependencies

#1357 Fix handling case if audio file is missing
  Backend/Controllers/AudioController.cs
Labels: bug, backend

#1356 Remove duplicated CORS attributes from Controllers
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/InviteController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/MergeController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Startup.cs
Labels: backend, refactor

#1360 Create a cleanup local repository script
  README.md
  scripts/clean_aws_repo.py
  scripts/cleanup_local_repo.py
Labels: maintenance, python

#1361 Bump to version 0.7.5
  package-lock.json
  package.json
Labels: versioning

#1362 Bump version to 0.7.6-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1363 Create issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance

#1369 Pin Node to 16.8 to avoid 16.9 bug.
  .github/workflows/frontend.yml
Labels: bug, dependencies

#1366 Create service accounts for AWS & Kubernetes access
  deploy/playbook_kube_config.yml
  deploy/roles/aws_login_job/templates/aws-ecr-login-cronjob.yaml.j2
  deploy/roles/aws_login_job/templates/aws-ecr-login-oneshot.yaml.j2
  deploy/roles/k8s_accounts/defaults/main.yml
  deploy/roles/k8s_accounts/tasks/main.yml
  deploy/roles/k8s_accounts/templates/role_ecr_login.yml.j2
  deploy/roles/k8s_accounts/templates/role_maintenance.yml.j2
  deploy/roles/k8s_accounts/templates/service_acct_ecr_login.yml.j2
  deploy/roles/k8s_accounts/templates/service_acct_maint.yml.j2
  deploy/roles/k8s_config/defaults/main.yml
  deploy/roles/k8s_config/templates/cronjob-daily-backup.yaml.j2
  deploy/roles/k8s_config/templates/deployment-maintenance.yaml.j2
  deploy/roles/k8s_install/defaults/main.yml
  deploy/vars/config_common.yml
  docs/deploy/README.md
  scripts/clean_aws_repo.py
Labels: deployment, kubernetes

#1372 Refactor Backend
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Mocks/MergeBlacklistRepositoryMock.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/ProjectRepositoryMock.cs
  Backend.Tests/Mocks/UserRepositoryMock.cs
  Backend.Tests/Mocks/UserRoleRepositoryMock.cs
  Backend.Tests/Models/MergeWordsTests.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend.Tests/Util.cs
  Backend/Controllers/UserController.cs
  Backend/Interfaces/IMergeService.cs
  Backend/Models/EmailInvite.cs
  Backend/Models/MergeWords.cs
  Backend/Models/Project.cs
  Backend/Models/Word.cs
  Backend/Repositories/WordRepository.cs
  Backend/Services/LiftService.cs
  Backend/Services/WordService.cs
Labels: backend, refactor, maintenance

#1373 Use consistent import style for backend module
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
Labels: frontend, refactor

#1374 Email invite add notification
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/resources/translations.json
Labels: frontend

#1375 Add instructions for installing Helm
  docs/deploy/README.md
Labels: documentation, deployment, kubernetes

#1376 Spawn new Thread for the export [backend], auto-download when export done [frontend]
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Helper/TimeTests.cs
  Backend/Controllers/LiftController.cs
  Backend/Helper/CombineHub.cs
  Backend/Helper/FileStorage.cs
  Backend/Services/LiftService.cs
  src/components/App/SignalRHub.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectExport/ExportButton.tsx
  src/components/ProjectExport/Redux/ExportProjectActions.ts
  src/components/ProjectExport/Redux/ExportProjectReducer.ts
  src/components/ProjectExport/Redux/ExportProjectReduxTypes.ts
  src/components/ProjectSettings/ProjectUsers/ActiveUsers.tsx
  src/components/ProjectSettings/ProjectUsers/UserList.tsx
  src/resources/translations.json
Labels: backend, import/export

#1378 Unpin NodeJS in GitHub Actions
  .github/workflows/frontend.yml
Labels: frontend, test, dependencies

#1377 Improve ids for automated testing
  src/components/AppBar/UserMenu.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectSettings/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/components/UserSettings/UserSettings.tsx
Labels: frontend, test

#1380 Bump to version 0.7.6
  package-lock.json
  package.json
Labels: versioning

#1381 Bump to version 0.7.7-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1384 Disable captcha for qa server
  deploy/hosts.yml
Labels: enhancement, deployment

#1383 Minor backend cleanup
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Models/MergeWordsTests.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Helper/FileStorage.cs
  Backend/Repositories/UserRepository.cs
Labels: backend, maintenance

#1386 Fix frontend spelling typos
  src/backend/index.ts
  src/components/GoalTimeline/Redux/GoalActions.ts
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/goals/CharInventoryCreation/Redux/CharacterInventoryActions.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo.tsx
  src/goals/CreateCharInv/CharInvComponent/CharInvCompleted.tsx
Labels: frontend, maintenance

#1382 K3s engine
  deploy/group_vars/nuc/main.yml
  deploy/group_vars/qa/main.yml
  deploy/group_vars/server/main.yml
  deploy/playbook_kube_config.yml
  deploy/roles/aws_login_job/defaults/main.yml
  deploy/roles/aws_login_job/tasks/main.yml
  deploy/roles/install_helm/tasks/main.yml
  deploy/roles/k3s/defaults/main.yml
  deploy/roles/k3s/tasks/main.yml
  deploy/roles/k8s_accounts/templates/role_ecr_login.yml.j2
  deploy/roles/k8s_cert_manager/templates/letsencrypt_prod.yaml.j2
  deploy/roles/k8s_cert_manager/templates/letsencrypt_staging.yaml.j2
  deploy/roles/k8s_config/defaults/main.yml
  deploy/roles/k8s_config/tasks/main.yml
  deploy/roles/k8s_config/templates/ingress-combine.yaml.j2
  deploy/roles/k8s_install/defaults/main.yml
  deploy/roles/k8s_install/tasks/main.yml
  deploy/roles/k8s_install/templates/nginx-ingress-service.yaml.j2
  deploy/roles/network_config/defaults/main.yaml
  deploy/roles/network_config/handlers/main.yaml
  deploy/roles/network_config/tasks/main.yml
  deploy/roles/network_config/templates/netdev.j2
  deploy/roles/network_config/templates/network.j2
  deploy/roles/network_config/templates/resolved.conf.j2
  docs/deploy/README.md
  scripts/kube_setup.py
Labels: deployment, kubernetes
