Repository sillsdev/TheCombine, pull requests merged in 2021-03, with the labels that each got.

#1052 Cut out leftover language stuff.
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesReducer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
Labels: goal: ReviewEntries

#1050 Install TheCombine on a NUC in Docker containers
  deploy/group_vars/nuc/main.yml
  deploy/group_vars/nuc/vault.yml
  deploy/group_vars/qa/main.yml
  deploy/group_vars/server/main.yml
  deploy/playbook_install.yml
  deploy/playbook_target_setup.yml
  deploy/roles/aws_access/tasks/main.yml
  deploy/roles/combine_config/templates/docker-compose.yml.j2
  deploy/roles/create_admin_user/tasks/main.yml
  deploy/roles/docker_install/tasks/main.yml
  deploy/roles/wifi_ap/defaults/main.yml
  deploy/roles/wifi_ap/files/README.md
  deploy/roles/wifi_ap/files/create_ap
  deploy/roles/wifi_ap/handlers/main.yml
  deploy/roles/wifi_ap/tasks/install.yml
  deploy/roles/wifi_ap/tasks/main.yml
  deploy/roles/wifi_ap/tasks/test.yml
  deploy/roles/wifi_ap/templates/create_ap.conf.j2
  deploy/roles/wifi_ap/templates/create_ap.hosts.j2
  deploy/roles/wifi_ap/templates/create_ap.service.j2
  deploy/roles/wifi_ap/templates/etc_hosts.j2
  deploy/vars/vault_config.yml
  nginx/templates/default.conf.template
Labels: deployment, docker

#1055 Docker log with rsyslog
  deploy/roles/combine_config/templates/docker-compose.yml.j2
  deploy/roles/docker_install/defaults/main.yml
  deploy/roles/docker_install/handlers/main.yml
  deploy/roles/docker_install/tasks/main.yml
  deploy/roles/docker_install/templates/combine-log.conf.j2
  deploy/roles/docker_install/templates/logrotate.conf.j2
  deploy/vars/config_common.yml
  scripts/docker_setup.py
Labels: deployment, docker

#1056 Fully qualify pip-tools command
  README.md
Labels: documentation

#1054 Use InsertManyAsync() on import to reduce connections to mongo.
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend/Controllers/LiftController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/WordRepository.cs
Labels: backend, import/export

#1059 Bump version to 0.6.7.
  package-lock.json
  package.json
Labels: versioning

#1058 Fix typo and formatting in README
  README.md
Labels: documentation

#1060 Bump version to 0.6.8-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#1064 Make FinishEntry sync to fix Lift import
  Backend/Services/LiftApiServices.cs
Labels: backend, bug, import/export

#1066 Document that FinishEntry cannot be marked async
  Backend/Services/LiftApiServices.cs
Labels: documentation

#1067 Bump version to 0.6.8.
  package-lock.json
  package.json
Labels: versioning

#1057 Upgrade upstream SIL dependencies to 8.0.0
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
Labels: backend, dependencies

#1068 Bump to dev version 0.6.9-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#1069 Remove try-catch that's masking errors.
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
Labels: backend, maintenance

#1070 Fix docker install handler
  deploy/roles/docker_install/handlers/main.yml
  deploy/roles/docker_install/tasks/main.yml
Labels: bug, deployment

#1065 Don't worry about project language when importing entries.
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Services/LiftApiServices.cs
Labels: backend, font/language, import/export, maintenance

#1073 Merge reducer cleanup.
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
Labels: goal: MergeDup, maintenance

#1075 Cleanup 'id' variable names; let -> const where appropriate.
  src/backend/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/ProjectSettings/ProjectUsers/UserList.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeStack.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/types/word.tsx
Labels: goal: MergeDup, maintenance

#1080 Add instructions to view log of single service
  README.md
Labels: documentation

#1077 Implement cert-client mode for the certmgr container
  certmgr/Dockerfile
  certmgr/scripts/aws.py
  certmgr/scripts/cert_proxy_client.py
  certmgr/scripts/cert_proxy_server.py
  certmgr/scripts/entrypoint.py
  certmgr/scripts/letsencrypt_cert.py
  certmgr/scripts/self_signed_cert.py
  certmgr/scripts/utils.py
  deploy/group_vars/nuc/main.yml
  deploy/playbook_target_setup.yml
  deploy/roles/cert_update/tasks/main.yml
  deploy/roles/cert_update/templates/trigger_cert_sync.j2
  deploy/roles/combine_config/templates/docker-compose.yml.j2
  deploy/vars/config_common.yml
Labels: deployment, docker, python

#1081 MergeDups refactor (all at once, rather than one-by-one)
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  src/backend/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/types/word.tsx
Labels: backend, frontend, goal: MergeDup, refactor

#1082 Remove host_vars files
  deploy/group_vars/nuc/main.yml
  deploy/host_vars/qa-thecombine.psonet.yml
  deploy/host_vars/thecombine.app.yml
  deploy/host_vars/thecombine.yml
  deploy/hosts.yml
Labels: deployment, maintenance

#1083 Fix test of keep_pattern
  deploy/bin/clean_repo.py
Labels: bug, deployment, python

#1085 Implement activeGoal in state; Save completed merges; Retire EmptyGoal.
  scripts/importSemanticDomains.ts
  src/components/EmptyGoal/EmptyGoalComponent.tsx
  src/components/EmptyGoal/tests/EmptyGoalComponent.test.tsx
  src/components/GoalRoute/component.tsx
  src/components/GoalTimeline/DefaultState.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/GoalsReducer.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/CreateCharInv/CharInvComponent/CharInv.tsx
  src/goals/CreateCharInv/CharInvComponent/CharInvCompleted.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/DisplayProgress.tsx
  src/goals/DefaultGoal/tests/BaseGoalScreen.test.tsx
  src/goals/DefaultGoal/tests/DisplayProgress.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDups.tsx
  src/resources/translations.json
  src/types/goals.tsx
Labels: frontend, goal, goal: MergeDup, refactor

#1088 Configure logging for docker engine
  deploy/roles/docker_install/tasks/main.yml
  deploy/roles/docker_install/templates/daemon.json.j2
Labels: bug, deployment, docker

#1089 [ReviewEntries] Don't require semantic domains.
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
Labels: enhancement, goal: ReviewEntries

#1084 Backup/restore scripts for development environment
  .gitignore
  README.md
  certmgr/scripts/cert_proxy_client.py
  certmgr/scripts/entrypoint.py
  certmgr/scripts/self_signed_cert.py
  deploy/roles/aws_access/tasks/main.yml
  deploy/roles/cert_update/tasks/main.yml
  deploy/roles/combine_maintenance/files/combine_backup.py
  deploy/roles/combine_maintenance/files/combine_restore.py
  deploy/roles/combine_maintenance/files/maint_utils.py
  deploy/roles/combine_maintenance/files/script_step.py
  deploy/roles/combine_maintenance/tasks/main.yml
  deploy/roles/combine_maintenance/templates/backup_conf.json.j2
  deploy/roles/combine_maintenance/templates/combine-backup-job.j2
  deploy/roles/combine_maintenance/templates/combine-backup.j2
  deploy/roles/combine_maintenance/templates/combine-env.j2
  deploy/roles/combine_maintenance/templates/combine-restore.j2
  deploy/vars/config_common.yml
  dev-requirements.in
  dev-requirements.txt
  scripts/docker_setup.py
  tox.ini
Labels: deployment, docker, maintenance, python

#1090 Improve public nuc page
  nginx/pages/nuc_home.html
Labels: deployment, docker, enhancement

#1091 Refactor Maintenance scripts
  .gitignore
  README.md
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/aws_backup.py
  deploy/roles/combine_maintenance/files/combine_app.py
  deploy/roles/combine_maintenance/files/combine_backup.py
  deploy/roles/combine_maintenance/files/combine_restore.py
  deploy/roles/combine_maintenance/files/maint_utils.py
  deploy/roles/combine_maintenance/files/make_user_admin.py
  deploy/roles/combine_maintenance/files/rm_project.py
  deploy/roles/combine_maintenance/tasks/main.yml
  deploy/roles/combine_maintenance/templates/combine-backup-job.j2
  deploy/roles/combine_maintenance/templates/script_conf.json.j2
  scripts/docker_setup.py
Labels: deployment, docker, maintenance, python
