Repository sillsdev/TheCombine, pull requests merged in 2021-04, with the labels that each got.

#1087 MergeTree refactor
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/DisplayProgress.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DragSense.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/SidebarDragSense.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/SidebarDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepReducer.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DeleteCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DomainCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/SenseCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
  src/types/word.tsx
  src/utilities.tsx
Labels: frontend, goal: MergeDup, refactor

#1097 Implement: GoalStatus; Loading screen
  package-lock.json
  package.json
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/PageNotFound/component.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/Loading.tsx
  src/goals/DefaultGoal/tests/BaseGoalScreen.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/resources/translations.json
  src/types/goalUtilities.tsx
  src/types/goals.tsx
Labels: goal, goal: MergeDup

#1098 Refactor for kubernetes
  Dockerfile
  deploy/roles/combine_config/tasks/main.yml
  deploy/roles/combine_config/templates/config.js.j2
  deploy/roles/combine_config/templates/docker-compose.yml.j2
  deploy/roles/combine_maintenance/tasks/main.yml
  deploy/vars/config_common.yml
  nginx/init/15_addl_site_pages.sh
  nginx/init/20_combine_runtime_config.sh
  nginx/pages/nuc_home.html
  scripts/docker_setup.py
Labels: deployment, docker, kubernetes

#1101 Refresh package-lock.json
  package-lock.json
Labels: maintenance

#1099 Bump version to 0.6.9
  package-lock.json
  package.json
Labels: versioning

#1103 Bump version to 0.6.10-alpha.
  package-lock.json
  package.json
Labels: versioning

#1105 Refactor AWS credentials and environment variable definitions
  .gitattributes
  certmgr/scripts/aws.py
  certmgr/scripts/utils.py
  deploy/group_vars/nuc/main.yml
  deploy/roles/aws_access/templates/config.j2
  deploy/roles/aws_access/templates/credentials.j2
  deploy/roles/combine_config/templates/docker-compose.yml.j2
  deploy/roles/combine_config/templates/env.backend.j2
  deploy/roles/combine_config/templates/env.certmgr.j2
  deploy/roles/combine_config/templates/env.frontend.j2
  deploy/vars/aws.yml
  deploy/vars/config_common.yml
  deploy/vars/vault_config.yml
  scripts/docker_setup.py
Labels: deployment, kubernetes, maintenance

#1106 Add missing translates.
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/ProjectSettings/ProjectImport/ProjectImport.tsx
  src/components/UserSettings/UserSettings.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
  src/resources/translations.json
Labels: font/language

#1112 Upgrade Python dependencies
  dev-requirements.txt
Labels: dependencies, python

#1113 Python code improvements
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/aws_backup.py
  deploy/roles/combine_maintenance/files/combine_app.py
  deploy/roles/combine_maintenance/files/combine_restore.py
Labels: maintenance, python

#1116 Split off Repositories from Services; Cleanup Controllers
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/ProjectRepositoryMock.cs
  Backend.Tests/Mocks/UserRepositoryMock.cs
  Backend.Tests/Mocks/UserRoleRepositoryMock.cs
  Backend.Tests/Models/UserTests.cs
  Backend.Tests/Services/PasswordResetServiceTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/InviteController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/PasswordHash.cs
  Backend/Interfaces/IInviteService.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Interfaces/IProjectRepository.cs
  Backend/Interfaces/ISemDomParser.cs
  Backend/Interfaces/ISemanticDomainService.cs
  Backend/Interfaces/IUserRepository.cs
  Backend/Interfaces/IUserRoleRepository.cs
  Backend/Interfaces/IUserService.cs
  Backend/Models/EmailInvite.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  Backend/Repositories/ProjectRepository.cs
  Backend/Repositories/UserEditRepository.cs
  Backend/Repositories/UserRepository.cs
  Backend/Repositories/UserRoleRepository.cs
  Backend/Repositories/WordRepository.cs
  Backend/Services/InviteService.cs
  Backend/Services/LiftService.cs
  Backend/Services/PasswordResetService.cs
  Backend/Services/PermissionService.cs
  Backend/Services/SemanticDomainService.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditService.cs
  Backend/Services/WordService.cs
  Backend/Startup.cs
  src/backend/index.tsx
Labels: backend, refactor

#1124 Fix email invite and password reset features
  Backend/Controllers/InviteController.cs
  Backend/Controllers/UserController.cs
  Backend/Models/User.cs
Labels: backend, bug

#1122 Fix email invite logic
  Backend/Controllers/InviteController.cs
  Backend/Services/InviteService.cs
  src/backend/index.tsx
  src/browserHistory.ts
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/types/invite.ts
Labels: backend, bug, frontend, refactor

#1128 Bump version to 0.6.10
  package-lock.json
  package.json
Labels: versioning

#1129 Version 0.6.11-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#1133 Integrate http-status-codes package
  package-lock.json
  package.json
  src/backend/index.tsx
Labels: frontend, refactor

#1126 Move Merge Blacklist to the backend.
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/MergeControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/MergeBlacklistRepositoryMock.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend.Tests/Models/MergeBlacklistEntryTests.cs
  Backend.Tests/Services/MergeServiceTests.cs
  Backend.Tests/Services/PasswordResetServiceTests.cs
  Backend.Tests/Util.cs
  Backend.Tests/UtilTests.cs
  Backend/Contexts/MergeBlacklistContext.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/MergeController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/FileStorage.cs
  Backend/Interfaces/IMergeBlacklistContext.cs
  Backend/Interfaces/IMergeBlacklistRepository.cs
  Backend/Interfaces/IMergeService.cs
  Backend/Interfaces/IWordService.cs
  Backend/Models/MergeBlacklistEntry.cs
  Backend/Repositories/MergeBlacklistRepository.cs
  Backend/Repositories/WordRepository.cs
  Backend/Services/MergeService.cs
  Backend/Services/PermissionService.cs
  Backend/Services/WordService.cs
  Backend/Startup.cs
  deploy/roles/combine_maintenance/files/rm_project.py
  src/backend/index.tsx
  src/backend/localStorage.tsx
  src/backend/tests/localStorage.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
Labels: backend, frontend, goal: MergeDup, refactor

#1135 Bump instructions for installing dotnet-format to the latest version
  README.md
Labels: maintenance

#1137 Remove reference to backend running on port 5001
  README.md
Labels: documentation
