Repository sillsdev/TheCombine, pull requests merged in 2021-01, with the labels that each got.

#892 Backend refactor/cleanup
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Helper/Sanitization.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Helper/FileOperations.cs
  Backend/Helper/Sanitization.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/PermissionService.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserRoleApiServices.cs
  Backend/Services/WordApiServices.cs
Labels: backend, maintenance, refactor, security

#895 Backend Refactor
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Helper/Sanitization.cs
  Backend.Tests/Mocks/UserEditRepositoryMock.cs
  Backend.Tests/Mocks/UserRoleServiceMock.cs
  Backend.Tests/Mocks/UserServiceMock.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend.Tests/Services/PasswordResetServiceTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Helper/FileStorage.cs
  Backend/Interfaces/IUserEditRepository.cs
  Backend/Interfaces/IUserRoleService.cs
  Backend/Interfaces/IUserService.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Interfaces/IWordService.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/UserEditApiServices.cs
  Backend/Services/UserEditRepository.cs
  Backend/Services/UserRoleApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
  Backend/Startup.cs
Labels: backend, maintenance, refactor

#900 Add email/username checking to Create/Update in UserServices
  Backend.Tests/Mocks/UserServiceMock.cs
  Backend/Controllers/UserController.cs
  Backend/Helper/ResultOfUpdate.cs
  Backend/Interfaces/IUserService.cs
  Backend/Services/UserApiServices.cs
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/UserSettings/UserSettings.tsx
Labels: backend

#902 Cleanup loadGoalData and blacklist building.
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
Labels: goal: MergeDup

#904 Add a 'teamcity' user to authorized_keys for 'combine' user
  docker_deploy/group_vars/qa/vault.yml
  docker_deploy/group_vars/server/vault.yml
  docker_deploy/roles/combine_user/tasks/main.yml
Labels: deployment

#905 Update version to 0.6.2-alpha.0
  package-lock.json
  package.json
Labels: versioning

#908 Remove Goal Switcher (unused)
  src/components/App/DefaultState.tsx
  src/components/GoalTimeline/GoalSelectorScroll/GoalSelectorAction.tsx
  src/components/GoalTimeline/GoalSelectorScroll/GoalSelectorReducer.tsx
  src/components/GoalTimeline/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalSelectorScroll/index.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/GoalSelectorAction.test.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/GoalSelectorReducer.test.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/GoalSwitcher/GoalSwitcherComponent.tsx
  src/components/GoalTimeline/GoalSwitcher/index.tsx
  src/components/GoalTimeline/GoalSwitcher/tests/GoalSwitcher.test.tsx
  src/rootReducer.tsx
Labels: goal, maintenance

#909 Cleanup goal handling for numSteps and type coercion
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/goals/MergeDupGoal/MergeDups.tsx
  src/types/goals.tsx
Labels: bug, goal, goal: MergeDup

#906 MergeStack refactor
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeRowComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/MergeStack.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/MergeStackComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeStack/index.tsx
Labels: goal: MergeDup, refactor

#910 Set version for release 0.6.2
  package-lock.json
  package.json
Labels: versioning

#911 Create version 0.6.3-alpha.0 for development work
  package-lock.json
  package.json
Labels: versioning

#914 Goal action cleanup.
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/types/actions.tsx
  src/types/mockAction.tsx
Labels: goal, maintenance

#915 CharacterInventory Cleanup: dispatch, reset, localize
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/types/actions.tsx
Labels: goal

#916 Implement StoreStateDispatch type for all dispatches.
  src/components/GoalTimeline/GoalSelectorScroll/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/index.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginPage/index.tsx
  src/components/Login/RegisterPage/index.tsx
  src/components/PasswordReset/RequestPage/index.tsx
  src/components/PasswordReset/ResetPage/index.tsx
  src/components/PasswordReset/actions.tsx
  src/components/ProjectExport/ExportProjectActions.tsx
  src/components/ProjectExport/index.tsx
  src/components/ProjectInvite/index.tsx
  src/components/ProjectScreen/ChooseProject/index.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
  src/components/ProjectScreen/CreateProject/index.tsx
  src/components/ProjectSettings/ProjectImport/index.tsx
  src/components/ProjectSettings/ProjectName/index.tsx
  src/components/ProjectSettings/ProjectSwitch/index.tsx
  src/components/Temp/TempActions.tsx
  src/components/Temp/index.tsx
  src/components/TreeView/index.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/index.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceActions.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/index.tsx
  src/goals/CharInventoryCreation/components/CharacterEntry/index.tsx
  src/goals/CharInventoryCreation/components/CharacterList/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeRow/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
Labels: maintenance

#919 Seperate goal utilities.
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/types/goalUtilities.tsx
  src/types/goals.tsx
Labels: goal, maintenance

#921 Make saveChangesToProject a more general project function.
  src/components/Project/ProjectActions.tsx
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectLanguages/index.tsx
  src/components/ProjectSettings/ProjectLanguages/tests/ProjectLangauges.test.tsx
  src/components/ProjectSettings/ProjectName/ProjectName.tsx
  src/components/ProjectSettings/ProjectName/index.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/index.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
Labels: maintenance, project

#922 Goal-MergeDups function exchange
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
Labels: goal, goal: MergeDup, maintenance

#923 Move goal-general function from CharacterInventory to GoalActions.
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
Labels: goal, maintenance

#925 Goal loading cleanup
  src/components/App/DefaultState.tsx
  src/components/GoalTimeline/GoalSelectorScroll/GoalSelectorAction.tsx
  src/components/GoalTimeline/GoalSelectorScroll/GoalSelectorReducer.tsx
  src/components/GoalTimeline/GoalSelectorScroll/GoalSelectorScroll.tsx
  src/components/GoalTimeline/GoalSelectorScroll/index.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/GoalSelectorAction.test.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/GoalSelectorReducer.test.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/GoalSelectorScroll.test.tsx
  src/components/GoalTimeline/GoalSelectorScroll/tests/__snapshots__/GoalSelectorScroll.test.tsx.snap
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
  src/rootReducer.tsx
  src/types/goals.tsx
  src/types/index.tsx
Labels: bug, goal, refactor

#928 Upgrade Python dependencies
  dev-requirements.txt
Labels: maintenance, python

#933 Migrate to URL thecombine.app
  Dockerfile
  docker_deploy/host_vars/qa-thecombine.psonet.yml
  docker_deploy/host_vars/thecombine.yml
  docker_deploy/vars/config_common.yml
  nginx/15_addl_site_pages.sh
  nginx/15_cert_proxy_pages.sh
  nginx/pages/url_moved_home.html
  nginx/templates/url_moved.conf
Labels: deployment, docker

#944 Ignore formatting large dictionary TS files to speed up formatting
  .prettierignore
Labels: maintenance

#947 Include certmgr in fmt-frontend.
  certmgr/README.md
  package.json
Labels: documentation, maintenance

#943 Remove unused Temp component
  src/components/Temp/TempActions.tsx
  src/components/Temp/TempComponent.tsx
  src/components/Temp/TempReducer.tsx
  src/components/Temp/index.tsx
  src/components/Temp/tests/TempActions.test.tsx
  src/components/Temp/tests/TempReducer.test.tsx
  src/rootReducer.tsx
  src/types/index.tsx
Labels: frontend, maintenance

#959 Fix allowing user to change email
  src/backend/localStorage.tsx
  src/backend/tests/localStorage.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/Login/AuthHeaders.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/tests/AuthHeaders.test.tsx
  src/components/UserSettings/UserSettings.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
Labels: bug, frontend

#952 Highlight that export of large projects will take a long time
  user_guide/docs/project.md
Labels: documentation

#958 Fix default nginx site
  nginx/templates/default.conf.template
  nginx/templates/nuc.conf
  nginx/templates/url_moved.conf
Labels: deployment

#962 Fix Storage/Import of Word Creation and Modified Fields
  Backend/Helper/Time.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
Labels: backend, bug

#954 Remove service worker from frontend
  src/index.tsx
  src/serviceWorker.ts
Labels: frontend, refactor
