Repository sillsdev/TheCombine, pull requests merged in 2021-08, with the labels that each got.

#1271 Increase backend test coverage
  Backend.Tests/Helper/FileStorageTests.cs
  Backend.Tests/Helper/LevenshteinDistanceTests.cs
  Backend.Tests/Helper/PasswordHashTests.cs
  Backend.Tests/Models/EmailInviteTests.cs
  Backend.Tests/Models/MergeBlacklistEntryTests.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend.Tests/Models/UserRoleTests.cs
  Backend.Tests/Models/WordTests.cs
  Backend/Contexts/EmailContext.cs
  Backend/Contexts/MergeBlacklistContext.cs
  Backend/Contexts/PasswordResetContext.cs
  Backend/Contexts/ProjectContext.cs
  Backend/Contexts/UserContext.cs
  Backend/Contexts/UserEditContext.cs
  Backend/Contexts/UserRoleContext.cs
  Backend/Contexts/WordContext.cs
  Backend/Helper/FileStorage.cs
  Backend/Program.cs
  Backend/Repositories/MergeBlacklistRepository.cs
  Backend/Repositories/ProjectRepository.cs
  Backend/Repositories/UserEditRepository.cs
  Backend/Repositories/UserRepository.cs
  Backend/Repositories/UserRoleRepository.cs
  Backend/Repositories/WordRepository.cs
  Backend/Startup.cs
Labels: backend, test

#1283 Enable Material for MkDocs 7.2 search features
  dev-requirements.txt
  docs/user_guide/mkdocs.yml
Labels: dependencies, documentation, python

#1284 Remove unnecessary EmailInvite.Id.
  Backend.Tests/Models/EmailInviteTests.cs
  Backend/Models/EmailInvite.cs
  src/api/api/user-role-api.ts
  src/api/models/email-invite.ts
Labels: backend, maintenance

#1278 Get AWS ECR Credentials
  deploy/group_vars/nuc/main.yml
  deploy/group_vars/qa/main.yml
  deploy/group_vars/server/main.yml
  deploy/playbook_kube_config.yml
  deploy/playbook_kube_install.yml
  deploy/playbook_kube_patch.yml
  deploy/roles/aws-ecr-credential/defaults/main.yml
  deploy/roles/aws-ecr-credential/tasks/main.yml
  deploy/roles/aws_login_job/defaults/main.yml
  deploy/roles/aws_login_job/tasks/main.yml
  deploy/roles/aws_login_job/templates/aws-access-secrets.yaml.j2
  deploy/roles/aws_login_job/templates/aws-ecr-login-cronjob.yaml.j2
  deploy/roles/aws_login_job/templates/aws-ecr-login-oneshot.yaml.j2
  deploy/roles/k8s_cert_manager/tasks/main.yml
  deploy/roles/k8s_cert_manager/templates/letsencrypt_prod.yaml.j2
  deploy/roles/k8s_cert_manager/templates/letsencrypt_staging.yaml.j2
  deploy/roles/k8s_config/defaults/main.yml
  deploy/roles/k8s_config/tasks/main.yml
  deploy/roles/k8s_config/tasks/patch.yml
  deploy/roles/k8s_config/templates/deployment-backend.yaml.j2
  deploy/roles/k8s_config/templates/deployment-database.yaml.j2
  deploy/roles/k8s_config/templates/deployment-frontend.yaml.j2
  deploy/roles/k8s_config/templates/env-backend-configmap.yaml.j2
  deploy/roles/k8s_config/templates/env-backend-secrets.yaml.j2
  deploy/roles/k8s_config/templates/env-frontend-configmap.yaml.j2
  deploy/roles/k8s_config/templates/ingress-combine.yaml.j2
  deploy/roles/k8s_config/templates/patch-backend.yaml.j2
  deploy/roles/k8s_config/templates/patch-frontend.yaml.j2
  deploy/roles/k8s_config/templates/persistentvolumeclaim-backend-data.yaml.j2
  deploy/roles/k8s_config/templates/persistentvolumeclaim-database-data.yaml.j2
  deploy/roles/k8s_config/templates/service-backend.yaml.j2
  deploy/roles/k8s_config/templates/service-database.yaml.j2
  deploy/roles/k8s_config/templates/service-frontend.yaml.j2
  deploy/roles/k8s_install/defaults/main.yml
  deploy/roles/k8s_install/tasks/main.yml
  deploy/roles/k8s_install/templates/nginx-ingress-service.yaml.j2
  deploy/roles/k8s_namespace/tasks/main.yml
  deploy/roles/k8s_namespace/templates/namespace-combine.yaml.j2
  deploy/roles/registry_creds/tasks/main.yml
  deploy/roles/registry_creds/templates/10-registry-secrets.yaml.j2
  deploy/roles/registry_creds/templates/20-registry-creds-deployment.yaml.j2
  deploy/vars/config_common.yml
  docs/deploy/README.md
  docs/nuc_instructions_for_use/nuc_instructions_for_use.md
  scripts/kube_setup.py
Labels: deployment, kubernetes

#1290 Fix email invite.
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
Labels: bug, frontend

#1293 Bump to version 0.7.4
  package-lock.json
  package.json
Labels: versioning

#1294 Bump version to 0.7.5-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1292 Add failure logs to the artifacts if CodeQL fails
  .github/workflows/backend.yml
Labels: maintenance

#1291 Update all npm packages and newly deprecated code.
  package-lock.json
  package.json
  scripts/importSemanticDomains.ts
  src/api/api/audio-api.ts
  src/api/api/invite-api.ts
  src/api/api/lift-api.ts
  src/api/api/merge-api.ts
  src/api/api/project-api.ts
  src/api/api/user-api.ts
  src/api/api/user-edit-api.ts
  src/api/api/user-role-api.ts
  src/api/api/word-api.ts
  src/components/AppBar/AppBarComponent.tsx
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/ExistingDataTable/ImmutableExistingData.tsx
  src/components/DataEntry/tests/spellChecker.test.ts
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/LandingPage/BottomBar.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/LandingPage/TopBar.tsx
  src/components/LandingPage/index.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/PasswordReset/RequestPage/component.tsx
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/components/ProjectScreen/ProjectScreenComponent.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/SiteSettings/SiteSettingsComponent.tsx
  src/components/SiteSettings/UserManagement/ConfirmDeletion.tsx
  src/components/TreeView/DomainTile.tsx
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeSemanticDomain.ts
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/components/TreeView/tests/__snapshots__/DomainTile.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeDepiction.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/components/UserSettings/AvatarUpload.tsx
  src/components/UserSettings/UserSettings.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterDetailComponent.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/types/theme.ts
Labels: frontend, maintenance

#1298 Enable ESLint exhaustive switch linting
  package-lock.json
  package.json
  src/components/GoalTimeline/Redux/GoalActions.ts
  src/components/ProjectExport/DownloadButton.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterStatusText.tsx
Labels: frontend, test

#1299 Remove the need for a blank site_url
  docs/user_guide/mkdocs.yml
Labels: documentation, maintenance

#1307 Increase backend unit test coverage
  Backend.Tests/Helper/SanitizationTests.cs
  Backend.Tests/Helper/TimeTests.cs
  Backend.Tests/Models/EmailInviteTests.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend.Tests/Models/UserTests.cs
  Backend.Tests/Models/WordTests.cs
  Backend/Models/EmailInvite.cs
  Backend/Models/Project.cs
Labels: backend, test

#1320 Drop Node 12 support, add Node 16
  .github/workflows/frontend.yml
Labels: frontend, dependencies

#1315 Update frontend license report
  docs/user_guide/docs/licenses/frontend_licenses.txt
Labels: documentation, dependencies

#1349 Fix backup issues
  deploy/roles/combine_maintenance/defaults/main.yml
  deploy/roles/combine_maintenance/templates/combine-backup-job.j2
  deploy/roles/combine_maintenance/templates/combine-clean-aws.j2
  deploy/roles/k8s_config/templates/cronjob-daily-backup.yaml.j2
  deploy/roles/k8s_config/templates/env-maintenance-configmap.yaml.j2
  maintenance/scripts/combine-clean-aws.sh
Labels: bug, deployment

#1329 Update clean_repo.py
  deploy/bin/clean_repo.py
  scripts/clean_repo.py
Labels: deployment, docker, python
