Repository sillsdev/TheCombine, pull requests merged in 2021-11, with the labels that each got.

#1455 Get K3s to work without ethernet connection
  deploy/hosts.yml
  deploy/playbook_dev_tools.yml
  deploy/playbook_kube_install.yml
  deploy/roles/k3s/defaults/main.yml
  deploy/roles/k8s_install/defaults/main.yml
  deploy/roles/k8s_install/tasks/k3s.yml
  deploy/roles/k8s_install/tasks/main.yml
  deploy/roles/k8s_install/tasks/microk8s.yml
  deploy/roles/network_config/defaults/main.yaml
  deploy/roles/network_config/handlers/main.yaml
  deploy/roles/network_config/tasks/main.yml
  deploy/roles/network_config/templates/netdev.j2
  deploy/roles/network_config/templates/network.j2
  deploy/roles/wifi_ap/handlers/main.yml
  deploy/roles/wifi_ap/tasks/test.yml
Labels: deployment, kubernetes

#1461 Refactor several frontend files
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/EntryNote.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/Project/ProjectActions.ts
  src/components/ProjectScreen/ChooseProject/index.ts
  src/components/ProjectScreen/CreateProject/Redux/CreateProjectActions.ts
  src/components/ProjectSettings/ProjectSwitch/index.ts
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/TreeView/TreeViewComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/CharacterReplaceDialog.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceActions.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/index.ts
  src/goals/MergeDupGoal/Redux/MergeDupActions.ts
Labels: frontend, refactor, Size: S

#1464 Autocomplete decimal points in Data Entry tree domain search
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
Labels: enhancement, frontend, component: DataEntry, Size: S

#1462 Increase backend unit test coverage
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Helper/FileStorageTests.cs
  Backend.Tests/Models/MergeWordsTests.cs
Labels: backend, test, Size: S

#1465 Create a site admin user on Kubernetes deployments of The Combine
  deploy/playbook_kube_config.yml
  deploy/roles/aws_login_job/templates/aws-ecr-login-cronjob.yaml.j2
  deploy/roles/aws_login_job/templates/aws-ecr-login-oneshot.yaml.j2
  deploy/roles/k8s_admin_user/defaults/main.yml
  deploy/roles/k8s_admin_user/tasks/main.yml
  deploy/roles/k8s_admin_user/templates/admin-user-secrets.yaml.j2
  deploy/roles/k8s_admin_user/templates/job-create-admin-user.yaml.j2
  deploy/roles/k8s_cert_proxy_client/templates/update-cert-cronjob.yaml.j2
  deploy/roles/k8s_cert_proxy_client/templates/update-cert-oneshot.yaml.j2
  deploy/roles/k8s_config/templates/cronjob-daily-backup.yaml.j2
  deploy/vars/config_common.yml
  docs/deploy/README.md
Labels: deployment, kubernetes

#1467 Update Python dependencies
  dev-requirements.in
  dev-requirements.txt
Labels: python, dependencies

#1470 Document the canonical way to activate a Python virtual environment
  README.md
Labels: documentation, python

#1471 Update to npm 8, node 16, lockfileVersion 2; Run npm update
  .github/workflows/frontend.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
Labels: frontend, dependencies

#1473 Update backend dependencies
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  docs/user_guide/docs/licenses/backend_licenses.txt
Labels: backend, dependencies

#1475 Release version 0.7.9
  package-lock.json
  package.json
Labels: versioning

#1476 Bump version to 0.7.10-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1474 Use ? with boolean props to allow implicit declaration
  package.json
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/ExistingDataTable/ExistingDataTable.tsx
  src/components/DataEntry/ExistingDataTable/tests/ExistingDataTable.test.tsx
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/Login/RegisterPage/tests/RegisterComponent.test.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectUsers/AddProjectUsers.tsx
  src/components/SiteSettings/ProjectManagement/ProjectButtonWithConfirmation.tsx
  src/components/SiteSettings/UserManagement/UserManagement.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
Labels: frontend, maintenance

#1469 Set a minimum backend unit test coverage value
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/UserEditRepositoryMock.cs
  Backend/Controllers/UserRoleController.cs
  package.json
Labels: backend, test, Size: S

#1477 Document automatic insertion of . between domain digits
  docs/user_guide/docs/dataEntry.md
Labels: documentation, component: DataEntry

#1480 Setup qa for kubernetes
  deploy/group_vars/nuc/main.yml
  deploy/group_vars/qa/main.yml
  deploy/group_vars/server/main.yml
  deploy/hosts.yml
  deploy/playbook_kube_admin.yml
  deploy/playbook_kube_config.yml
  deploy/roles/combine_maintenance/files/maint_utils.py
  deploy/roles/k8s_config/defaults/main.yml
  deploy/roles/k8s_config/tasks/patch.yml
  deploy/roles/k8s_config/templates/deployment-backend.yaml.j2
  deploy/roles/k8s_config/templates/deployment-frontend.yaml.j2
  deploy/roles/k8s_config/templates/deployment-maintenance.yaml.j2
  deploy/roles/k8s_config/templates/ingress-combine.yaml.j2
  deploy/roles/k8s_config/templates/persistentvolumeclaim-backend-data.yaml.j2
  deploy/roles/k8s_make_resources/tasks/main.yml
Labels: deployment, kubernetes
