Repository sillsdev/TheCombine, pull requests merged in 2021-10, with the labels that each got.

#1388 Display popups to alert users of network request errors
  package-lock.json
  package.json
  src/backend/index.ts
Labels: enhancement, frontend

#1394 Improve lift import error messages
  Backend/Controllers/LiftController.cs
Labels: backend

#1396 Support importing Lift files that are missing a top level project folder
  Backend.Tests/Assets/GusillaayNoTopLevelFolder.zip
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend/Controllers/LiftController.cs
Labels: enhancement, backend

#1399 Require project owner permission to invite another user to a project
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend/Controllers/InviteController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Services/PermissionService.cs
Labels: bug, backend, security

#1451 Use sense function to return first gloss text or empty string
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/types/word.ts
Labels: bug, frontend, component: DataEntry, Size: S
