Repository sillsdev/TheCombine, pull requests merged in 2021-05, with the labels that each got.

#1134 Create a Permission enum within frontend
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/types/userRole.ts
Labels: frontend, refactor

#1143 Fix link to production docs from README
  README.md
Labels: documentation

#1139 Run npm update, npm install @testing-library/user-event@13.
  package-lock.json
  package.json
Labels: maintenance

#1146 Remove unused add_lift_imported_field.sh script
  scripts/add_lift_imported_field.sh
Labels: maintenance

#1144 Remove unused https_server.py script
  scripts/https_server.py
Labels: maintenance, python

#1142 Move MergeDupFinder from frontend to backend
  Backend.Tests/Controllers/MergeControllerTests.cs
  Backend.Tests/Helper/DuplicateFinderTests.cs
  Backend.Tests/Helper/LevenshteinDistanceTests.cs
  Backend.Tests/Helper/SanitizationTests.cs
  Backend.Tests/Services/MergeServiceTests.cs
  Backend.Tests/Util.cs
  Backend/Controllers/MergeController.cs
  Backend/Helper/DuplicateFinder.cs
  Backend/Helper/LevenshteinDistance.cs
  Backend/Interfaces/IEditDistance.cs
  Backend/Interfaces/IMergeService.cs
  Backend/Services/MergeService.cs
  src/backend/index.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/goals/MergeDupGoal/DuplicateFinder/DuplicateFinder.ts
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/Redux/MergeDupActions.tsx
  src/tests/utilities.test.ts
  src/utilities.tsx
Labels: backend, frontend, goal: MergeDup, refactor

#1147 Prefer using Enumerable.Range for simple loops
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Util.cs
  Backend/Helper/LevenshteinDistance.cs
  Backend/Helper/PasswordHash.cs
  docs/style_guide/c_sharp_style_guide.md
Labels: backend, refactor

#1151 When merging senses, only show glosses from the keeper.
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DragSense.tsx
Labels: frontend, goal: MergeDup

#1152 Fix maintenance scripts
  deploy/bin/clean_repo.py
  deploy/roles/combine_maintenance/files/aws_backup.py
  deploy/roles/combine_maintenance/files/combine_app.py
  deploy/roles/combine_maintenance/tasks/main.yml
Labels: bug, deployment, python

#1148 Bump version to 0.7.0
  package-lock.json
  package.json
Labels: versioning

#1153 Bump to version 0.7.1-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1156 Explicitly enable the docker service when docker is installed
  deploy/roles/docker_install/tasks/main.yml
Labels: bug, deployment, docker

#1157 Upgrade Python dependencies
  dev-requirements.txt
  pyproject.toml
Labels: maintenance, python

#1159 Revert Jinja2 to < 3.x
  dev-requirements.in
  dev-requirements.txt
Labels: bug, python

#1162 Set ethernet as optional on NUCs
  deploy/group_vars/nuc/main.yml
  deploy/playbook_target_setup.yml
  deploy/roles/ethernet_config/defaults/main.yaml
  deploy/roles/ethernet_config/handlers/main.yaml
  deploy/roles/ethernet_config/tasks/main.yml
Labels: deployment, performance

#1158 Add third party license report to the frontend
  README.md
  docs/user_guide/docs/licenses/frontend_licenses.txt
  docs/user_guide/mkdocs.yml
  package-lock.json
  package.json
  src/browserHistory.ts
Labels: enhancement, frontend

#1163 Fix Chocolatey README links
  README.md
Labels: bug, documentation

#1161 Use fully qualified version for Docker Compose configuration
  deploy/roles/combine_config/templates/docker-compose.yml.j2
Labels: bug, docker

#1164 Add backend licenses to user guide
  README.md
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/mkdocs.yml
  package.json
Labels: documentation

#1115 Landing Page
  src/components/App/App.test.tsx
  src/components/App/component.tsx
  src/components/LandingPage/BottomBar.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/LandingPage/TopBar.tsx
  src/components/LandingPage/index.tsx
  src/components/PageNotFound/component.tsx
  src/components/PrivateRoute/index.tsx
  src/resources/translations.json
Labels: enhancement, frontend

#1166 Release 0.7.1
  package-lock.json
  package.json
Labels: versioning

#1167 Version 0.7.2-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#1165 Instructions for using the NUC
  docs/nuc_instructions_for_use/images/00_PowerOn.jpg
  docs/nuc_instructions_for_use/images/01_PowerOn.jpg
  docs/nuc_instructions_for_use/images/02_Select_WiFi.jpg
  docs/nuc_instructions_for_use/images/03_Enter_WiFi_Passphrase.png
  docs/nuc_instructions_for_use/images/04_Combine_URL.jpg
  docs/nuc_instructions_for_use/images/05_Combine_Landing_Page.png
  docs/nuc_instructions_for_use/nuc_instructions_for_use.md
Labels: deployment, documentation

#1168 Fix Markdown table of contents link in README
  README.md
Labels: bug, documentation

#1170 Disable pulling fonts from the Internet in the user guide
  docs/user_guide/mkdocs.yml
Labels: documentation

#1169 Recommend Ubuntu 20.04 for Linux development
  README.md
Labels: documentation
