Repository sillsdev/TheCombine, pull requests merged in 2021-06, with the labels that each got.

#1179 Use ts-key-enum to improve type safety of comparisons of KeyboardEvents
  docs/style_guide/ts_style_guide.md
  package-lock.json
  package.json
  src/components/Buttons/EditTextDialog.tsx
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
Labels: frontend, refactor

#1193 Enable HTTP/2 support in production NGINX configuration
  Dockerfile
  nginx/templates/default.conf.template
Labels: backend, docker

#1202 Clean api source folder before generating OpenAPI frontend bindings
  scripts/generate_openapi.py
  src/api/.openapi-generator/FILES
  src/api/models/file-stream.ts
  src/api/models/project-user-value-tuple.ts
  src/api/models/safe-file-handle.ts
Labels: bug, python

#1207 Add git tutorial link to Learn More.
  README.md
Labels: documentation

#1198 Upgrade backend to .NET 5
  .github/workflows/backend.yml
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Mocks/HubContextMock.cs
  Backend.Tests/Mocks/ProjectRepositoryMock.cs
  Backend.Tests/Util.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/AudioController.cs
  Backend/Controllers/InviteController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Dockerfile
  Backend/Models/Project.cs
  Backend/Models/Word.cs
  Backend/Repositories/ProjectRepository.cs
  Backend/Repositories/UserRepository.cs
  Backend/Services/LiftService.cs
  Backend/Startup.cs
  README.md
  docs/style_guide/c_sharp_style_guide.md
  docs/user_guide/docs/licenses/backend_licenses.txt
  src/api/api/invite-api.ts
  src/api/api/merge-api.ts
  src/api/api/project-api.ts
  src/api/api/user-api.ts
  src/api/api/user-edit-api.ts
  src/api/api/user-role-api.ts
  src/api/api/word-api.ts
Labels: backend, maintenance

#1215 Update backend dependencies
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  docs/user_guide/docs/licenses/backend_licenses.txt
Labels: backend, dependencies

#1220 Remove dependency on deprecated WebApiCompatShim
  Backend/BackendFramework.csproj
  Backend/Controllers/UserController.cs
Labels: backend, dependencies, maintenance

#1216 Add Docker build GitHub Actions Jobs
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: docker, test

#1229 Fix readme path
  README.md
Labels: documentation
