Repository sillsdev/TheCombine, pull requests merged in 2021-02, with the labels that each got.

#964 npm updates; major update react-scripts to 4.0.1; fix unit tests
  .gitignore
  package-lock.json
  package.json
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/spellChecker.ts
  src/components/DataEntry/tests/DataEntryComponent.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/Login/LoginActions.tsx
  src/components/Login/LoginReducer.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/ProjectSettings/ProjectLanguages/tests/ProjectLangauges.test.tsx
  src/components/Pronunciations/PronunciationsReducer.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/goals/MergeDupGoal/DuplicateFinder/tests/DuplicateFinder.test.ts
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/icons.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/resources/dictionaries/en-us.aff.ts
  src/resources/dictionaries/en-us.dic.ts
  src/resources/dictionaries/es.aff.ts
  src/resources/dictionaries/es.dic.ts
  src/resources/dictionaries/fr.aff.ts
  src/resources/dictionaries/fr.dic.ts
  src/resources/dictionaries/index.ts
  tsconfig.json
Labels: frontend, maintenance, test

#969 Add .well-known folder to ssl configuration
  nginx/templates/default.conf.template
Labels: bug, deployment

#966 Update backup script
  deploy/roles/aws_access/defaults/main.yml
  docker_deploy/roles/combine_backup/templates/combine-backup.j2
  docker_deploy/roles/combine_backup/templates/combine-cleanup.j2
  docker_deploy/roles/combine_backup/templates/combine-restore.j2
  docker_deploy/vars/config_common.yml
Labels: bug, deployment, docker

#971 Update version to 0.6.3
  package-lock.json
  package.json
Labels: versioning

#973 Update version to 0.6.4-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#970 Code split
  README.md
  package-lock.json
  package.json
  src/components/App/AppLoggedIn.tsx
  src/components/App/component.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
Labels: maintenance, performance

#979 Switch from material-table to @material-table/core; Update to react v17.
  package-lock.json
  package.json
  src/components/DataEntry/tests/DataEntryComponent.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
Labels: goal: ReviewEntries, maintenance, performance

#980 Update version to 0.6.4.
  package-lock.json
  package.json
Labels: versioning

#982 Set development version 0.6.5-alpha.0
  package-lock.json
  package.json
Labels: versioning

#974 Update devDependencies; Fix @typescript-eslint/no-redeclare.
  package-lock.json
  package.json
  src/components/Login/LoginActions.tsx
  src/components/PasswordReset/actions.tsx
  src/components/Project/ProjectActions.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectActions.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectReducer.tsx
  src/components/ProjectScreen/CreateProject/tests/CreateProjectActions.test.tsx
  src/components/ProjectScreen/CreateProject/tests/CreateProjectReducer.test.tsx
  tsconfig.json
Labels: maintenance

#963 Remove stale docs
  docs/api/README.md
  docs/api/file.md
  docs/api/projects/DevToolProjId.PNG
  docs/api/projects/code.PNG
  docs/api/projects/customField.md
  docs/api/projects/get.md
  docs/api/projects/get_semantic_domains.md
  docs/api/projects/get_users.md
  docs/api/projects/post.md
  docs/api/projects/project.md
  docs/api/projects/project_with_user.md
  docs/api/projects/put.md
  docs/api/projects/put_characters.md
  docs/api/projects/put_user.md
  docs/api/projects/semdoms.PNG
  docs/api/projects/user_edits/edit.md
  docs/api/projects/user_edits/get.md
  docs/api/projects/user_edits/get_all.md
  docs/api/projects/user_edits/goal_type.md
  docs/api/projects/user_edits/post.md
  docs/api/projects/user_edits/post_id.md
  docs/api/projects/user_edits/put.md
  docs/api/projects/user_edits/user_edit.md
  docs/api/projects/words/delete_id.md
  docs/api/projects/words/frontier.md
  docs/api/projects/words/get.md
  docs/api/projects/words/get_id.md
  docs/api/projects/words/gloss.md
  docs/api/projects/words/post.md
  docs/api/projects/words/post_upload_audio.md
  docs/api/projects/words/post_upload_lift.md
  docs/api/projects/words/put.md
  docs/api/projects/words/put_id.md
  docs/api/projects/words/semanticDomain.md
  docs/api/projects/words/sense.md
  docs/api/projects/words/state.md
  docs/api/projects/words/word.md
  docs/api/projects/words/word_tree.png
  docs/api/users/authenticate.md
  docs/api/users/get.md
  docs/api/users/get_all.md
  docs/api/users/post.md
  docs/api/users/post_upload_avatar.md
  docs/api/users/put.md
  docs/api/users/user.md
  docs/data_model.md
  docs/duplicate_finder_testing.md
  docs/frontend/README.md
  docs/frontend/addingComponents.md
  docs/frontend/fileStructure/backend.md
  docs/frontend/fileStructure/components.md
  docs/frontend/fileStructure/fileStructure.md
  docs/frontend/fileStructure/goals.md
  docs/frontend/fileStructure/index.tsx.md
  docs/frontend/fileStructure/resources.md
  docs/frontend/fileStructure/rootReducer.tsx.md
  docs/frontend/fileStructure/serviceWorker.ts.md
  docs/frontend/fileStructure/store.tsx.md
  docs/frontend/fileStructure/types.md
Labels: documentation, maintenance

#972 Review entries separate table
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
Labels: goal: ReviewEntries, refactor

#986 Fix localStorage test setup.
  src/backend/tests/localStorage.test.tsx
Labels: test

#987 Fix MergeDupStepActions test.
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
Labels: test

#991 Fix references to old docker_deploy folder
  package.json
  scripts/docker_setup.py
Labels: bug, docker

#988 Organize docs directory
  .dockerignore
  .gitignore
  Backend/Services/WordApiServices.cs
  Dockerfile
  README.md
  docs/requirements/5-30_Cleaner_Workflow/cards1.jpg
  docs/requirements/5-30_Cleaner_Workflow/cards2.jpg
  docs/requirements/5-30_Cleaner_Workflow/cleaner_workflow_5-30.md
  docs/requirements/5-30_Cleaner_Workflow/progress1.jpg
  docs/requirements/5-30_Cleaner_Workflow/progress2.jpg
  docs/requirements/5-30_Cleaner_Workflow/sketches.jpg
  docs/requirements/5-30_images/cards1.jpg
  docs/requirements/5-30_images/cards2.jpg
  docs/requirements/5-30_images/progress1.jpg
  docs/requirements/5-30_images/progress2.jpg
  docs/requirements/5-30_images/sketches.jpg
  docs/requirements/RWC Tool Requirements Review.pdf
  docs/requirements/Requirements for RWC Appliance.pdf
  docs/requirements/cleaner_workflow_5-30.md
  docs/requirements/user_tests/user_tests.md
  docs/style_guide/c_sharp_style_guide.md
  docs/style_guide/ts_style_guide.md
  docs/user_guide/docs/account.md
  docs/user_guide/docs/admin.md
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/images/favicon.ico
  docs/user_guide/docs/images/login.png
  docs/user_guide/docs/images/projectCreateTzotzil.png
  docs/user_guide/docs/images/userMenu.png
  docs/user_guide/docs/images/userMenuAdmin.png
  docs/user_guide/docs/index.md
  docs/user_guide/docs/project.md
  docs/user_guide/mkdocs.yml
  package.json
  tox.ini
Labels: documentation, refactor

#989 Remove unused MergeWords MergedBy and Time fields
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend/Models/Word.cs
  src/backend/index.tsx
  src/types/word.tsx
Labels: backend, refactor

#994 Update Word.Modified timestamp on merge or delete
  Backend/Services/WordApiServices.cs
  Backend/Services/WordRepository.cs
Labels: backend, bug

#996 Remove CORS headers from production
  Backend/Startup.cs
Labels: backend, refactor, security

#997 Enable Gzip compression in NGINX
  nginx/templates/default.conf.template
Labels: deployment, performance

#1000 Upgrade to Node 14 LTS
  Dockerfile
  README.md
Labels: docker, frontend, maintenance

#999 Cause npm run lint to fail if warnings are detected
  package.json
Labels: frontend, maintenance

#1001 Type cleanup
  package-lock.json
  package.json
  src/components/Buttons/LoadingButton.tsx
  src/components/Buttons/LoadingDoneButton.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/RegisterPage/RegisterComponent.tsx
  src/components/Login/RegisterPage/tests/RegisterComponent.test.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterWords/CharacterWordsComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterStatusText.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/types/AutoComplete.tsx
  src/types/goals.tsx
  src/types/project.tsx
  src/types/theme.ts
Labels: frontend, maintenance

#1004 Major goal- and step-loading refactor.
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend/Controllers/UserEditController.cs
  Backend/Interfaces/IUserEditService.cs
  Backend/Models/UserEdit.cs
  Backend/Services/UserEditApiServices.cs
  src/backend/index.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/GoalTimeline/GoalDisplay/HorizontalDisplay.tsx
  src/components/GoalTimeline/GoalDisplay/VerticalDisplay.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepReducer.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/types/goals.tsx
Labels: backend, frontend, goal, goal: MergeDup, refactor

#1005 Backup improvements
  deploy/group_vars/server/main.yml
  deploy/playbook_target_setup.yml
  deploy/roles/aws_access/defaults/main.yml
  deploy/roles/aws_access/tasks/main.yml
  deploy/roles/combine_backup/defaults/main.yml
  deploy/roles/combine_backup/tasks/main.yml
  deploy/roles/combine_backup/templates/combine-backup-job.j2
  deploy/roles/combine_backup/templates/combine-backup.j2
  deploy/roles/combine_backup/templates/combine-clean-aws.j2
  deploy/roles/combine_backup/templates/combine-env.j2
  deploy/roles/combine_backup/templates/combine-restore.j2
  deploy/vars/packages.yml
Labels: deployment, maintenance

#1007 Clean Untagged Images from AWS Container Registry
  deploy/bin/clean_repo.py
Labels: deployment, docker, maintenance

#1019 Fix frontend Word and Project data types to match the backend
  src/types/project.tsx
  src/types/word.tsx
Labels: bug, frontend

#1021 Avoid formatting user guide generated site directory
  .prettierignore
  package.json
Labels: test

#1024 Correct reCAPTCHA site key for thecombine.app
  deploy/host_vars/thecombine.app.yml
Labels: bug, deployment, frontend

#1008 Refactor: Edit, Goal, CharInventoryCreation
  Backend.Tests/Models/UserEditTests.cs
  Backend/Controllers/UserEditController.cs
  Backend/Models/UserEdit.cs
  src/backend/index.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/CharacterInventoryReducer.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterDetailComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo/index.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/index.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterWords.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterWords/CharacterWordsComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterWords/index.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterCard.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterListComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterStatusText.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
  src/types/goalUtilities.tsx
  src/types/goals.tsx
  src/types/tests/goalUtilities.test.tsx
  src/types/theme.ts
  src/types/userEdit.ts
Labels: backend, frontend, goal, refactor

#1023 [types/word] Fix accessibility type mismatch between frontend and backend.
  src/types/word.tsx
Labels: bug

#968 Export updates: use sanitized project name, red error icon, update signalr
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Helper/Sanitization.cs
  Backend/Helper/Sanitization.cs
  Backend/Services/LiftApiServices.cs
  package-lock.json
  package.json
  src/components/ProjectExport/DownloadButton.tsx
Labels: import/export

#1025 Add goal/edit guid; Refactor GoalTimeline & DefaultGoal.
  Backend.Tests/Models/UserEditTests.cs
  Backend/Models/UserEdit.cs
  src/components/GoalTimeline/GoalHistory/GoalHistoryComponent.tsx
  src/components/GoalTimeline/GoalHistory/GoalWidget.tsx
  src/components/GoalTimeline/GoalHistory/tests/GoalWidget.test.tsx
  src/components/GoalTimeline/GoalSuggestions/GoalSuggestionsComponent.tsx
  src/components/GoalTimeline/GoalSuggestions/index.tsx
  src/components/GoalTimeline/GoalSuggestions/tests/GoalSuggestions.test.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/components/GoalTimeline/GoalsReducer.tsx
  src/components/GoalTimeline/tests/GoalTimelineActions.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineReducers.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/BaseGoalScreen.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/displayProg.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/index.tsx
  src/goals/DefaultGoal/BaseGoalScreen/DisplayProg/tests/displayProg.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen/index.tsx
  src/goals/DefaultGoal/BaseGoalScreen/tests/BaseGoalScreen.test.tsx
  src/goals/DefaultGoal/BaseGoalWidget/BaseGoalWidget.tsx
  src/goals/DefaultGoal/BaseGoalWidget/tests/BaseGoalWidget.test.tsx
  src/goals/DefaultGoal/DisplayProgress.tsx
  src/goals/DefaultGoal/tests/BaseGoalScreen.test.tsx
  src/goals/DefaultGoal/tests/DisplayProgress.test.tsx
  src/types/goalUtilities.tsx
  src/types/goals.tsx
  src/types/tests/goalUtilities.test.tsx
  src/types/userEdit.ts
Labels: backend, frontend, goal, refactor

#1027 [ReviewEntriesSense] Refactor to maintain goals.
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/SenseCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesReducer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTypes.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
Labels: goal: ReviewEntries, refactor

#1028 Partial refactor of Goal/Edit History
  Backend/Controllers/UserEditController.cs
  Backend/Services/UserEditApiServices.cs
  src/backend/index.tsx
  src/components/GoalTimeline/GoalDisplay/HorizontalDisplay.tsx
  src/components/GoalTimeline/GoalDisplay/VerticalDisplay.tsx
  src/components/GoalTimeline/GoalDisplay/tests/VerticalDisplay.test.tsx
  src/components/GoalTimeline/GoalHistory/GoalHistoryComponent.tsx
  src/components/GoalTimeline/GoalHistory/GoalWidget.tsx
  src/components/GoalTimeline/GoalHistory/index.tsx
  src/components/GoalTimeline/GoalHistory/tests/GoalHistoryComponent.test.tsx
  src/components/GoalTimeline/GoalHistory/tests/GoalWidget.test.tsx
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/GoalsActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryActions.tsx
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/index.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
  src/goals/CreateCharInv/CreateCharInv.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/types/goals.tsx
Labels: backend, frontend, goal, refactor

#1032 Improve AppBar and GoalTimeline response to different window widths.
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectNameButton.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/AppBar/tests/__snapshots__/AppBarComponent.test.tsx.snap
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
Labels: Needs UX Design, frontend

#1031 Db Maintenance scripts for TheCombine
  .gitattributes
  Backend/Startup.cs
  README.md
  deploy/bin/clean_repo.py
  deploy/group_vars/nuc/vault.yml
  deploy/group_vars/qa/vault.yml
  deploy/group_vars/server/vault.yml
  deploy/playbook_install.yml
  deploy/playbook_target_setup.yml
  deploy/roles/combine_install/tasks/main.yml
  deploy/roles/combine_install/templates/env.j2
  deploy/roles/combine_maintenance/defaults/main.yml
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/maint_utils.py
  deploy/roles/combine_maintenance/files/make_user_admin.py
  deploy/roles/combine_maintenance/files/rm_project.py
  deploy/roles/combine_maintenance/tasks/main.yml
  deploy/roles/combine_maintenance/templates/combine-backup-job.j2
  deploy/roles/combine_maintenance/templates/combine-backup.j2
  deploy/roles/combine_maintenance/templates/combine-clean-aws.j2
  deploy/roles/combine_maintenance/templates/combine-env.j2
  deploy/roles/combine_maintenance/templates/combine-restore.j2
  deploy/roles/create_admin_user/tasks/main.yml
  docs/deploy/README.md
Labels: deployment, docker, maintenance, python

#1036 Don't allow empty or duplicate project names in backend.
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/ProjectServiceMock.cs
  Backend/Controllers/ProjectController.cs
  Backend/Interfaces/IProjectService.cs
  Backend/Services/ProjectApiServices.cs
  Backend/Services/UserApiServices.cs
  Backend/Services/WordRepository.cs
Labels: backend, project

#1038 Bump Python dependencies
  dev-requirements.in
  dev-requirements.txt
Labels: python

#1040 Enable Python type checking in deploy/roles
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/maint_utils.py
  deploy/roles/combine_maintenance/files/make_user_admin.py
  deploy/roles/combine_maintenance/files/rm_project.py
  tox.ini
Labels: maintenance, python

#1037 Functions, button to fill all empty guids.
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Services/WordRepository.cs
  src/backend/index.tsx
  src/components/SiteSettings/SiteSettingsComponent.tsx
Labels: backend, maintenance

#1042 Set version to 0.6.5
  package-lock.json
  package.json
Labels: versioning

#1043 Bump version to 0.6.6-alpha.0.
  package-lock.json
  package.json
Labels: versioning

#1013 Require that Words and Senses have a GUID
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend.Tests/Models/WordTests.cs
  Backend/Controllers/FrontierController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Models/Word.cs
  Backend/Services/LiftApiServices.cs
  Backend/Services/WordRepository.cs
  src/backend/index.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/tests/DataEntryComponent.test.tsx
  src/components/SiteSettings/SiteSettingsComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepActions.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.tsx
  src/goals/MergeDupGoal/MergeDupStep/tests/MergeDupStepActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesActions.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesReducer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTypes.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
  src/types/word.tsx
Labels: backend, frontend, refactor

#1044 Bump version to 0.6.6
  package-lock.json
  package.json
Labels: versioning

#1045 Fix Sense.Clone() to clone Accessibility
  Backend.Tests/Models/WordTests.cs
  Backend/Models/Word.cs
Labels: backend, bug

#1046 Bump version to 0.6.7-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1041 Improve code quality for combine maintenance scripts
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/maint_utils.py
  deploy/roles/combine_maintenance/files/make_user_admin.py
  deploy/roles/combine_maintenance/files/rm_project.py
Labels: python, refactor

#1047 Document use of LiftSense.Id for GUID
  Backend/Services/LiftApiServices.cs
Labels: backend, documentation, import/export

#1048 Allow upgrades to docker-compose
  deploy/roles/docker_install/tasks/main.yml
  deploy/vars/packages.yml
Labels: deployment, docker
