Repository sillsdev/TheCombine, pull requests merged in 2021-12, with the labels that each got.

#1482 Fix kubernetes restore
  deploy/roles/k8s_config/templates/deployment-maintenance.yaml.j2
  maintenance/scripts/combine_restore.py
Labels: python, kubernetes, Size: S

#1483 Switch to kubernetes deployment
  deploy/group_vars/qa/main.yml
  deploy/group_vars/server/main.yml
  deploy/hosts.yml
  docs/deploy/README.md
Labels: documentation, deployment, kubernetes

#1484 Improve unexpected error handling in frontend
  src/backend/index.ts
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectUsers/AddProjectUsers.tsx
  src/components/ProjectSettings/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/components/SiteSettings/UserManagement/ConfirmDeletion.tsx
  src/components/SiteSettings/UserManagement/UserManagement.tsx
  src/components/Toast/SwalToast.ts
  src/components/Toast/UpperRightToastContainer.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceActions.ts
  src/resources/translations.json
Labels: frontend, refactor, Size: S

#1486 Release version 0.7.10
  package-lock.json
  package.json
Labels: versioning

#1487 Bump version to 0.7.11-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1489 Kubernetes doc update
  docs/deploy/kubernetes_design/README.md
  docs/deploy/kubernetes_design/UML/combine_cert_proxy_server.png
Labels: documentation, kubernetes

#1491 Remove Unused Permission enumeration member
  Backend/Controllers/ProjectController.cs
  Backend/Models/UserRole.cs
  Backend/Services/InviteService.cs
  README.md
  deploy/roles/combine_maintenance/files/add_user_to_proj.py
  deploy/roles/combine_maintenance/files/combine_app.py
  maintenance/scripts/combine_app.py
  src/api/models/permission.ts
  src/components/ProjectSettings/ProjectUsers/AddProjectUsers.tsx
  src/components/ProjectSettings/ProjectUsers/CancelConfirmDialogCollection.tsx
Labels: backend, refactor

#1490 Create GitHub Actions to deploy The Combine
  .github/actions/combine-build/action.yml
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/deploy_live.yml
  .github/workflows/deploy_qa.yml
Labels: deployment, kubernetes, CI/CD

#1481 Merge delete
  Backend.Tests/Services/MergeServiceTests.cs
  Backend/Models/MergeWords.cs
  Backend/Repositories/WordRepository.cs
  Backend/Services/MergeService.cs
  src/api/models/merge-words.ts
  src/goals/MergeDupGoal/MergeDupComponent/MergeDupsCompleted.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DragSense.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/SidebarDragSense.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.ts
  src/goals/MergeDupGoal/MergeDupStep/SenseCardContent.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.ts
  src/goals/MergeDupGoal/MergeDupsTypes.ts
  src/goals/MergeDupGoal/Redux/MergeDupActions.ts
  src/goals/MergeDupGoal/Redux/MergeDupReducer.ts
  src/goals/MergeDupGoal/Redux/MergeDupReduxTypes.ts
  src/goals/MergeDupGoal/Redux/tests/MergeDupActions.test.tsx
  src/goals/MergeDupGoal/Redux/tests/MergeDupReducer.test.tsx
  src/resources/translations.json
  src/types/word.ts
Labels: enhancement, frontend, goal: MergeDup

#1501 Update User Guide with project creation changes
  docs/user_guide/docs/images/projectCreateTzotzil.png
  docs/user_guide/docs/index.md
  docs/user_guide/docs/project.md
Labels: documentation

#1503 Use immutable bindings in DataEntryComponent
  src/components/DataEntry/DataEntryComponent.tsx
Labels: frontend, refactor

#1506 Allow same file to be selected after it was cleared
  docs/user_guide/docs/project.md
  src/components/Buttons/FileInputButton.tsx
Labels: bug, frontend, import/export

#1507 Create release version 0.7.11
  package-lock.json
  package.json
Labels: versioning

#1508 Bump version to 0.7.12-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1504 Indicate when nothing is found for a search in the "Find a domain" box
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/resources/translations.json
Labels: enhancement, frontend, component: DataEntry
