Repository sillsdev/TheCombine, pull requests merged in 2022-06, with the labels that each got.

#1672 npm update
  package-lock.json
Labels: dependencies

#1673 Fix documentation based on Kevin's feedback
  Backend/Services/LiftService.cs
  deploy/ansible/ansible.cfg
  docs/user_guide/docs/admin.md
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/index.md
  docs/user_guide/docs/project.md
  src/components/TreeView/tests/MockSemanticDomain.ts
Labels: documentation

#1674 Hyphenate adjectival noun phrases
  docs/user_guide/mkdocs.yml
Labels: documentation

#1675 Bump version for Release 0.7.24
  package-lock.json
  package.json
Labels: versioning

#1676 Bump version to 0.7.25-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1677 Simplify Release Process
  .github/actions/combine-build/action.yml
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/backend.yml
  .github/workflows/deploy_live.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .gitignore
  .prettierignore
  Dockerfile
  deploy/helm/aws-login/values.yaml
  deploy/helm/thecombine/charts/maintenance/templates/cronjob-daily-backup.yaml
  deploy/scripts/app_release.py
  deploy/scripts/build.py
  deploy/scripts/combine_charts.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_files/cluster_config.yaml
  deploy/scripts/utils.py
  dev-requirements.txt
  docs/release_process/README.md
  docs/release_process/images/new_release_form.png
  maintenance/Dockerfile
  package-lock.json
  package.json
  public/index.html
  pyproject.toml
  scripts/printVersion.js
  scripts/setRelease.js
  src/components/AppBar/UserMenu.tsx
  src/components/LandingPage/BottomBar.tsx
  src/types/runtimeConfig.ts
  tsconfig.json
Labels: documentation, deployment, python, versioning, CI/CD
