Repository sillsdev/TheCombine, pull requests merged in 2022-09, with the labels that each got.

#1726 Create a specialized database container
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .gitignore
  database/Dockerfile
  database/init/update-semantic-domains.sh
  deploy/helm/thecombine/charts/database/templates/_helpers.tpl
  deploy/helm/thecombine/charts/database/templates/database.yaml
  deploy/helm/thecombine/charts/database/values.yaml
  deploy/scripts/build.py
  deploy/scripts/sem_dom_import.py
Labels: deployment, docker, python, kubernetes, CI/CD

#1727 Add option for full question structure or flattened questions
  deploy/scripts/sem_dom_import.py
  deploy/scripts/semantic_domains.py
Labels: deployment, python

#1728 Add 'database' to list of components to build
  .github/workflows/deploy_release.yml
  docs/deploy/kubernetes_design/README.md
Labels: bug, CI/CD

#1731 Set empty nodes to null instead of empty object, {}
  deploy/scripts/semantic_domains.py
Labels: deployment, python

#1732 Revert "Semantic domain model/type update (#1718)"
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/SemanticDomainControllerTests.cs
  Backend.Tests/Models/ProjectTests.cs
  Backend.Tests/Models/SemanticDomainTest.cs
  Backend.Tests/Models/WordTests.cs
  Backend.Tests/Util.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/SemanticDomainController.cs
  Backend/Models/Project.cs
  Backend/Models/SemanticDomain.cs
  Backend/Models/Word.cs
  Backend/Services/LiftService.cs
  src/api/.openapi-generator/FILES
  src/api/api.ts
  src/api/api/project-api.ts
  src/api/api/semantic-domain-api.ts
  src/api/models/index.ts
  src/api/models/semantic-domain-full.ts
  src/api/models/semantic-domain-tree-node.ts
  src/api/models/semantic-domain.ts
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryHeader/tests/DataEntryHeader.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/ExistingDataTable/tests/ExistingDataTable.test.tsx
  src/components/DataEntry/tests/DataEntryComponent.test.tsx
  src/components/TreeView/DomainTile.tsx
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/TreeSemanticDomain.ts
  src/components/TreeView/TreeViewActions.ts
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/tests/MockSemanticDomain.ts
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeViewActions.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
  src/types/semanticDomain.ts
  src/types/word.ts
Labels: bug

#1738 Create script to migrate SemanticDomains lists in the CombineDatabase
  README.md
  dev-requirements.in
  dev-requirements.txt
  maintenance/requirements.in
  maintenance/requirements.txt
  maintenance/scripts/db_update_sem_dom_in_senses.py
Labels: deployment, python
