Repository sillsdev/TheCombine, pull requests merged in 2022-10, with the labels that each got.

#1740 Export entry id: vern -> vern_guid
  Backend/Services/LiftService.cs
Labels: bug, backend, import/export

#1739 Verify Kubernetes context before install
  deploy/scripts/aws_env.py
  deploy/scripts/kube_env.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_files/combine_config.yaml
  deploy/scripts/utils.py
  dev-requirements.txt
  maintenance/scripts/combine_backup.py
  maintenance/scripts/combine_restore.py
  maintenance/scripts/db_update_sem_dom_in_senses.py
  maintenance/scripts/maint_utils.py
Labels: deployment, python, kubernetes, CI/CD

#1745 Add Hardware Monitoring to NUC installations
  deploy/ansible/group_vars/nuc/main.yml
  deploy/ansible/group_vars/server/main.yml
  deploy/ansible/playbook_kube_install.yaml
  deploy/ansible/roles/monitor_hardware/defaults/main.yml
  deploy/ansible/roles/monitor_hardware/handlers/main.yml
  deploy/ansible/roles/monitor_hardware/tasks/main.yml
  deploy/requirements.txt
  deploy/scripts/build.py
  maintenance/requirements.txt
Labels: deployment

#1746 Change update mode for Semantic Domain database items
  README.md
  database/init/update-semantic-domains.sh
Labels: bug, deployment

#1749 Update migration script
  database/init/update-semantic-domains.sh
  maintenance/scripts/db_update_sem_dom_in_senses.py
Labels: bug, python
