Repository sillsdev/TheCombine, pull requests merged in 2022-03, with the labels that each got.

#1596 Bump version for Release 0.7.16
  package-lock.json
  package.json
Labels: versioning

#1597 Bump version to 0.7.17-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1598 Fix backup scripts
  deploy/scripts/setup_combine.py
  maintenance/scripts/combine_app.py
  maintenance/scripts/combine_backup.py
  maintenance/scripts/maint_utils.py
Labels: bug, deployment, python

#1601 Migrate to version 2 of CodeCov GitHub Action
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  Backend.Tests/Backend.Tests.csproj
Labels: bug, test, maintenance

#1605 Bump version for Release 0.7.17
  package-lock.json
  package.json
Labels: versioning

#1593 Add tests for WordIsUnique()
  Backend.Tests/Services/WordServiceTests.cs
  Backend.Tests/Util.cs
Labels: backend, test

#1553 Consolidate language and writing system definitions
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/tests/RecentEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/spellChecker.ts
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/components/ProjectScreen/CreateProject/Redux/CreateProjectReduxTypes.ts
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/goals/MergeDupGoal/Redux/tests/MergeDupActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/GlossCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/MockWords.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesReducer.test.tsx
  src/index.tsx
  src/types/project.ts
  src/types/writingSystem.ts
Labels: frontend, refactor

#1607 Fix deployment name for cert proxy server
  .github/actions/combine-deploy-update/action.yml
Labels: bug, CI/CD

#1606 Bump version to 0.7.18-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1613 Bump version for Release 0.7.18
  package-lock.json
  package.json
Labels: versioning

#1615 [NewEntry] If duplicate, add note to existing
  Backend.Tests/Models/WordTests.cs
  Backend.Tests/Services/WordServiceTests.cs
  Backend/Models/Word.cs
  Backend/Services/WordService.cs
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
Labels: backend, component: DataEntry

#1616 [LangingPage] Add paragraph with call-to-action, sign-up button
  docs/deploy/README.md
  docs/deploy/kubernetes_design/README.md
  docs/user_guide/docs/account.md
  src/components/LandingPage/BottomBar.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/LandingPage/TopBar.tsx
  src/components/LandingPage/index.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/resources/translations.json
Labels: frontend, login/signUp

#1621 Disable backups by default for all but production installations
  deploy/helm/thecombine/charts/maintenance/templates/cronjob-daily-backup.yaml
  deploy/helm/thecombine/values.yaml
  deploy/scripts/setup_files/combine_config.yaml
Labels: bug, deployment, kubernetes

#1623 Remove unused HTTPS certificate instructions from README
  README.md
Labels: documentation

#1624 Fix Helm deployment of the certificate proxy server
  deploy/helm/cert-proxy-server/templates/env-nginx-configmap.yaml
  deploy/helm/cert-proxy-server/templates/ingress-nuc.yaml
  deploy/helm/cert-proxy-server/templates/init-nginx-pages.yaml
  deploy/helm/cert-proxy-server/values.yaml
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_files/combine_config.yaml
  deploy/scripts/setup_files/profiles/dev.yaml
  deploy/scripts/setup_files/profiles/nuc.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
Labels: bug, deployment, python, kubernetes

#1625 Set version for Release 0.7.19
  package-lock.json
  package.json
Labels: versioning

#1628 Run npm update
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
Labels: frontend, dependencies
