Repository sillsdev/TheCombine, pull requests merged in 2022-02, with the labels that each got.

#1550 Bump version to 0.7.15-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1551 Set indent_size within editorconfig
  .editorconfig
Labels: maintenance

#1552 [NewEntry] Shift focus on ENTER if selected suggestion matches types vernacular
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
Labels: bug, frontend, component: DataEntry

#1554 Reduce maximum row size in Review Entries
  package-lock.json
  package.json
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
Labels: enhancement, goal: ReviewEntries

#1558 Set Python max line length in .editorconfig
  .editorconfig
  pyproject.toml
Labels: maintenance

#1560 [DataEntryTable] Improve updating of recent entries
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
Labels: refactor, performance, component: DataEntry

#1562 Cleanup this.setState usage
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/components/ProjectSettings/ProjectImport/ProjectImport.tsx
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/SiteSettings/UserManagement/UserList.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceComponent.tsx
Labels: maintenance

#1559 Bump version to 0.7.15
  package-lock.json
  package.json
Labels: versioning

#1567 Bump version to 0.7.16-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1570 Document semantic domain language project setting
  docs/user_guide/docs/project.md
Labels: documentation

#1576 Update backend dependencies
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  docs/user_guide/docs/licenses/backend_licenses.txt
Labels: backend, dependencies

#1574 npm update; update frontend license report
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
Labels: documentation

#1578 Fix "Deploy Update to QA Server" action
  .github/actions/combine-deploy-update/action.yml
Labels: CI/CD

#1565 [TreeView] lazy load domains; store domain map in redux
  src/components/AppBar/NavigationButtons.tsx
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/index.ts
  src/components/DataEntry/tests/spellChecker.test.ts
  src/components/TreeView/DomainTile.tsx
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/TreeSemanticDomain.ts
  src/components/TreeView/TreeViewActions.ts
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/index.ts
  src/components/TreeView/tests/DomainTile.test.tsx
  src/components/TreeView/tests/MockSemanticDomain.ts
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/TreeView/tests/TreeViewActions.test.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/TreeViewReducer.test.tsx
  src/components/TreeView/tests/__snapshots__/TreeDepiction.test.tsx.snap
  src/components/TreeView/tests/__snapshots__/TreeViewComponent.test.tsx.snap
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesActions.ts
Labels: frontend, refactor, component: TreeView

#1587 Remove certmgr workflow
  .github/workflows/certmgr.yml
Labels: docker, CI/CD
