Repository sillsdev/TheCombine, pull requests merged in 2022-04, with the labels that each got.

#1632 Bump version for release 0.7.20
  package-lock.json
  package.json
Labels: versioning

#1633 Bump version to 0.7.21-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1638 Fix setting of server list for the cert proxy server
  deploy/helm/cert-proxy-server/templates/ingress-nuc.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
Labels: bug, deployment, kubernetes

#1645 Add content to goals > Merge Duplicates
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/images/mergeDelete.png
  docs/user_guide/docs/images/mergeDeleted.png
  docs/user_guide/docs/images/mergeEditFlag.png
  docs/user_guide/docs/images/mergeFlag.png
  docs/user_guide/docs/images/mergeFlagged.png
  docs/user_guide/docs/images/mergeMerge.png
  docs/user_guide/docs/images/mergeMove.png
  docs/user_guide/docs/images/mergeSaveAndContinue.png
  docs/user_guide/docs/images/mergeSidebar.png
  docs/user_guide/docs/images/mergeSidebarMove.png
  docs/user_guide/docs/images/mergeSkip.png
  docs/user_guide/docs/images/mergeTwo.png
Labels: documentation

#1646 Bump version for release 0.7.21
  deploy/helm/thecombine/Chart.yaml
  package-lock.json
  package.json
Labels: versioning

#1647 Bump version to 0.7.22-alpha.0
  deploy/helm/thecombine/Chart.yaml
  package-lock.json
  package.json
Labels: versioning
