Repository sillsdev/TheCombine, pull requests merged in 2022-07, with the labels that each got.

#1678 Add NUC instance
  .github/workflows/deploy_release.yml
  README.md
  deploy/ansible/group_vars/nuc/vault.yml
  deploy/ansible/group_vars/server/vault.yml
  deploy/ansible/hosts.yml
  deploy/ansible/playbook_admin_user.yaml
  deploy/ansible/vars/aws.yml
  deploy/ansible/vars/vault_config.yml
  deploy/scripts/setup_files/combine_config.yaml
  deploy/scripts/setup_files/profiles/nuc.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
  dev-requirements.txt
  docs/deploy/README.md
Labels: documentation, deployment, kubernetes, CI/CD

#1680 Update image_repo references
  .github/actions/combine-build/action.yml
  .github/actions/combine-deploy-update/action.yml
Labels: bug, CI/CD

#1681 Update release scripts
  .github/workflows/deploy_release.yml
  deploy/scripts/setup_combine.py
Labels: bug, deployment, CI/CD

#1685 npm update
  package-lock.json
  package.json
Labels: dependencies

#1686 Upgrade Python deps
  dev-requirements.txt
Labels: python, dependencies

#1683 Docker image for deploy
  deploy/.dockerignore
  deploy/Dockerfile
  deploy/ansible/roles/k8s_install/tasks/k3s.yml
  deploy/helm/cert-proxy-server/files/pages/index.html
  deploy/helm/cert-proxy-server/files/pages/tractor.png
  deploy/requirements.in
  deploy/requirements.txt
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_target.py
  deploy/scripts/utils.py
Labels: deployment, docker, python, kubernetes

#1693 Remove login to AWS ECR for production & NUC installations
  deploy/ansible/playbook_kube_install.yaml
  deploy/ansible/roles/k8s_config/defaults/main.yml
  deploy/ansible/roles/k8s_config/tasks/main.yml
  deploy/ansible/roles/k8s_install/tasks/k3s.yml
  deploy/helm/aws-login/templates/aws-login-service-acct.yaml
  deploy/scripts/setup_files/profiles/nuc.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
Labels: bug, deployment, kubernetes

#1694 Combine deploy enhancements
  deploy/Dockerfile
  deploy/docker_home/.bashrc
  deploy/docker_home/restore_config.sh
  deploy/docker_home/save_config.sh
  deploy/scripts/check_certs.py
  deploy/scripts/setup_target.py
  deploy/scripts/utils.py
Labels: deployment, docker, kubernetes

#1697 Upgrade Python deps
  dev-requirements.txt
Labels: python, dependencies

#1698 npm update
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
Labels: frontend, dependencies

#1699 Update Deployment Documentation
  .github/workflows/combine_deploy_image.yml
  deploy/ansible/roles/docker_install/defaults/main.yml
  deploy/ansible/roles/ethernet_config/defaults/main.yaml
  deploy/ansible/roles/ethernet_config/handlers/main.yaml
  deploy/ansible/roles/ethernet_config/tasks/main.yml
  deploy/docker_home/restore_config.sh
  deploy/docker_home/save_config.sh
  deploy/scripts/setup_target.py
  dev-requirements.txt
  docs/deploy/README.md
  docs/deploy/images/releases.png
  docs/deploy/kubernetes_design/README.md
Labels: documentation, deployment
