Repository sillsdev/TheCombine, pull requests merged in 2022-05, with the labels that each got.

#1654 Add ability to list images in the repo(s)
  scripts/clean_aws_repo.py
Labels: maintenance, python

#1655 Ubuntu 22.04
  README.md
  deploy/ansible/roles/wifi_ap/tasks/install.yml
  deploy/helm/aws-login/values.yaml
  deploy/helm/thecombine/charts/maintenance/templates/cronjob-daily-backup.yaml
  deploy/helm/thecombine/charts/maintenance/templates/deployment-maintenance.yaml
  docs/deploy/README.md
  maintenance/Dockerfile
Labels: documentation, deployment, docker

#1658 Allow $aws_backup with and without 's3://' at beginning
  maintenance/scripts/combine-clean-aws.sh
Labels: bug, deployment, kubernetes

#1659 Bump version to 0.7.23-alpha.0
  deploy/helm/thecombine/Chart.yaml
  package-lock.json
  package.json
Labels: versioning

#1661 Update gh actions
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/backend.yml
  .github/workflows/python.yml
  Backend/Dockerfile
Labels: backend, CI/CD

#1660 Update README per feedback from Kevin
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/project.md
  src/resources/translations.json
Labels: documentation

#1663 Revert dotnet to 6.0.x
  .github/workflows/backend.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
Labels: bug, backend, maintenance

#1664 LGTM: Classify src/api/ as generated to surpress warnings
  lgtm.yml
Labels: maintenance

#1668 Generate Helm Chart.yaml files from Jinja templates
  .gitignore
  deploy/helm/aws-login/Chart.yaml.j2
  deploy/helm/cert-proxy-client/Chart.yaml.j2
  deploy/helm/cert-proxy-server/Chart.lock
  deploy/helm/cert-proxy-server/Chart.yaml.j2
  deploy/helm/create-admin-user/Chart.yaml.j2
  deploy/helm/thecombine/Chart.lock
  deploy/helm/thecombine/Chart.yaml.j2
  deploy/helm/thecombine/charts/backend/Chart.yaml.j2
  deploy/helm/thecombine/charts/database/Chart.yaml.j2
  deploy/helm/thecombine/charts/frontend/Chart.yaml.j2
  deploy/helm/thecombine/charts/maintenance/Chart.yaml.j2
  deploy/scripts/combine_charts.py
  deploy/scripts/setup_combine.py
Labels: deployment, python, versioning, kubernetes
