Repository sillsdev/TheCombine, pull requests merged in 2022-01, with the labels that each got.

#1510 Bump version to 0.7.12
  package-lock.json
  package.json
Labels: versioning

#1511 Bump version to 0.7.13-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1512 Quote string environment variables in docker-compose .env files
  deploy/roles/combine_config/templates/env.backend.j2
  deploy/roles/combine_config/templates/env.certmgr.j2
  deploy/roles/combine_config/templates/env.frontend.j2
Labels: bug, deployment, docker

#1509 Upgrade to .NET 6
  .github/workflows/backend.yml
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/BannerControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Backend/Helper/PasswordHash.cs
  Backend/Models/EmailInvite.cs
  Backend/Models/PasswordReset.cs
  Backend/Properties/launchSettings.json
  Backend/Services/LiftService.cs
  README.md
  package.json
Labels: backend, dependencies

#1513 Correct brace style in C# style guide
  Backend/Startup.cs
  README.md
  docs/style_guide/c_sharp_style_guide.md
Labels: documentation

#1514 Upgrade Python dependencies
  certmgr/scripts/entrypoint.py
  dev-requirements.in
  dev-requirements.txt
  maintenance/scripts/combine_app.py
  pyproject.toml
Labels: refactor, python, dependencies

#1518 Modernize ESLint React/TypeScript configuration
  package-lock.json
  package.json
  src/components/App/App.test.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/RegisterPage/tests/RegisterComponent.test.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/CharacterReplaceDialog.tsx
Labels: frontend

#1517 Update Kubernetes deployment scripts for NUCs
  deploy/roles/aws_login_job/templates/aws-ecr-login-cronjob.yaml.j2
  deploy/roles/aws_login_job/templates/aws-ecr-login-oneshot.yaml.j2
  deploy/roles/k8s_config/templates/ingress-combine.yaml.j2
  deploy/roles/k8s_install/handlers/main.yml
  deploy/roles/k8s_install/tasks/k3s.yml
Labels: deployment, performance, kubernetes

#1522 Use Python 3.9 to build the user guide
  Dockerfile
  tox.ini
Labels: docker, python

#1520 Update frontend dependencies
  package-lock.json
  package.json
Labels: frontend, dependencies

#1524 [DataEntry] Fix crash on window resize
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
Labels: bug, component: DataEntry

#1525 Fix new-entry note bug
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
Labels: bug, frontend

#1527 Revert to using {} instead of undefined for empty goal edit steps
  src/types/goals.ts
Labels: bug, goal

#1529 Remove direct usages of Node backend modules from frontend
  package-lock.json
  package.json
  src/backend/index.ts
  src/components/Login/Redux/LoginActions.ts
Labels: frontend, dependencies

#1531 Remove imports of React that are no longer needed
  src/components/Login/RegisterPage/tests/RegisterComponent.test.tsx
  src/components/Toast/UpperRightToastContainer.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
Labels: frontend, refactor

#1533 Release 0.7.13
  package-lock.json
  package.json
Labels: versioning

#1535 Bump version to 0.7.14-alpha.0
  package-lock.json
  package.json
Labels: versioning

#1544 Rename Project Settings "Interface Language" header
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/resources/translations.json
Labels: frontend

#1545 Add SemDomWritingSystem to project settings
  Backend.Tests/Models/ProjectTests.cs
  Backend/Models/Project.cs
  Backend/Repositories/ProjectRepository.cs
  src/api/models/project.ts
  src/components/DataEntry/DataEntryTable/RecentEntry/tests/RecentEntry.test.tsx
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/TreeView/TreeViewComponent.tsx
  src/components/TreeView/index.ts
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/index.tsx
  src/resources/translations.json
  src/types/project.ts
Labels: enhancement, frontend, component: DataEntry
