Repository sillsdev/TheCombine, pull requests merged in 2023-09, with the labels that each got.

#2533 Fix label for Analysis Language field
  src/components/ProjectScreen/CreateProject/index.tsx
Labels: bug, font/language, javascript

#2542 Dependabot updates for week of 4 September 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  docs/user_guide/default/licenses/backend_licenses.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: dependencies, javascript, .NET, github_actions

#2510 Update Python versions: remove 3.8, 3.9; add 3.11
  .github/workflows/python.yml
  Dockerfile
  README.md
  scripts/cleanup_local_repo.py
  tox.ini
Labels: maintenance, python, dependencies

#2545 Add some checks to editing project's vernacular language name
  src/components/ProjectSettings/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectName.tsx
  src/components/ProjectSettings/tests/ProjectLanguages.test.tsx
Labels: frontend, project, font/language

#2547 Fix empty project bug on project creation
  src/components/ProjectScreen/index.tsx
Labels: bug, frontend, project

#2548 Configure whether languages should be installed on a per chart basis
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_files/combine_config.yaml
Labels: bug, deployment, python

#2550 Don't mutate the input in the Font Context constructor
  src/utilities/fontContext.ts
Labels: bug, frontend, project, font/language

#2566 Clear the audio when a new entry is submitted
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/index.test.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
Labels: bug, frontend, component: DataEntry, audio

#2565 Dependabot updates for week of 2023 Sept 11
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  database/Dockerfile
  package-lock.json
  package.json
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
Labels: docker, dependencies, javascript, .NET, github_actions

#2590 Split off CodeCov upload as separate job
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: CI/CD, github_actions

#2575 Disable GlossCell, DefinitionCell when sense being deleted
  src/components/Overlay/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DefinitionCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/GlossCell.tsx
Labels: bug, frontend, javascript

#2604 Dependabot updates for week of 17 September 2023
  .github/workflows/combine_deploy_image.yml
  .github/workflows/deploy_qa.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/default/licenses/backend_licenses.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: documentation, docker, python, dependencies, javascript, .NET, github_actions

#2614 Move a dep to dev; Fix typos
  .vscode/settings.json
  README.md
  docs/user_guide/default/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/components/Pronunciations/tests/Pronunciations.test.tsx
Labels: documentation, dependencies

#2607 [DataEntry] Don't show/hide the Recent Entry delete icons
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
Labels: frontend, component: DataEntry

#2569 [ProjectSettings] Refactor with category tabs
  package-lock.json
  package.json
  public/locales/en/translation.json
  src/components/BaseSettings/index.tsx
  src/components/ProjectSettings/ProjectArchive.tsx
  src/components/ProjectSettings/ProjectSchedule/index.tsx
  src/components/ProjectSettings/ProjectSchedule/tests/index.test.tsx
  src/components/ProjectSettings/index.tsx
  src/components/ProjectSettings/tests/SettingsTabTypes.ts
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/ProjectUsers/ActiveProjectUsers.tsx
  src/components/ProjectUsers/AddProjectUsers.tsx
  src/components/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/components/ProjectUsers/EmailInvite.tsx
  src/components/ProjectUsers/SortOptions.tsx
  src/components/ProjectUsers/UserList.tsx
  src/components/ProjectUsers/tests/EmailInvite.test.tsx
  src/components/ProjectUsers/tests/SortOptions.test.tsx
  src/components/ProjectUsers/tests/UserList.test.tsx
  src/components/SiteSettings/ProjectManagement/ProjectUsersButtonWithConfirmation.tsx
  src/components/SiteSettings/ProjectManagement/index.tsx
  src/components/SiteSettings/ProjectManagement/tests/index.test.tsx
  src/components/SiteSettings/UserManagement/UserList.tsx
  src/types/user.ts
Labels: enhancement, frontend, project, javascript

#2567 [DataEntry] Prevent unnecessary gloss Enter
  src/components/DataEntry/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/index.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
Labels: frontend, component: DataEntry

#2609 Update deploy scripts
  README.md
  deploy/helm/cert-proxy-client/templates/_helpers.tpl
  deploy/helm/cert-proxy-client/templates/update-cert-cronjob.yaml
  deploy/helm/cert-proxy-client/templates/update-cert-oneshot.yaml
  deploy/helm/cert-proxy-server/templates/_helpers.tpl
  deploy/helm/cert-proxy-server/templates/deployment-cert-proxy-server.yaml
  deploy/helm/create-admin-user/templates/_helpers.tpl
  deploy/helm/create-admin-user/templates/job-create-admin-user.yaml
  deploy/helm/thecombine/charts/backend/templates/_helpers.tpl
  deploy/helm/thecombine/charts/backend/templates/deployment-backend.yaml
  deploy/helm/thecombine/charts/database/templates/_helpers.tpl
  deploy/helm/thecombine/charts/database/templates/database.yaml
  deploy/helm/thecombine/charts/frontend/templates/_helpers.tpl
  deploy/helm/thecombine/charts/frontend/templates/deployment-frontend.yaml
  deploy/helm/thecombine/charts/maintenance/templates/_helpers.tpl
  deploy/helm/thecombine/charts/maintenance/templates/deployment-maintenance.yaml
  deploy/helm/thecombine/values.yaml
  deploy/scripts/build.py
  deploy/scripts/setup_files/combine_config.yaml
  deploy/scripts/setup_files/profiles/nuc.yaml
  deploy/scripts/setup_files/profiles/nuc_qa.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
  deploy/scripts/setup_files/profiles/staging.yaml
  maintenance/scripts/combine_restore.py
Labels: deployment, maintenance, python

#2624 Move 2019 notes from repo to Google Drive
  docs/requirements/5-30_Cleaner_Workflow/cards1.jpg
  docs/requirements/5-30_Cleaner_Workflow/cards2.jpg
  docs/requirements/5-30_Cleaner_Workflow/cleaner_workflow_5-30.md
  docs/requirements/5-30_Cleaner_Workflow/progress1.jpg
  docs/requirements/5-30_Cleaner_Workflow/progress2.jpg
  docs/requirements/5-30_Cleaner_Workflow/sketches.jpg
  docs/requirements/RWC Tool Requirements Review.pdf
  docs/requirements/Requirements for RWC Appliance.pdf
  docs/requirements/user_tests/user_tests.md
Labels: documentation

#2635 Dependabot updates for week of 25 Sep 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/default/licenses/backend_licenses.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2636 [UserGuide] Reorder project settings; Add user role descriptions
  docs/user_guide/default/images/projectSettings1Basic.png
  docs/user_guide/default/images/projectSettings2Langs.png
  docs/user_guide/default/images/projectSettings3Users.png
  docs/user_guide/default/images/projectSettings4Port.png
  docs/user_guide/default/images/projectSettings5Sched.png
  docs/user_guide/docs/en/project.md
Labels: documentation

#2638 Remove vestigial check for baseUrl property
  nginx/init/25-combine-runtime-config.sh
  src/types/runtimeConfig.ts
Labels: frontend, maintenance

#2641 Add tests for fontCssUtilities
  src/utilities/fontCssUtilities.ts
  src/utilities/tests/fontCssUtilities.test.ts
Labels: frontend, test, font/language

#2648 Add UI language zh (Chinese) to nuc profile localLangList
  deploy/scripts/setup_files/profiles/nuc.yaml
  deploy/scripts/setup_files/profiles/nuc_qa.yaml
Labels: deployment, font/language
