Repository sillsdev/TheCombine, pull requests merged in 2023-12, with the labels that each got.

#2783 Export lift-ranges semantic domains in other languages
  .vscode/settings.json
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/SemanticDomainRepositoryMock.cs
  Backend.Tests/Services/LiftServiceTests.cs
  Backend/BackendFramework.csproj
  Backend/Data/sdList.txt
  Backend/Helper/FileStorage.cs
  Backend/Helper/Language.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Repositories/SemanticDomainRepository.cs
  Backend/Services/LiftService.cs
  src/goals/ReviewEntries/ReviewEntriesTable/CellComponents/DomainCell.tsx
  src/types/semanticDomain.ts
Labels: enhancement, backend, import/export, font/language

#2823 Expand DeleteCell testing
  src/goals/ReviewEntries/ReviewEntriesTable/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/CellComponents/tests/DeleteCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesTypes.ts
Labels: frontend, test, goal: ReviewEntries

#2825 Add local.thecombine.app to list of certificates for offline use
  deploy/scripts/setup_files/profiles/prod.yaml
Labels: deployment, kubernetes

#2793 Obliviate goal/edit index
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Models/UserEditTests.cs
  Backend/Controllers/UserEditController.cs
  Backend/Interfaces/IUserEditService.cs
  Backend/Models/UserEdit.cs
  Backend/Services/UserEditService.cs
  src/api/api/user-edit-api.ts
  src/api/models/user-edit-step-wrapper.ts
  src/backend/index.ts
  src/components/GoalTimeline/Redux/GoalActions.ts
  src/goals/CharacterInventory/CharacterInventoryTypes.ts
  src/types/goals.ts
  src/utilities/goalUtilities.ts
Labels: backend, frontend, maintenance, goal

#2824 Move permission/admin checks to backend
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserRoleController.cs
  src/api/api/user-api.ts
  src/api/api/user-role-api.ts
  src/backend/index.ts
  src/components/AppBar/ProjectButtons.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/ProjectButtons.test.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
Labels: backend, frontend, security

#2828 Use Helm chart hooks for Jobs to initialize cluster resources
  deploy/helm/aws-login/templates/aws-ecr-login-oneshot.yaml
  deploy/helm/cert-proxy-client/templates/update-cert-oneshot.yaml
  deploy/helm/create-admin-user/templates/job-create-admin-user.yaml
  deploy/helm/create-admin-user/values.yaml
  deploy/helm/thecombine/charts/maintenance/templates/cronjob-update-fonts.yaml
Labels: deployment, kubernetes

#2831 [Login] Fix button layout
  src/components/Login/Login.tsx
Labels: bug, frontend, login/signUp

#2834 Use targeted useAppSelector to avoid sidebar rerender loop
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDrop.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
Labels: bug, frontend, goal: MergeDup

#2835 [DataEntry] Clear note dialog text
  src/components/Dialogs/EditTextDialog.tsx
Labels: bug, frontend, component: DataEntry

#2840 [TreeView] Have down arrow go to first child
  src/components/TreeView/TreeNavigator.tsx
  src/components/TreeView/tests/TreeNavigator.test.tsx
Labels: enhancement, frontend, component: TreeView
