Repository sillsdev/TheCombine, pull requests merged in 2023-07, with the labels that each got.

#2348 Dependabot updates for week of 03 July 2023
  .github/workflows/combine_deploy_image.yml
  Backend.Tests/Backend.Tests.csproj
  database/Dockerfile
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, .NET, github_actions

#2353 [Backend/Models] WritingSystem: restore parameterless constructor
  Backend/Models/Project.cs
Labels: bug, backend

#2350 [User Guide] Incorporate feedback
  docs/user_guide/docs/account.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/project.md
  src/components/Login/LoginPage/LoginComponent.tsx
Labels: documentation

#2351 [frontend] Fail any test with console error/warn
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/setupTests.js
Labels: frontend, test

#2366 [MergeDups] Reorganize
  src/components/App/DefaultState.ts
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/Redux/GoalActions.ts
  src/components/GoalTimeline/tests/GoalActions.test.tsx
  src/components/GoalTimeline/tests/GoalReducer.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/NextGoalScreen.tsx
  src/goals/DefaultGoal/tests/DisplayProgress.test.tsx
  src/goals/MergeDupGoal/MergeDupComponent/index.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/index.ts
  src/goals/MergeDupGoal/MergeDups.ts
  src/goals/MergeDuplicates/MergeDupsCompleted.tsx
  src/goals/MergeDuplicates/MergeDupsContinueDialog.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDrop.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SaveSkipButtons.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SenseCardContent.tsx
  src/goals/MergeDuplicates/MergeDupsStep/index.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/MergeDupsTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReduxTypes.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
  src/goals/MergeDuplicates/index.tsx
  src/goals/MergeDuplicates/tests/MergeDupsCompleted.test.tsx
  src/rootReducer.ts
  src/types/goals.ts
  src/types/index.ts
  src/utilities/goalUtilities.ts
  src/utilities/tests/goalUtilities.test.ts
Labels: frontend, refactor, goal: MergeDup

#2397 Dependabot updates for week of 17 July 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  tox.ini
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2374 [User Guide] Incorporate feedback
  docs/user_guide/docs/en/dataEntry.md
  docs/user_guide/docs/en/goals.md
Labels: documentation

#2371 Add DataEntryTable tests; Exclude backend/index
  codecov.yml
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
Labels: frontend, test

#2405 Add a Recorder context
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/SenseDialog.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/RecorderContext.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DefinitionCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DeleteCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DomainCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/FlagCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/GlossCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/NoteCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/PartOfSpeechCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/SenseCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/VernacularCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesReducer.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTypes.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/CellColumns.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
Labels: frontend, component: DataEntry, goal: ReviewEntries, audio

#2375 [StatisticsService] Add tests
  Backend.Tests/Services/StatisticsServiceTests.cs
  Backend/Models/Statistics.cs
  Backend/Services/StatisticsService.cs
Labels: backend, test

#2428 Dependabot updates for week of 24 July 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/docs/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, github_actions

#2399 [CreateProject] Convert to function component; Add tests
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/components/ProjectScreen/CreateProject/index.ts
  src/components/ProjectScreen/CreateProject/index.tsx
  src/components/ProjectScreen/CreateProject/tests/CreateProjectComponent.test.tsx
Labels: frontend, refactor, test, project

#2376 [PermissionService] Add tests
  Backend.Tests/Services/PermissionServiceTests.cs
  Backend/Models/User.cs
Labels: backend, test

#2414 [ProjectSchedule] Add read-only variant, typing, tests
  .vscode/settings.json
  src/components/ProjectSettings/ProjectSchedule/CalendarView.tsx
  src/components/ProjectSettings/ProjectSchedule/DateScheduleEdit.tsx
  src/components/ProjectSettings/ProjectSchedule/DateSelector.tsx
  src/components/ProjectSettings/ProjectSchedule/ProjectSchedule.tsx
  src/components/ProjectSettings/ProjectSchedule/tests/ProjectSchedule.test.tsx
  src/components/ProjectSettings/index.tsx
  src/components/ProjectSettings/tests/ProjectLangauges.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
Labels: enhancement, frontend, project

#2431 Simplify .gitignore rules
  .gitignore
Labels: maintenance

#2432 Update: ar, es, fr, pt
  public/locales/ar/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/pt/translation.json
Labels: font/language

#2443 Dependabot updates for week of 31 July 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  docs/user_guide/default/licenses/backend_licenses.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  docs/user_guide/docs/default/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: dependencies, javascript, .NET, github_actions
