Repository sillsdev/TheCombine, pull requests merged in 2023-04, with the labels that each got.

#2001 Dependabot updates for week of 3 Apr 2023
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  deploy/requirements.txt
  dev-requirements.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: python, dependencies, javascript, .NET, github_actions

#2011 Dependabot updates for week of 10 Apr 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: dependencies, javascript, .NET, github_actions

#1762 Add support for Docker BuildKit
  deploy/scripts/build.py
Labels: deployment, docker, python

#2022 Revert axios to 0.27.2
  .gitignore
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: bug, javascript

#2023 Dependabot updates for week of 17 APR 2023
  .github/dependabot.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: dependencies, javascript, github_actions

#2049 Additional dependabot updates for week of 17 April 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, .NET, github_actions

#2055 Pin sweetalert2 to remove protestware
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: bug, dependencies, javascript

#2074 Fix minor existing data drawer bugs
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/ExistingDataTable/ExistingDataTable.tsx
Labels: bug, component: DataEntry

#2053 Review entries rows
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
Labels: frontend, goal: ReviewEntries

#2077 Dependabot updates for week of 24 April 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/goals/CharInventoryCreation/tests/__snapshots__/CharacterInventoryComponent.test.tsx.snap
Labels: docker, dependencies, javascript, .NET, github_actions

#2078 Allow protected senses to move, but prevent deleting/combining
  Backend/Helper/LiftHelper.cs
  public/locales/en/translation.json
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DragSense.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupsTree.ts
Labels: enhancement, frontend, goal: MergeDup

#2082 Statistics graph: fill gap between running total and burst projection
  Backend/Controllers/StatisticsController.cs
  Backend/Models/Statistic.cs
  Backend/Services/StatisticsService.cs
  public/locales/en/translation.json
  src/components/AppBar/Logo.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/SignUpPage/tests/SignUpComponent.test.tsx
  src/components/PageNotFound/tests/component.test.tsx
  src/components/PasswordReset/ResetPage/index.ts
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
  src/components/ProjectScreen/CreateProject/tests/CreateProjectActions.test.tsx
  src/components/ProjectScreen/CreateProject/tests/CreateProjectComponent.test.tsx
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/ProjectSettings/ProjectDefinitions.tsx
  src/components/ProjectSettings/ProjectLanguages/tests/ProjectLangauges.test.tsx
  src/components/ProjectSettings/ProjectSchedule/CalendarView.tsx
  src/components/ProjectSettings/ProjectSchedule/DateSelector.tsx
  src/components/ProjectSettings/ProjectSchedule/ProjectSchedule.tsx
  src/components/ProjectSettings/ProjectSwitch/ProjectSwitch.tsx
  src/components/ProjectSettings/ProjectSwitch/tests/ProjectSwitch.test.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/Redux/PronunciationsReducer.ts
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/SiteSettings/ProjectManagement/tests/ProjectManagement.test.tsx
  src/components/Statistics/Chart/LineChartComponent.tsx
  src/components/Statistics/DomainStatistics/SemanticDomainStatistics.tsx
  src/components/Statistics/DomainStatistics/SemanticDomainStatisticsTable.tsx
  src/components/Statistics/DomainStatistics/tests/SemanticDomainStatistics.test.tsx
  src/components/Statistics/DomainStatistics/tests/SemanticDomainStatisticsTable.test.tsx
  src/components/Statistics/Statistics.tsx
  src/components/Statistics/TableCells.tsx
  src/components/Statistics/UserStatistics/DomainUserStatistics.tsx
  src/components/Statistics/UserStatistics/DomainUserTable.tsx
  src/components/Statistics/UserStatistics/tests/DomainUserStatistics.test.tsx
  src/components/Statistics/UserStatistics/tests/DomainUserTable.test.tsx
  src/components/Statistics/UserStatistics/tests/__snapshots__/DomainUserStatistics.test.tsx.snap
  src/components/Statistics/tests/Statistics.test.tsx
  src/components/Statistics/tests/__snapshots__/Statistics.test.tsx.snap
  src/components/TreeView/tests/DomainTile.test.tsx
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/UserSettings/tests/AvatarUpload.test.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/CharacterStatusControl.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/index.ts
  src/goals/CharInventoryCreation/components/CharacterEntry/CharacterEntryComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterCard.tsx
  src/goals/CharInventoryCreation/components/CharacterList/index.ts
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/resources/dictionaries/index.ts
  src/resources/tree/index.js
  src/store.ts
  src/types/hooks.ts
Labels: backend, frontend, maintenance, project
