Repository sillsdev/TheCombine, pull requests merged in 2023-02, with the labels that each got.

#1852 Dependabot updates
  .github/actions/combine-build/action.yml
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  README.md
  database/Dockerfile
  deploy/requirements.txt
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, .NET, github_actions

#1886 Dependabot updates - 2023.02.07
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  deploy/requirements.txt
  dev-requirements.txt
  maintenance/requirements.txt
  maintenance/scripts/combine_restore.py
  package-lock.json
  package.json
  src/components/Login/Redux/LoginActions.ts
  src/goals/MergeDupGoal/Redux/tests/MergeDupActions.test.tsx
Labels: python, dependencies, javascript, .NET, github_actions

#1894 Dependabot updates for 02/14/2023
  .github/actions/combine-build/action.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  src/backend/index.ts
Labels: python, dependencies, javascript, .NET, github_actions

#1925 GitHub action config
  .github/actions/combine-build/action.yml
  .github/workflows/backend.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/deploy_qa.yml
Labels: bug, CI/CD, github_actions

#1931 Rollback axios package to 0.27.2
  package-lock.json
  package.json
Labels: bug, dependencies, javascript

#1928 Replace uses of alert with SnackBar(toast)
  package-lock.json
  package.json
  src/components/ProjectExport/ExportButton.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/index.tsx
Labels: maintenance
