Repository sillsdev/TheCombine, pull requests merged in 2023-06, with the labels that each got.

#2228 ProjectSettings refactor
  public/locales/en/translation.json
  src/components/Project/ProjectActions.ts
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/ProjectSettings/ProjectImport.tsx
  src/components/ProjectSettings/ProjectImport/ProjectImport.tsx
  src/components/ProjectSettings/ProjectImport/index.ts
  src/components/ProjectSettings/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectLanguages/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectLanguages/index.ts
  src/components/ProjectSettings/ProjectLanguages/tests/ProjectLangauges.test.tsx
  src/components/ProjectSettings/ProjectName.tsx
  src/components/ProjectSettings/ProjectName/ProjectName.tsx
  src/components/ProjectSettings/ProjectName/index.ts
  src/components/ProjectSettings/ProjectSchedule/ProjectSchedule.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectSettingsTypes.ts
  src/components/ProjectSettings/ProjectSwitch.tsx
  src/components/ProjectSettings/ProjectSwitch/ProjectSwitch.tsx
  src/components/ProjectSettings/ProjectSwitch/index.ts
  src/components/ProjectSettings/ProjectSwitch/tests/ProjectSwitch.test.tsx
  src/components/ProjectSettings/ProjectUsers/ActiveProjectUsers.tsx
  src/components/ProjectSettings/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/components/ProjectSettings/tests/ProjectAutocomplete.test.tsx
  src/components/ProjectSettings/tests/ProjectImport.test.tsx
  src/components/ProjectSettings/tests/ProjectLangauges.test.tsx
  src/components/ProjectSettings/tests/ProjectName.test.tsx
  src/components/ProjectSettings/tests/ProjectSwitch.test.tsx
  src/goals/CharInventoryCreation/Redux/CharacterInventoryActions.ts
  src/tests/reactI18nextMock.ts
Labels: frontend, refactor, test, project

#2194 Conform string handling & user getting
  .editorconfig
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Helper/FileStorageTests.cs
  Backend.Tests/Helper/PasswordHashTests.cs
  Backend.Tests/Helper/SanitizationTests.cs
  Backend.Tests/Helper/TimeTests.cs
  Backend.Tests/Mocks/UserRepositoryMock.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Helper/LiftHelper.cs
  Backend/Interfaces/IUserEditService.cs
  Backend/Interfaces/IUserRepository.cs
  Backend/Models/Banner.cs
  Backend/Models/EmailInvite.cs
  Backend/Models/MergeBlacklistEntry.cs
  Backend/Models/Project.cs
  Backend/Models/SemanticDomain.cs
  Backend/Models/User.cs
  Backend/Models/UserEdit.cs
  Backend/Models/UserRole.cs
  Backend/Models/Word.cs
  Backend/Repositories/UserRepository.cs
  Backend/Services/LiftService.cs
  Backend/Services/PermissionService.cs
  src/api/api/user-api.ts
  src/backend/index.ts
Labels: backend, maintenance

#2227 React router v5.1
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  public/locales/en/translation.json
  src/components/App/AppLoggedIn.tsx
  src/components/App/DefaultState.ts
  src/components/App/component.tsx
  src/components/PasswordReset/Redux/ResetActions.ts
  src/components/PasswordReset/Redux/ResetReducer.ts
  src/components/PasswordReset/Redux/ResetReduxTypes.ts
  src/components/PasswordReset/Request.tsx
  src/components/PasswordReset/ResetPage.tsx
  src/components/PasswordReset/ResetPage/component.tsx
  src/components/PasswordReset/ResetPage/index.ts
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectInvite/ProjectInvite.tsx
  src/components/ProjectInvite/ProjectInviteComponent.tsx
  src/components/ProjectInvite/index.ts
  src/rootReducer.ts
  src/types/index.ts
Labels: frontend, maintenance, javascript

#2248 [README] Update setup instructions; Remove old version instructions
  README.md
Labels: documentation

#2249 [AppBar] Make all buttons visible; Shorten too-long text
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/AppBarTypes.ts
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectButtons.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/NavigationButtons.test.tsx
  src/components/AppBar/tests/ProjectButtons.test.tsx
  src/components/AppBar/tests/__snapshots__/AppBarComponent.test.tsx.snap
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/types/theme.ts
Labels: frontend

#2252 Fix spelling
  .prettierignore
  .vscode/settings.json
  Backend/Startup.cs
  README.md
  docs/deploy/README.md
  docs/deploy/kubernetes_design/README.md
  scripts/genBackendCoverageReport.ts
  scripts/setRelease.js
Labels: documentation, backend, frontend, deployment, maintenance

#2253 Fix 401 error when loading app without logging in
  src/components/App/component.tsx
  src/components/PrivateRoute/index.tsx
  src/components/RequireAuth/index.tsx
Labels: bug, javascript

#2254 Add the missing final s
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Labels: documentation

#2270 Dependabot updates for week of 12 June 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Dockerfile
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, .NET, github_actions

#2271 Update URL and host config for local kubernetes cluster
  README.md
Labels: documentation, kubernetes

#2283 Consolidate the toast
  src/components/App/component.tsx
  src/components/ProjectSettings/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectUsers/AddProjectUsers.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/tests/__snapshots__/Pronunciations.test.tsx.snap
  src/components/SiteSettings/UserManagement/UserManagement.tsx
  src/components/Toast/UpperRightToastContainer.tsx
Labels: frontend, maintenance

#2304 Dependabot updates for week of 19 June 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  database/Dockerfile
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, .NET, github_actions

#2276 [TreeView] Refactor
  .vscode/settings.json
  src/components/App/DefaultState.ts
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/index.ts
  src/components/DataEntry/tests/spellChecker.test.ts
  src/components/ProjectScreen/index.tsx
  src/components/TreeView/DomainTile.tsx
  src/components/TreeView/Redux/TreeViewActions.ts
  src/components/TreeView/Redux/TreeViewReducer.ts
  src/components/TreeView/Redux/TreeViewReduxTypes.tsx
  src/components/TreeView/Redux/tests/TreeViewActions.test.tsx
  src/components/TreeView/Redux/tests/TreeViewReducer.test.tsx
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeDepiction/ChildrenRow.tsx
  src/components/TreeView/TreeDepiction/CurrentRow.tsx
  src/components/TreeView/TreeDepiction/DomainTileButton.tsx
  src/components/TreeView/TreeDepiction/ParentRow.tsx
  src/components/TreeView/TreeDepiction/TreeDepictionTypes.ts
  src/components/TreeView/TreeDepiction/TreeTile.tsx
  src/components/TreeView/TreeDepiction/index.tsx
  src/components/TreeView/TreeDepiction/tests/DomainTileButton.test.tsx
  src/components/TreeView/TreeDepiction/tests/__snapshots__/DomainTileButton.test.tsx.snap
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
  src/components/TreeView/TreeDepiction/tests/index.test.tsx
  src/components/TreeView/TreeNavigator.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/TreeNavigator.test.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/TreeView/tests/index.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DomainCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
  src/rootReducer.ts
  src/types/index.ts
Labels: frontend, refactor, component: TreeView

#2307 [ProjectSettings] Fix ProjectName not updating on project switch
  src/components/ProjectSettings/ProjectName.tsx
  src/components/ProjectSettings/ProjectSwitch.tsx
Labels: bug, frontend, project

#2278 [GoalTimeline] Refactor
  src/components/App/DefaultState.ts
  src/components/GoalTimeline/DefaultState.ts
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/GoalTimelineComponent.tsx
  src/components/GoalTimeline/Redux/GoalReducer.ts
  src/components/GoalTimeline/Redux/GoalReduxTypes.ts
  src/components/GoalTimeline/index.ts
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalActions.test.tsx
  src/components/GoalTimeline/tests/GoalReducer.test.tsx
  src/components/GoalTimeline/tests/GoalTimelineComponent.test.tsx
  src/components/GoalTimeline/tests/index.test.tsx
Labels: frontend, refactor, goal

#2282 Cinch up Recorder types
  package-lock.json
  package.json
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsComponent.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
Labels: frontend, maintenance, audio

#2305 Check for circular dependencies
  package-lock.json
  package.json
Labels: maintenance

#2325 Dependabot updates for week of 26 Jun 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2285 [User Guide] Update Account, Data Cleanup, Data Entry, Project pages
  deploy/scripts/check_certs.py
  docs/user_guide/docs/account.md
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/images/data-entry-dup-vern-select-entry.png
  docs/user_guide/docs/images/data-entry-dup-vern-select-sense.png
  docs/user_guide/docs/images/data-entry-dup-vern.png
  docs/user_guide/docs/images/login.png
  docs/user_guide/docs/images/mergeSenseDefinitionsPartOfSpeech.png
  docs/user_guide/docs/images/projectLanguagesTzotzil.png
  docs/user_guide/docs/images/projectSchedule.png
  docs/user_guide/docs/images/projectStatsButton.png
  docs/user_guide/docs/images/reviewEntriesColumns.png
  docs/user_guide/docs/images/userMenu.png
  docs/user_guide/docs/project.md
Labels: documentation

#2328 [Backend] Resolve CA1711, CA1725, CA2215, CA2229
  .editorconfig
  Backend.Tests/Backend.Tests.csproj
  Backend/Helper/FileOperations.cs
  Backend/Helper/FileStorage.cs
  Backend/Helper/LiftHelper.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Models/UserRole.cs
  Backend/Services/LiftService.cs
  Backend/Services/MergeService.cs
  Backend/Services/PermissionService.cs
  Backend/Services/UserEditService.cs
Labels: backend, maintenance

#2334 Fix console warning re undefined option
  src/components/ProjectScreen/CreateProject/CreateProjectComponent.tsx
Labels: bug, frontend, import/export, project

#2335 Make writing system handling more robust
  Backend/Models/Project.cs
  Backend/Services/LiftService.cs
Labels: backend, import/export

#2286 Update to react-router v6
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/backend/index.ts
  src/browserHistory.ts
  src/browserRouter.tsx
  src/components/AnnouncementBanner/AnnouncementBanner.tsx
  src/components/App/App.test.tsx
  src/components/App/AppLoggedIn.tsx
  src/components/App/component.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/AppBarTypes.ts
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectButtons.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/Logo.test.tsx
  src/components/AppBar/tests/NavigationButtons.test.tsx
  src/components/AppBar/tests/ProjectButtons.test.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/GoalTimeline/Redux/GoalActions.ts
  src/components/LandingPage/LandingButtons.tsx
  src/components/LandingPage/index.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/Redux/LoginActions.ts
  src/components/Login/SignUpPage/SignUpComponent.tsx
  src/components/Login/SignUpPage/tests/SignUpComponent.test.tsx
  src/components/PageNotFound/component.tsx
  src/components/PageNotFound/tests/component.test.tsx
  src/components/PasswordReset/Request.tsx
  src/components/PasswordReset/ResetPage.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectInvite/ProjectInvite.tsx
  src/components/ProjectScreen/ChooseProject.tsx
  src/components/ProjectScreen/CreateProject/Redux/CreateProjectActions.ts
  src/components/ProjectScreen/tests/ChooseProject.test.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/RequireAuth/index.tsx
  src/goals/CharInventoryCreation/Redux/CharacterInventoryActions.ts
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
  src/goals/DefaultGoal/NextGoalScreen.tsx
  src/goals/DefaultGoal/tests/BaseGoalScreen.test.tsx
  src/index.tsx
  src/tests/history.test.ts
  src/types/Redux/analytics.ts
  src/types/appRoutes.tsx
  src/types/path.ts
  src/utilities/pathUtilities.ts
  src/utilities/tests/pathUtilities.test.ts
Labels: dependencies, javascript

#2337 [Backend] Resolve CA2201
  Backend/Services/LiftService.cs
Labels: backend, maintenance

#2338 [CharacterInventory] Reorganize
  src/components/App/DefaultState.ts
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/tests/GoalActions.test.tsx
  src/components/GoalTimeline/tests/GoalReducer.test.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/CharacterInfo.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/CharacterStatusControl.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/CharacterWords.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace/CharacterReplaceDialog.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace/FindAndReplaceActions.ts
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace/index.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/index.tsx
  src/goals/CharacterInventory/CharInv/CharacterEntry.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/CharacterCard.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/CharacterStatusText.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/index.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/tests/index.test.tsx
  src/goals/CharacterInventory/CharInv/CharacterSetHeader.tsx
  src/goals/CharacterInventory/CharInv/index.tsx
  src/goals/CharacterInventory/CharInv/tests/index.test.tsx
  src/goals/CharacterInventory/CharInvCompleted.tsx
  src/goals/CharacterInventory/CharacterInventoryTypes.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryReducer.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryReduxTypes.ts
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryReducer.test.tsx
  src/goals/CharacterInventory/index.tsx
  src/goals/CreateCharInv/CharInvComponent/CharInv.tsx
  src/goals/CreateCharInv/CreateCharInv.ts
  src/goals/CreateCharInv/CreateCharInvTypes.ts
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/rootReducer.ts
  src/types/goals.ts
  src/types/index.ts
  src/utilities/goalUtilities.ts
Labels: frontend, maintenance, goal: CharacterInventory

#2339 [Backend] Increase <AnalysisMode> to Recommended
  .editorconfig
  Backend.Tests/Controllers/MergeControllerTests.cs
  Backend.Tests/Mocks/BannerRepositoryMock.cs
  Backend.Tests/Mocks/MergeBlacklistRepositoryMock.cs
  Backend.Tests/Services/MergeServiceTests.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/BannerController.cs
  Backend/Interfaces/IBannerRepository.cs
  Backend/Interfaces/IMergeBlacklistRepository.cs
  Backend/Models/SemanticDomain.cs
  Backend/Models/Sense.cs
  Backend/Models/UserEdit.cs
  Backend/Models/Word.cs
  Backend/Repositories/BannerRepository.cs
  Backend/Repositories/MergeBlacklistRepository.cs
  Backend/Services/MergeService.cs
Labels: backend, maintenance
