Repository sillsdev/TheCombine, pull requests merged in 2023-11, with the labels that each got.

#2773 Dependabot Updates for November 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2748 Port Login to use redux-toolkit
  .vscode/settings.json
  src/components/App/DefaultState.ts
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/index.ts
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/Redux/LoginActions.ts
  src/components/Login/Redux/LoginReducer.ts
  src/components/Login/Redux/LoginReduxTypes.ts
  src/components/Login/Redux/tests/LoginActions.test.tsx
  src/components/Login/SignUpPage/SignUpComponent.tsx
  src/components/Login/SignUpPage/index.ts
  src/components/Login/SignUpPage/tests/SignUpComponent.test.tsx
  src/components/Login/tests/LoginActions.test.tsx
  src/components/Login/tests/LoginReducer.test.tsx
  src/components/ProjectInvite/ProjectInvite.tsx
  src/rootReducer.ts
Labels: frontend, maintenance, login/signUp

#2752 [DataEntryTable] Prevent RecentEntry re-rendering when typing in NewEntry
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
Labels: bug, frontend, performance, component: DataEntry

#2742 Upload Cobertura coverage rather than Clover
  .github/workflows/frontend.yml
  package.json
Labels: test, maintenance, github_actions

#2704 Port MergeDups goal to use redux-toolkit
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReduxTypes.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
  src/rootReducer.ts
Labels: maintenance, goal: MergeDup, javascript

#2781 Prevent `DataEntry` flash when opening `TreeView` for data entry
  src/components/DataEntry/index.tsx
Labels: bug, frontend, component: DataEntry, component: TreeView

#2739 [Backend] Refine LIFT testing
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/ProjectRepositoryMock.cs
  Backend/Services/LiftService.cs
Labels: backend, test

#2745 [TreeSearch] If trailing period after backspace, remove it
  src/components/TreeView/TreeSearch.tsx
Labels: enhancement, frontend, component: TreeView

#2746 [NewEntry] Improve dialog UI
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/StyledMenuItem.ts
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
Labels: frontend, component: DataEntry

#2782 Port analytics to use redux-toolkit
  src/rootReducer.ts
  src/types/Redux/analytics.ts
  src/types/Redux/analyticsReduxTypes.ts
Labels: frontend, maintenance

#2753 Port Pronunciations to use redux-toolkit
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/Redux/PronunciationsActions.ts
  src/components/Pronunciations/Redux/PronunciationsReducer.ts
  src/components/Pronunciations/Redux/PronunciationsReduxTypes.ts
  src/components/Pronunciations/tests/AudioRecorder.test.tsx
  src/rootReducer.ts
Labels: frontend, maintenance, audio

#2774 Port TreeView to use redux-toolkit
  src/components/DataEntry/index.tsx
  src/components/DataEntry/tests/index.test.tsx
  src/components/ProjectScreen/index.tsx
  src/components/TreeView/Redux/TreeViewActions.ts
  src/components/TreeView/Redux/TreeViewReducer.ts
  src/components/TreeView/Redux/TreeViewReduxTypes.tsx
  src/components/TreeView/Redux/tests/TreeViewActions.test.tsx
  src/components/TreeView/Redux/tests/TreeViewReducer.test.tsx
  src/components/TreeView/index.tsx
  src/rootReducer.ts
Labels: frontend, maintenance, component: TreeView

#2749 Port CharInv goal to use redux-toolkit
  .vscode/settings.json
  src/components/App/DefaultState.ts
  src/goals/CharacterInventory/CharInv/CharacterDetail/tests/index.test.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/index.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/tests/index.test.tsx
  src/goals/CharacterInventory/CharInv/index.tsx
  src/goals/CharacterInventory/CharInv/tests/index.test.tsx
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryReducer.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryReduxTypes.ts
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryReducer.test.tsx
  src/rootReducer.ts
Labels: frontend, maintenance, goal: CharacterInventory

#2754 Port Project to use redux-toolkit
  src/components/Project/ProjectActions.ts
  src/components/Project/ProjectReducer.ts
  src/components/Project/ProjectReduxTypes.ts
  src/components/Project/tests/ProjectActions.test.tsx
  src/components/Project/tests/ProjectReducer.test.tsx
  src/rootReducer.ts
Labels: frontend, maintenance, project

#2789 Don't retrieve 0-sense words from the database
  Backend/Repositories/WordRepository.cs
Labels: bug, backend

#2775 [User Guide] Add Chinese (zh)
  README.md
  docs/user_guide/docs/account.zh.md
  docs/user_guide/docs/admin.zh.md
  docs/user_guide/docs/dataEntry.zh.md
  docs/user_guide/docs/goals.zh.md
  docs/user_guide/docs/index.zh.md
  docs/user_guide/docs/project.zh.md
  docs/user_guide/mkdocs.yml
  public/locales/zh/translation.json
Labels: documentation, font/language

#2777 Convert Login, Signup to function components
  src/components/Buttons/LoadingButton.tsx
  src/components/InvalidLink/index.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/Login/Captcha.tsx
  src/components/Login/Login.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/index.ts
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/ProjectInvite.tsx
  src/components/Login/Redux/LoginActions.ts
  src/components/Login/Redux/tests/LoginActions.test.tsx
  src/components/Login/SignUpPage/SignUpComponent.tsx
  src/components/Login/SignUpPage/index.ts
  src/components/Login/SignUpPage/tests/SignUpComponent.test.tsx
  src/components/Login/Signup.tsx
  src/components/Login/tests/Login.test.tsx
  src/components/Login/tests/Signup.test.tsx
  src/types/appRoutes.tsx
  src/types/path.ts
Labels: frontend, maintenance, login/signUp

#2787 [NewEntry] After click audio (record/play/pause), focus on gloss field
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsFrontend.tsx
Labels: frontend, component: DataEntry, audio

#2786 [ProjectExport] Improve feedback
  public/locales/en/translation.json
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectExport/Redux/ExportProjectActions.ts
  src/components/ProjectExport/Redux/ExportProjectReducer.ts
Labels: frontend, import/export

#2792 [MergeDragDrop] Add basic tests
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/tests/index.test.tsx
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReduxTypes.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
Labels: frontend, test, goal: MergeDup

#2791 Update react from 17 to 18
  docs/user_guide/assets/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/StyledMenuItem.ts
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/GoalTimeline/tests/index.test.tsx
  src/components/Login/Redux/tests/LoginActions.test.tsx
  src/components/PasswordReset/tests/Request.test.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/Project/tests/ProjectActions.test.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectScreen/tests/index.test.tsx
  src/components/ProjectSettings/tests/ProjectName.test.tsx
  src/components/ProjectUsers/tests/EmailInvite.test.tsx
  src/components/ProjectUsers/tests/SortOptions.test.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/tests/AudioRecorder.test.tsx
  src/components/SiteSettings/UserManagement/UserList.tsx
  src/components/Statistics/ProgressBar/ProgressBarComponent.tsx
  src/components/Statistics/Statistics.tsx
  src/components/Statistics/StyledList.ts
  src/components/Statistics/tests/DomainStatistics.test.tsx
  src/components/Statistics/tests/Statistics.test.tsx
  src/components/Statistics/tests/UserStatistics.test.tsx
  src/components/Statistics/tests/__snapshots__/DomainStatistics.test.tsx.snap
  src/components/Statistics/tests/__snapshots__/Statistics.test.tsx.snap
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
  src/components/TreeView/tests/TreeNavigator.test.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/TreeView/tests/index.test.tsx
  src/components/UserSettings/ClickableAvatar.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/tests/index.test.tsx
  src/goals/CharacterInventory/CharInv/tests/index.test.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDragSense.tsx
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/PronunciationsCell.test.tsx
  src/index.tsx
  src/utilities/fontContext.ts
  src/utilities/tests/dictionaryLoader.test.ts
  src/utilities/tests/fontCssUtilities.test.ts
  src/utilities/wordUtilities.ts
Labels: frontend, test, maintenance, import/export, dependencies
