Repository sillsdev/TheCombine, pull requests merged in 2023-05, with the labels that each got.

#2084 Add Arabic and rtl lang support
  public/locales/ar/translation.json
  public/locales/en/translation.json
  src/components/App/component.tsx
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/Logo.tsx
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/SignUpPage/tests/SignUpComponent.test.tsx
  src/components/ProjectSettings/ProjectSwitch/tests/ProjectSwitch.test.tsx
  src/components/Pronunciations/tests/Pronunciations.test.tsx
  src/components/SiteSettings/ProjectManagement/tests/ProjectManagement.test.tsx
  src/components/Statistics/Chart/LineChartComponent.tsx
  src/components/Statistics/ProgressBar/LinearProgressBar.tsx
  src/components/Statistics/ProgressBar/ProgressBarComponent.tsx
  src/components/Statistics/Statistics.tsx
  src/components/Statistics/tests/__snapshots__/Statistics.test.tsx.snap
  src/components/TreeView/DomainTile.tsx
  src/components/TreeView/TreeDepiction.tsx
  src/components/TreeView/TreeViewHeader.tsx
  src/components/TreeView/TreeViewReducer.ts
  src/components/TreeView/TreeViewReduxTypes.tsx
  src/components/TreeView/tests/DomainTile.test.tsx
  src/components/TreeView/tests/TreeDepiction.test.tsx
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/components/TreeView/tests/TreeViewHeader.test.tsx
  src/components/TreeView/tests/__snapshots__/TreeDepiction.test.tsx.snap
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryComponent.test.tsx
  src/goals/DefaultGoal/DisplayProgress.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/MergeDupGoal/Redux/tests/MergeDupReducer.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/SenseCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/CellColumns.test.tsx
  src/i18n.ts
  src/types/writingSystem.ts
Labels: backend, frontend, font/language

#2103 [Statistics] Fix minor graph issues
  Backend/Services/StatisticsService.cs
  public/locales/en/translation.json
  src/components/Statistics/Chart/ChartComponent.tsx
  src/components/Statistics/DomainStatistics.tsx
  src/components/Statistics/LineChartComponent.tsx
  src/components/Statistics/Statistics.tsx
  src/components/Statistics/UserStatistics.tsx
  src/components/Statistics/tests/DomainStatistics.test.tsx
  src/components/Statistics/tests/UserStatistics.test.tsx
  src/components/Statistics/tests/__snapshots__/DomainStatistics.test.tsx.snap
  src/components/Statistics/tests/__snapshots__/Statistics.test.tsx.snap
  src/components/Statistics/tests/__snapshots__/UserStatistics.test.tsx.snap
Labels: project

#2106 Tighten backend linting
  .editorconfig
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/BannerControllerTests.cs
  Backend.Tests/Helper/TimeTests.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Services/MergeServiceTests.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/LiftController.cs
  Backend/Interfaces/IEmailService.cs
  Backend/Interfaces/IMergeBlacklistRepository.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Services/InviteService.cs
  Backend/Services/LiftService.cs
  Backend/Services/MergeService.cs
  Backend/Services/PermissionService.cs
  Backend/Services/StatisticsService.cs
  Backend/Startup.cs
Labels: backend, maintenance

#2107 Dependabot updates for week of 01 May 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2105 Prevent unused imports
  package-lock.json
  package.json
  src/components/DataEntry/DataEntryTable/RecentEntry/RecentEntry.tsx
Labels: frontend, maintenance

#2115 Refactor banner and export/download
  Backend/Controllers/LiftController.cs
  Backend/Helper/CombineHub.cs
  package-lock.json
  src/components/AnnouncementBanner/AnnouncementBanner.tsx
  src/components/App/SignalRHub.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectExport/Redux/ExportProjectActions.ts
Labels: backend, frontend, import/export

#2108 Convert more components to functional
  src/components/App/component.tsx
  src/components/BaseSettings/BaseSettingsComponent.tsx
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/tests/ContextMenu.test.tsx
  src/components/DataEntry/DataEntryComponent.tsx
  src/components/DataEntry/DataEntryHeader/DataEntryHeader.tsx
  src/components/DataEntry/DataEntryHeader/tests/DataEntryHeader.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
  src/components/DataEntry/ExistingDataTable/ExistingDataTable.tsx
  src/components/DataEntry/ExistingDataTable/ImmutableExistingData.tsx
  src/components/DataEntry/ExistingDataTable/tests/ExistingDataTable.test.tsx
  src/components/DataEntry/ExistingDataTable/tests/ImmutableExistingData.test.tsx
  src/components/PasswordReset/Request.tsx
  src/components/PasswordReset/RequestPage/component.tsx
  src/components/PasswordReset/RequestPage/index.ts
  src/components/TreeView/tests/TreeViewComponent.test.tsx
  src/goals/MergeDupGoal/MergeDupStep/MergeDupStepComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/PronunciationsCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesComponent.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesComponent.test.tsx
Labels: frontend, maintenance

#2132 Dependabot updates for week of 08 May 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/Dockerfile
  Dockerfile
  database/Dockerfile
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, github_actions

#2136 [ChooseProject] Refactor; Improve tests
  src/components/App/AppLoggedIn.tsx
  src/components/ProjectScreen/ChooseProject.tsx
  src/components/ProjectScreen/ChooseProject/ChooseProjectComponent.tsx
  src/components/ProjectScreen/ChooseProject/index.ts
  src/components/ProjectScreen/ChooseProject/tests/ChooseProjectComponent.test.tsx
  src/components/ProjectScreen/index.tsx
  src/components/ProjectScreen/tests/ChooseProject.test.tsx
  src/components/ProjectScreen/tests/ProjectScreenComponent.test.tsx
  src/components/ProjectScreen/tests/index.test.tsx
Labels: frontend, test, project

#2120 [DataEntryTable] Avoid using eslint-disable-next-line
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
Labels: frontend, maintenance, component: DataEntry

#2116 [ProjectSettings, SiteSettings] Refactor user management
  src/components/ProjectSettings/ProjectUsers/ActiveUsers.tsx
  src/components/ProjectSettings/ProjectUsers/AddProjectUsers.tsx
  src/components/ProjectSettings/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/components/ProjectSettings/ProjectUsers/EmailInvite.tsx
  src/components/ProjectSettings/ProjectUsers/SortOptions.tsx
  src/components/ProjectSettings/ProjectUsers/UserList.tsx
  src/components/ProjectSettings/ProjectUsers/tests/EmailInvite.test.tsx
  src/components/ProjectSettings/ProjectUsers/tests/SortOptions.test.tsx
  src/components/ProjectSettings/ProjectUsers/tests/UserList.test.tsx
  src/components/SiteSettings/UserManagement/ConfirmDeletion.tsx
  src/components/SiteSettings/UserManagement/UserList.tsx
  src/components/SiteSettings/UserManagement/UserManagement.tsx
Labels: frontend, project

#2142 [MergeDupStep] Improve trash positioning
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/Logo.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
Labels: frontend, goal: MergeDup

#2147 Cleanup UI strings
  public/locales/en/translation.json
  src/goals/CharInventoryCreation/components/CharacterList/CharacterCard.tsx
Labels: font/language

#2160 Dependabot updates for week of 15 May 2023
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  README.md
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: docker, dependencies, javascript, .NET

#2140 For i18n ui langauges, add Portuguese and fallbacks
  public/locales/ar/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/pt/translation.json
  src/i18n.ts
  src/types/writingSystem.ts
Labels: font/language

#2167 [CharInv] Refactor components
  public/locales/en/translation.json
  src/goals/CharInventoryCreation/CharacterInventoryComponent.tsx
  src/goals/CharInventoryCreation/Redux/CharacterInventoryReduxTypes.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterInfo.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/CharacterStatusControl.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterStatusControl/index.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/CharacterWords.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/CharacterReplaceDialog.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceActions.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/FindAndReplaceComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/index.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/FindAndReplace/index.tsx
  src/goals/CharInventoryCreation/components/CharacterDetail/index.ts
  src/goals/CharInventoryCreation/components/CharacterDetail/index.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterCard.tsx
  src/goals/CharInventoryCreation/components/CharacterList/CharacterListComponent.tsx
  src/goals/CharInventoryCreation/components/CharacterList/index.ts
  src/goals/CharInventoryCreation/components/CharacterList/index.tsx
  src/goals/CharInventoryCreation/components/CharacterList/tests/index.test.tsx
  src/goals/CharInventoryCreation/components/CharacterSetHeader.tsx
  src/goals/CharInventoryCreation/tests/CharacterInventoryActions.test.tsx
Labels: frontend, maintenance, goal

#2195 Fix build for QA deployment
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
Labels: bug, security, github_actions

#2166 [DataEntryTable] NewEntry refactor
  public/locales/ar/translation.json
  public/locales/en/translation.json
  src/components/DataEntry/DataEntryTable/DataEntryTable.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/StyledMenuItem.ts
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/NewEntry.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
  src/components/DataEntry/DataEntryTable/tests/DataEntryTable.test.tsx
Labels: frontend, maintenance, component: DataEntry

#2190 Improve AppBar
  public/locales/en/translation.json
  src/components/AppBar/AppBarComponent.tsx
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectButtons.tsx
  src/components/AppBar/ProjectNameButton.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/Logo.test.tsx
  src/components/AppBar/tests/ProjectButtons.test.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/AppBar/tests/__snapshots__/AppBarComponent.test.tsx.snap
  src/components/DataEntry/DataEntryComponent.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/SidebarDrop.tsx
Labels: frontend

#2199 [UserSettings] Add ui-lang selector
  public/locales/en/translation.json
  src/components/App/AppLoggedIn.tsx
  src/components/UserSettings/ClickableAvatar.tsx
  src/components/UserSettings/UserSettings.tsx
  src/components/UserSettings/tests/AvatarUpload.test.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
  src/i18n.ts
Labels: frontend, font/language

#2225 Bugfix: Remove erroneous !
  src/components/DataEntry/DataEntryTable/NewEntry/NewEntry.tsx
Labels: bug, frontend, component: DataEntry

#2226 Update copyright
  LICENSE
  docs/user_guide/mkdocs.yml
Labels: documentation
