Repository sillsdev/TheCombine, pull requests merged in 2023-01, with the labels that each got.

#1770 Fix Backend CI tests; Replace LGTM with CodeQL
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  Backend.Tests/Backend.Tests.csproj
  README.md
  deploy/scripts/check_certs.py
  deploy/scripts/setup_combine.py
  dev-requirements.txt
  maintenance/requirements.txt
Labels: bug, CI/CD

#1755 Add OSSF Scorecards to CI/CD tests
  .github/workflows/scorecards.yml
Labels: CI/CD

#1773 Update readme badges for CodeQL and OSSF Scorecard
  README.md
Labels: documentation

#1769 Update icu.net from 2.7.1 to 2.8.1
  Backend/BackendFramework.csproj
  docs/user_guide/docs/licenses/backend_licenses.txt
Labels: dependencies

#1774 Update Python/JavaScript dependencies
  dev-requirements.txt
  maintenance/requirements.txt
  package-lock.json
Labels: python, dependencies

#1777 Python dependency updates
  dev-requirements.txt
  maintenance/requirements.txt
Labels: python, dependencies

#1805 Add tarfile member sanitization to extractall()
  maintenance/scripts/combine_restore.py
Labels: deployment, security, python

#1814 Fix case-sensitive of Find a domain
  Backend/Repositories/SemanticDomainRepository.cs
Labels: bug, component: TreeView

#1812 Fix GitHub Action permissions for updating GitHub Pages
  .github/workflows/pages.yml
Labels: CI/CD

#1813 Change Harden Runner actions from audit to block
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
Labels: security, CI/CD

#1817 Update OSSF Scorecards action
  .github/workflows/scorecards.yml
Labels: security, CI/CD, github_actions

#1828 Fix sha256 sum for aspnet-core image
  Backend/Dockerfile
Labels: backend, docker

#1827 Backend updates
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
Labels: backend, dependencies
