Repository sillsdev/TheCombine, pull requests merged in 2023-08, with the labels that each got.

#2416 [ProjectSettings] Replace ProjectSwitch with a Select
  public/locales/ar/translation.json
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/pt/translation.json
  src/components/ProjectSettings/ProjectSelect.tsx
  src/components/ProjectSettings/ProjectSwitch.tsx
  src/components/ProjectSettings/index.tsx
  src/components/ProjectSettings/tests/ProjectSelect.test.tsx
  src/components/ProjectSettings/tests/ProjectSwitch.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/SiteSettings/index.tsx
Labels: frontend, project

#2450 Configure VSCode to warn on commits to master, main
  .vscode/settings.json
Labels: tools

#2429 [Backend.Tests] Use Constraint Model in Controllers tests
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/BannerControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/ProjectControllerTests.cs
  Backend.Tests/Controllers/UserControllerTests.cs
  Backend.Tests/Controllers/UserEditControllerTests.cs
  Backend.Tests/Controllers/UserRoleControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/UtilTests.cs
Labels: backend, test

#2456 Dependabot updates for week of 7 August 2023
  Backend.Tests/Backend.Tests.csproj
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: python, dependencies, javascript, .NET

#2457 Try one more time to upload test coverage if the upload fails
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: test, CI/CD

#2461 Update configuration for hardened runners in GitHub Actions
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
Labels: CI/CD, github_actions

#2463 Avoid implicit any[] arrays
  src/components/ProjectSettings/ProjectSchedule/DateSelector.tsx
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/utilities/utilities.ts
Labels: frontend, maintenance

#2485 Specify kubectl version as GHA variable
  .github/actions/combine-deploy-update/action.yml
Labels: kubernetes, CI/CD, github_actions

#2489 Fix download of kubectl by specific version version
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
Labels: kubernetes, CI/CD, github_actions

#2465 Update GoalTimeline component to use redux toolkit
  Backend/Controllers/UserEditController.cs
  Backend/Repositories/UserEditRepository.cs
  Backend/Services/UserEditService.cs
  src/browserRouter.tsx
  src/components/App/DefaultState.ts
  src/components/GoalTimeline/DefaultState.ts
  src/components/GoalTimeline/GoalList.tsx
  src/components/GoalTimeline/Redux/GoalActions.ts
  src/components/GoalTimeline/Redux/GoalReducer.ts
  src/components/GoalTimeline/Redux/GoalReduxTypes.ts
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalActions.test.tsx
  src/components/GoalTimeline/tests/GoalReducer.test.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/GoalTimeline/tests/index.test.tsx
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/rootReducer.ts
  src/store.ts
  src/types/Redux/analytics.ts
  src/utilities/testUtilities.tsx
Labels: maintenance, javascript

#2486 [DataEntryTable] Correctly align rtl project data
  Backend.Tests/Models/ProjectTests.cs
  Backend/Models/Project.cs
  src/api/models/writing-system.ts
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/ProjectScreen/CreateProject/index.tsx
  src/components/ProjectSettings/ProjectLanguages.tsx
  src/types/writingSystem.ts
Labels: frontend, component: DataEntry, font/language

#2503 Dependabot updates for week of 21 August 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  README.md
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2504 Fix deployment of a release to QA
  .github/actions/combine-deploy-update/action.yml
  .github/workflows/deploy_release.yml
Labels: bug, CI/CD, github_actions

#2509 Font support jmg
  deploy/helm/aws-login/values.yaml
  deploy/helm/thecombine/charts/frontend/templates/deployment-frontend.yaml
  deploy/helm/thecombine/charts/maintenance/templates/cronjob-daily-backup.yaml
  deploy/helm/thecombine/charts/maintenance/templates/deployment-maintenance.yaml
  deploy/helm/thecombine/charts/maintenance/templates/env-maintenance-configmap.yaml
  deploy/helm/thecombine/charts/maintenance/templates/font-storage-persistent-volume-claim.yaml
  deploy/helm/thecombine/charts/maintenance/values.yaml
  deploy/helm/thecombine/values.yaml
  maintenance/Dockerfile
Labels: deployment, kubernetes

#2527 Dependabot updates for week of 28 August 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/default/licenses/backend_licenses.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  src/api/api/project-api.ts
  src/api/api/user-api.ts
Labels: docker, python, dependencies, javascript, .NET, github_actions
