Repository sillsdev/TheCombine, pull requests merged in 2023-03, with the labels that each got.

#1936 Package updates from dependabot
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  deploy/requirements.txt
  dev-requirements.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  src/goals/CharInventoryCreation/components/CharacterEntry/CharactersInput.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DefinitionCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/GlossCell.tsx
  src/i18n.ts
Labels: python, dependencies, javascript, .NET, github_actions

#1952 Bump `react-redux` to version 8.0.5
  package-lock.json
  package.json
  src/components/App/SignalRHub.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectExport/ExportButton.tsx
  src/components/ProjectScreen/ProjectScreenComponent.tsx
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/ProjectSettings/ProjectDefinitions.tsx
  src/components/ProjectSettings/ProjectSettingsComponent.tsx
  src/components/ProjectSettings/ProjectUsers/AddProjectUsers.tsx
  src/components/ProjectSettings/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/TreeView/TreeViewComponent.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/NextGoalScreen.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DragSense.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/DropWord.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/MergeDragDrop.tsx
  src/goals/MergeDupGoal/MergeDupStep/DragDropComponents/SidebarDrop.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DeleteCell.tsx
  src/store.ts
  src/types/hooks.ts
Labels: frontend, dependencies, javascript

#1959 Dependabot schedule config; use `npm ci` for docker builds; dependency updates
  .github/dependabot.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Dockerfile
  docs/user_guide/docs/licenses/backend_licenses.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: frontend, docker, dependencies, javascript, .NET, github_actions

#1969 Dependabot updates for week of 20 Mar 2023
  Backend/Dockerfile
  package-lock.json
  package.json
Labels: backend, docker, dependencies, javascript

#1809 Update node from 16 to 18
  .github/workflows/frontend.yml
  Dockerfile
  README.md
  package.json
Labels: docker, dependencies, github_actions

#1982 Update codeql tests to resolve endpoint access failures
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
Labels: CI/CD, github_actions

#1985 Dependabot updates for week of 27 Mar 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/docs/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: python, dependencies, javascript, github_actions
