Repository sillsdev/TheCombine, pull requests merged in 2023-10, with the labels that each got.

#2657 Dependabot updates for week of 2 Oct 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  docs/user_guide/default/licenses/frontend_licenses.txt
  package-lock.json
  package.json
Labels: dependencies, javascript, github_actions

#2669 [StatisticsController] Add tests
  Backend.Tests/Controllers/StatisticsControllerTests.cs
  Backend.Tests/Mocks/StatisticsServiceMock.cs
Labels: backend, test

#2671 [EmailService] Exclude from test coverage
  Backend/Services/EmailService.cs
Labels: backend, test

#2660 Remove 4 unused functions from backend/index.ts
  src/backend/index.ts
Labels: frontend, maintenance

#2662 [DataEntry] Add sem-dom testing
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
Labels: frontend, test, component: DataEntry

#2705 Dependabot updates for week of 9 October 2023
  .github/dependabot.yml
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/default/licenses/backend_licenses.txt
  docs/user_guide/default/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, javascript, .NET, github_actions

#2668 [ReviewEntriesActions] Fix flag not saving; Add tests for note and flag
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesActions.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/ReviewEntriesActions.test.tsx
Labels: bug, frontend, goal: ReviewEntries

#2663 [InviteController] Clean up logic and add tests
  Backend.Tests/Controllers/InviteControllerTests.cs
  Backend/Controllers/InviteController.cs
  src/api/models/email-invite-status.ts
  src/components/ProjectInvite/ProjectInvite.tsx
Labels: backend, refactor, test

#2714 [User Guide] Fix typo
  .vscode/settings.json
  docs/user_guide/docs/en/admin.md
Labels: documentation

#2673 Prevent Harvesters from accessing Data Cleanup
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/tests/NavigationButtons.test.tsx
  src/components/ProjectScreen/ChooseProject.tsx
Labels: bug, frontend, goal

#2680 [ReviewEntriesTable] Reduce max rows-per-page to 200
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
Labels: frontend, performance, goal: ReviewEntries

#2684 Tighten TypeScript linting
  .vscode/settings.json
  package.json
  src/components/App/App.test.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/Login/LoginPage/LoginComponent.tsx
  src/components/Login/LoginPage/tests/LoginComponent.test.tsx
  src/components/Login/SignUpPage/SignUpComponent.tsx
  src/components/Login/SignUpPage/tests/SignUpComponent.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Statistics/UserStatistics.tsx
  src/components/TreeView/tests/SemanticDomainMock.ts
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/UserSettings/ClickableAvatar.tsx
  src/components/UserSettings/UserSettings.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
  src/goals/MergeDuplicates/MergeDupsContinueDialog.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/icons.tsx
  src/index.tsx
  src/types/goals.ts
  src/types/writingSystem.ts
  src/utilities/dictionaryLoader.ts
  src/utilities/fontCssUtilities.ts
  src/utilities/testUtilities.tsx
Labels: frontend, maintenance

#2719 Dependabot updates for 16 October 2023
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  package-lock.json
  package.json
Labels: dependencies, javascript, github_actions

#2712 [PermissionService] Replace brittle project id check
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Services/PermissionServiceTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/InviteController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/MergeController.cs
  Backend/Controllers/ProjectController.cs
  Backend/Controllers/StatisticsController.cs
  Backend/Controllers/UserEditController.cs
  Backend/Controllers/UserRoleController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IPermissionService.cs
  Backend/Services/PermissionService.cs
Labels: backend, refactor

#2731 Dependabot 2023 10 23
  deploy/requirements.txt
  dev-requirements.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: python, dependencies, javascript

#2741 Fix comment description of setRelease.js
  scripts/setRelease.js
Labels: documentation

#2734 [GitHub Actions] Split the longest-to-run workflow job into two
  .github/workflows/frontend.yml
Labels: maintenance

#2730 [README] Add more localization badges
  README.md
Labels: documentation, font/language

#2718 [Backend] Update .EditedBy when updating a Word
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
  Backend.Tests/Services/MergeServiceTests.cs
  Backend.Tests/Services/WordServiceTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/MergeController.cs
  Backend/Controllers/WordController.cs
  Backend/Interfaces/IMergeService.cs
  Backend/Interfaces/IWordRepository.cs
  Backend/Interfaces/IWordService.cs
  Backend/Repositories/WordRepository.cs
  Backend/Services/MergeService.cs
  Backend/Services/WordService.cs
  src/api/api/word-api.ts
  src/backend/index.ts
  src/components/DataEntry/DataEntryTable/index.tsx
Labels: backend

#2747 Port ExportProject to use redux-toolkit; Remove redux from CreateProject
  src/components/App/DefaultState.ts
  src/components/ProjectExport/Redux/ExportProjectActions.ts
  src/components/ProjectExport/Redux/ExportProjectReducer.ts
  src/components/ProjectExport/Redux/ExportProjectReduxTypes.ts
  src/components/ProjectExport/Redux/tests/ExportProjectActions.test.tsx
  src/components/ProjectScreen/CreateProject.tsx
  src/components/ProjectScreen/CreateProject/Redux/CreateProjectActions.ts
  src/components/ProjectScreen/CreateProject/Redux/CreateProjectReducer.ts
  src/components/ProjectScreen/CreateProject/Redux/CreateProjectReduxTypes.ts
  src/components/ProjectScreen/CreateProject/tests/CreateProjectActions.test.tsx
  src/components/ProjectScreen/CreateProject/tests/CreateProjectReducer.test.tsx
  src/components/ProjectScreen/CreateProjectActions.ts
  src/components/ProjectScreen/tests/CreateProject.test.tsx
  src/rootReducer.ts
  src/types/index.ts
Labels: maintenance, import/export, project, javascript

#2732 [ReviewEntries] Refactor sort-by handling
  src/goals/ReviewEntries/ReviewEntriesComponent/CellColumns.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DefinitionCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/DomainCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/GlossCell.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DefinitionCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/DomainCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/CellComponents/tests/GlossCell.test.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesActions.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesReducer.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/Redux/ReviewEntriesReduxTypes.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTable.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/ReviewEntriesTypes.ts
  src/goals/ReviewEntries/ReviewEntriesComponent/index.tsx
  src/goals/ReviewEntries/ReviewEntriesComponent/tests/CellColumns.test.tsx
Labels: frontend, goal: ReviewEntries
