Repository sillsdev/TheCombine, pull requests merged in 2024-06, with the labels that each got.

#3148 Dependabot updates for June 2024
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/commit_message_check.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  README.md
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: python, dependencies, .NET, github_actions

#3049 [Backend.Tests] Add `sealed internal` to Mock classes
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/BannerRepositoryMock.cs
  Backend.Tests/Mocks/EmailServiceMock.cs
  Backend.Tests/Mocks/HubContextMock.cs
  Backend.Tests/Mocks/MergeBlacklistRepositoryMock.cs
  Backend.Tests/Mocks/MergeGraylistRepositoryMock.cs
  Backend.Tests/Mocks/PasswordResetContextMock.cs
  Backend.Tests/Mocks/PasswordResetServiceMock.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/ProjectRepositoryMock.cs
  Backend.Tests/Mocks/SemanticDomainRepositoryMock.cs
  Backend.Tests/Mocks/SpeakerRepositoryMock.cs
  Backend.Tests/Mocks/StatisticsServiceMock.cs
  Backend.Tests/Mocks/UserEditRepositoryMock.cs
  Backend.Tests/Mocks/UserRepositoryMock.cs
  Backend.Tests/Mocks/UserRoleRepositoryMock.cs
  Backend.Tests/Mocks/WordRepositoryMock.cs
Labels: backend, maintenance, Size: S

#3052 [Backend] Replace `.ContainsKey` with `.TryGetValue`/`.TryAdd`
  Backend/Controllers/UserRoleController.cs
  Backend/Services/LiftService.cs
  Backend/Services/StatisticsService.cs
Labels: backend, maintenance, Size: S

#3158 [ReviewEntries] Turn off return-to-first-page-when-row-is-edited
  src/goals/ReviewEntries/ReviewEntriesTable/index.tsx
Labels: bug, frontend, goal: ReviewEntries

#3076 [ProjectScreen] Fix layout on narrow screen
  src/components/ProjectScreen/index.tsx
Labels: bug, frontend, project

#3046 Upgrade .NET from 6.0 to 8.0
  .editorconfig
  .env.development
  .github/workflows/backend.yml
  .gitignore
  .vscode/launch.json
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Mocks/PermissionServiceMock.cs
  Backend.Tests/Mocks/UserRepositoryMock.cs
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Backend/Helper/DuplicateFinder.cs
  Backend/Helper/FileOperations.cs
  Backend/Helper/FileStorage.cs
  Backend/Helper/LiftHelper.cs
  Backend/Helper/Sanitization.cs
  Backend/Repositories/BannerRepository.cs
  Backend/Repositories/UserRepository.cs
  Backend/Services/InviteService.cs
  Backend/Services/LiftService.cs
  Backend/Services/MergeService.cs
  Backend/Services/PasswordResetService.cs
  Backend/Services/PermissionService.cs
  Backend/Startup.cs
  README.md
  docs/user_guide/assets/licenses/backend_licenses.txt
Labels: backend, deployment, dependencies

#3156 Partition the build more by lazy-loading pages/buttons/dialogs
  src/components/App/AppLoggedIn.tsx
  src/components/Buttons/index.ts
  src/components/Dialogs/index.ts
Labels: frontend, maintenance, performance

#3176 Remove unnecessary `[FromForm]` baggage and fix axios issue
  .editorconfig
  Backend.Tests/Controllers/AudioControllerTests.cs
  Backend.Tests/Controllers/AvatarControllerTests.cs
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/SpeakerControllerTests.cs
  Backend/Controllers/AudioController.cs
  Backend/Controllers/AvatarController.cs
  Backend/Controllers/LiftController.cs
  Backend/Controllers/SpeakerController.cs
  Backend/Models/Word.cs
  docs/user_guide/assets/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/api/api/audio-api.ts
  src/api/api/avatar-api.ts
  src/api/api/lift-api.ts
  src/api/api/speaker-api.ts
  src/backend/index.ts
Labels: bug, backend, frontend, audio, .NET

#3051 [StatisticsService] Use implicit types
  Backend.Tests/Services/StatisticsServiceTests.cs
  Backend/Services/StatisticsService.cs
Labels: backend, maintenance, Size: S

#3171 Update icu.net; Fix ubuntu 22.04
  .github/workflows/backend.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  README.md
Labels: bug, backend, maintenance, dependencies

#3161 Use sx theme color functions
  src/components/AnnouncementBanner/AnnouncementBanner.tsx
  src/components/Buttons/LoadingButton.tsx
  src/components/Buttons/LoadingDoneButton.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectSettings/ProjectArchive.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/CharacterStatusText.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/EditDialog.tsx
Labels: frontend, maintenance, Size: S

#3188 Retract #3161 due to broken placement styles
  src/components/AnnouncementBanner/AnnouncementBanner.tsx
  src/components/Buttons/LoadingButton.tsx
  src/components/Buttons/LoadingDoneButton.tsx
  src/components/ProjectExport/DownloadButton.tsx
  src/components/ProjectSettings/ProjectArchive.tsx
  src/components/Statistics/ProgressBar/LinearProgressBar.tsx
  src/goals/CharacterInventory/CharInv/CharacterList/CharacterStatusText.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/EditDialog.tsx
Labels: bug, frontend

#3181 Preserve more content when merging senses
  src/goals/MergeDuplicates/Redux/reducerUtilities.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
  src/goals/MergeDuplicates/Redux/tests/reducerUtilities.test.ts
Labels: enhancement, frontend, goal: MergeDup

#3179 Run `npm update`
  docs/user_guide/assets/licenses/frontend_licenses.txt
  docs/user_guide/docs/dataEntry.es.md
  docs/user_guide/docs/dataEntry.md
  docs/user_guide/docs/dataEntry.zh.md
  package-lock.json
  src/components/Buttons/LoadingDoneButton.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/PasswordReset/Request.tsx
  src/components/PasswordReset/tests/Request.test.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/ProjectUsers/tests/SpeakerConsentListItemIcon.test.tsx
  src/components/SiteSettings/tests/index.test.tsx
  src/components/TreeView/TreeDepiction/tests/__snapshots__/DomainTileButton.test.tsx.snap
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
Labels: frontend, dependencies
