Repository sillsdev/TheCombine, pull requests merged in 2024-10, with the labels that each got.

#3387 Avoid empty lines in aws profiles list
  deploy/scripts/aws_env.py
Labels: bug, deployment, python

#3389 Replace backend formatter and license reporter
  .gitignore
  README.md
  docs/user_guide/assets/licenses/backend_licenses.txt
  package.json
  scripts/createBackendLicenses.js
Labels: documentation, backend, maintenance, .NET

#3390 Clean up build/deploy scripts and docs
  README.md
  deploy/ansible/playbook_desktop_setup.yml
  deploy/ansible/playbook_nuc_setup.yml
  deploy/scripts/build.py
  deploy/scripts/install-combine.sh
  deploy/scripts/package_images.py
  deploy/scripts/setup_target.py
  docs/deploy/README.md
Labels: documentation, deployment, docker

#3246 Replace deprecated Hidden component with useMediaQuery hook
  src/components/App/tests/index.test.tsx
  src/components/AppBar/Logo.tsx
  src/components/AppBar/NavigationButtons.tsx
  src/components/AppBar/ProjectButtons.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/AppBar/tests/Logo.test.tsx
  src/components/AppBar/tests/NavigationButtons.test.tsx
  src/components/AppBar/tests/ProjectButtons.test.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/LandingPage/TopBar.tsx
  src/components/LandingPage/index.tsx
  src/components/ProjectScreen/index.tsx
  src/components/ProjectScreen/tests/index.test.tsx
  src/components/ProjectSettings/index.tsx
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/TreeView/TreeDepiction/index.tsx
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
  src/components/TreeView/TreeDepiction/tests/index.test.tsx
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/index.test.tsx
  src/utilities/testRendererUtilities.tsx
Labels: frontend, maintenance

#3388 Dependency updates for October 2024
  .github/workflows/backend.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/commit_message_check.yml
  .github/workflows/frontend.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  deploy/requirements.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#3391 [installer] Update docs, comments, pw
  Dockerfile
  README.md
  deploy/Dockerfile
  deploy/ansible/group_vars/nuc/main.yml
  deploy/ansible/host_vars/localhost/main.yml
  deploy/scripts/build.py
  deploy/scripts/helm_utils.py
  deploy/scripts/install-combine.sh
  deploy/scripts/kube_env.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_combine.py
  deploy/scripts/utils.py
  docs/nuc_instructions_for_use/images/03_Enter_WiFi_Passphrase.png
  docs/nuc_instructions_for_use/nuc_instructions_for_use.md
  installer/README.md
  installer/make-combine-installer.sh
  maintenance/Dockerfile
Labels: documentation, deployment

#3401 [GHA] Fix backend workflow format check
  .github/workflows/backend.yml
  README.md
Labels: documentation, github_actions

#3402 [installer] Use --dependency-update; Fix debugging; Remove junk dirs
  deploy/scripts/install-combine.sh
  deploy/scripts/kube_env.py
  deploy/scripts/package_images.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_combine.py
  deploy/scripts/uninstall-combine
  deploy/scripts/utils.py
  installer/README.md
  installer/make-combine-installer.sh
Labels: deployment, python

#3404 [deploy] Fix helm config and maintenance scripts
  .github/workflows/deploy_qa.yml
  .gitignore
  deploy/helm/create-admin-user/templates/job-create-admin-user.yaml
  deploy/helm/thecombine/values.yaml
  deploy/scripts/helm_utils.py
  deploy/scripts/setup_combine.py
  docs/deploy/README.md
  docs/deploy/kubernetes_design/README.md
  maintenance/scripts/add_user_to_proj.py
  maintenance/scripts/combine_backup.py
  maintenance/scripts/combine_restore.py
  maintenance/scripts/db_update_audio_type.py
  maintenance/scripts/get_fonts.py
  maintenance/scripts/monitor.py
  maintenance/scripts/rm_project.py
  maintenance/scripts/update_cert.py
Labels: bug, deployment, maintenance, kubernetes

#3163 Introduce OpenTelemetry (OTEL) instrumentation
  Backend.Tests/Backend.Tests.csproj
  Backend.Tests/Mocks/LocationProviderMock.cs
  Backend.Tests/Otel/LocationProviderTests.cs
  Backend.Tests/Otel/OtelKernelTests.cs
  Backend.Tests/Otel/OtelServiceTests.cs
  Backend/BackendFramework.csproj
  Backend/Controllers/WordController.cs
  Backend/Interfaces/ILocationProvider.cs
  Backend/Otel/LocationApi.cs
  Backend/Otel/LocationProvider.cs
  Backend/Otel/OtelKernel.cs
  Backend/Otel/OtelService.cs
  Backend/Repositories/WordRepository.cs
  Backend/Services/WordService.cs
  Backend/Startup.cs
  deploy/helm/thecombine/charts/backend/templates/_helpers.tpl
  deploy/helm/thecombine/charts/backend/templates/deployment-backend.yaml
  deploy/scripts/app_release.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_files/cluster_config.yaml
  deploy/scripts/setup_files/collector_config.yaml
  docs/user_guide/assets/licenses/backend_licenses.txt
  src/backend/index.ts
  src/backend/sessionStorage.ts
Labels: enhancement, backend, deployment, maintenance, kubernetes
