Repository sillsdev/TheCombine, pull requests merged in 2024-04, with the labels that each got.

#2951 Update current user handling of getAllActiveProjects
  src/backend/index.ts
  src/components/ProjectScreen/ChooseProject.tsx
  src/components/ProjectScreen/tests/ChooseProject.test.tsx
  src/components/ProjectSettings/ProjectSelect.tsx
  src/components/ProjectSettings/tests/ProjectSelect.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
Labels: frontend, maintenance, project, Size: S

#2975 Consolidate router components
  src/backend/index.ts
  src/components/App/component.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/Login/Login.tsx
  src/components/Login/Redux/LoginActions.ts
  src/components/Login/Signup.tsx
  src/components/Login/tests/Login.test.tsx
  src/components/Login/tests/Signup.test.tsx
  src/components/ProjectScreen/CreateProjectActions.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/Redux/GoalActions.ts
  src/router/appRoutes.tsx
  src/router/browserRouter.tsx
Labels: frontend, maintenance, Size: S

#3042 [Merge Redux] Extract helper/utility functions
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/reducerUtilities.ts
Labels: frontend, refactor, goal: MergeDup, Size: S

#2969 [MergeDups] Add ? icon in sidebar linking to User Guide
  docs/user_guide/assets/images/mergeSidebar.es.png
  docs/user_guide/assets/images/mergeSidebar.png
  docs/user_guide/assets/images/mergeSidebar.zh.png
  docs/user_guide/assets/images/mergeSidebarMove.es.png
  docs/user_guide/assets/images/mergeSidebarMove.png
  src/components/AppBar/UserGuideButton.tsx
  src/components/InvalidLink/index.tsx
  src/components/Login/Login.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDrop.tsx
  src/utilities/pathUtilities.ts
Labels: documentation, enhancement, frontend, goal: MergeDup

#3047 Add codecov token to upload actions
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: CI/CD, github_actions

#3044 Update install/uninstall scripts
  deploy/scripts/install-combine.sh
  deploy/scripts/setup_files/cluster_config.yaml
  deploy/scripts/uninstall-combine
Labels: deployment, bash

#3048 Update user setup for MS .NET 8.0 images
  Backend/Dockerfile
Labels: docker

#2963 [WordCard] Prevent vern and button/icon overlap
  src/components/WordCard/index.tsx
Labels: bug, frontend, maintenance, Size: S

#3055 Edits to README for standalone installer
  installer/README.md
Labels: documentation

#2960 [MergeDups] Show (read-only) note on entries with a note
  src/components/Buttons/NoteButton.tsx
  src/components/Buttons/index.ts
  src/components/Buttons/tests/NoteButton.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/index.ts
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/Dialogs/CancelConfirmDialog.tsx
  src/components/WordCard/index.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/tests/index.test.tsx
  src/goals/CharacterInventory/CharInvCompleted.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/FlagCell.tsx
Labels: enhancement, frontend, goal: MergeDup

#3050 [Backend] Use more efficient `.Length`/`.Count` check
  Backend/Helper/Language.cs
  Backend/Services/LiftService.cs
  Backend/Services/StatisticsService.cs
Labels: backend, maintenance, Size: S

#3018 Enforce unique speaker names; Use name on export
  Backend.Tests/Controllers/LiftControllerTests.cs
  Backend.Tests/Controllers/SpeakerControllerTests.cs
  Backend.Tests/Helper/SanitizationTests.cs
  Backend.Tests/Mocks/SpeakerRepositoryMock.cs
  Backend/Controllers/SpeakerController.cs
  Backend/Helper/FileOperations.cs
  Backend/Helper/FileStorage.cs
  Backend/Helper/Sanitization.cs
  Backend/Interfaces/ISpeakerRepository.cs
  Backend/Repositories/SpeakerRepository.cs
  Backend/Services/LiftService.cs
  public/locales/en/translation.json
  src/backend/index.ts
  src/components/ProjectUsers/ProjectSpeakersList.tsx
  src/components/ProjectUsers/tests/ProjectSpeakersList.test.tsx
Labels: enhancement, backend, frontend, import/export, audio, project

#2952 Update project permissions without having to log out and back in
  Backend.Tests/Mocks/UserRoleRepositoryMock.cs
  Backend.Tests/Services/PermissionServiceTests.cs
  Backend/Models/UserRole.cs
  Backend/Services/PermissionService.cs
Labels: bug, backend, project

#2893 [MergeDups] Refactor frontend logic and show audio count
  Backend/Models/Sense.cs
  src/api/models/status.ts
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/tests/index.test.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReduxTypes.ts
  src/goals/MergeDuplicates/Redux/reducerUtilities.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
Labels: enhancement, frontend, refactor, goal: MergeDup, audio, Size: M

#2973 Increase "react", "api" import specificity
  docs/style_guide/ts_style_guide.md
  src/components/AppBar/SpeakerMenu.tsx
  src/components/AppBar/UserMenu.tsx
  src/components/AppBar/tests/NavigationButtons.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
  src/components/Dialogs/DeleteEditTextDialog.tsx
  src/components/Dialogs/EditTextDialog.tsx
  src/components/Dialogs/SubmitTextDialog.tsx
  src/components/PasswordReset/ResetPage.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectScreen/CreateProject.tsx
  src/components/ProjectScreen/tests/CreateProject.test.tsx
  src/components/ProjectSettings/index.tsx
  src/components/Pronunciations/utilities.ts
  src/components/SiteSettings/index.tsx
  src/components/Statistics/LineChartComponent.tsx
  src/components/Statistics/tests/DomainStatistics.test.tsx
  src/components/Statistics/tests/UserStatistics.test.tsx
  src/components/TreeView/TreeDepiction/tests/index.test.tsx
  src/components/TreeView/TreeNavigator.tsx
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/WordCard/tests/SenseCard.test.tsx
  src/types/theme.ts
  src/utilities/fontComponents.tsx
  src/utilities/fontCssUtilities.ts
  src/utilities/tests/fontCssUtilities.test.ts
Labels: documentation, frontend, maintenance, Size: S

#3066 [Landing Page] Fix broken User Guide button
  src/components/LandingPage/LandingButtons.tsx
Labels: bug, frontend, Size: S

#3072 [NewEntry] Prevent crash when duplicate vernacular is cleared
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/VernDialog.test.tsx
Labels: bug, frontend, component: DataEntry

#3065 [AudioPlayer] Fix the touch-screen long-press behavior
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/tests/AudioPlayer.test.tsx
Labels: bug, frontend, audio

#3077 [Recorder] Add backstops for if cursor departs button
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/RecorderIcon.tsx
Labels: bug, frontend, audio
