Repository sillsdev/TheCombine, pull requests merged in 2024-09, with the labels that each got.

#3351 Dependency updates for September 2024
  .github/workflows/backend.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/commit_message_check.yml
  .github/workflows/frontend.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  README.md
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  tox.ini
Labels: docker, python, dependencies, javascript, .NET, github_actions

#3367 Update SIL International to SIL Global
  LICENSE
  docs/user_guide/mkdocs.yml
Labels: documentation, Size: S

#3332 Use dummy CAPTCHA site key in default config
  deploy/helm/thecombine/charts/frontend/values.yaml
  src/components/Login/Captcha.tsx
  src/types/runtimeConfig.ts
Labels: deployment, Size: S

#3327 [Login] Improve error specificity
  public/locales/en/translation.json
  src/backend/index.ts
  src/components/Login/Login.tsx
  src/components/Login/Redux/LoginActions.ts
Labels: bug, frontend, login/signUp

#3309 [ReviewEntries] Persist column order/visibility state in project
  src/components/Project/ProjectActions.ts
  src/components/Project/ProjectReducer.ts
  src/components/Project/ProjectReduxTypes.ts
  src/goals/ReviewEntries/ReviewEntriesTable/index.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/tests/index.test.tsx
Labels: enhancement, frontend, goal: ReviewEntries

#3370 Fix shebang for Python scripts
  deploy/scripts/app_release.py
  deploy/scripts/aws_env.py
  deploy/scripts/build.py
  deploy/scripts/check_certs.py
  deploy/scripts/combine_charts.py
  deploy/scripts/kube_env.py
  deploy/scripts/package_images.py
  deploy/scripts/sem_dom_import.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_target.py
  maintenance/scripts/add_user_to_proj.py
  maintenance/scripts/combine_backup.py
  maintenance/scripts/combine_restore.py
  maintenance/scripts/db_update_audio_type.py
  maintenance/scripts/get_fonts.py
  maintenance/scripts/monitor.py
  maintenance/scripts/rm_project.py
  maintenance/scripts/update_cert.py
  scripts/clean_aws_repo.py
  scripts/cleanup_local_repo.py
  scripts/generate_openapi.py
  scripts/get_fonts_dev.py
  scripts/split_dictionary.py
  scripts/subtitle_tutorial_video.py
Labels: bug, python, bash
