Repository sillsdev/TheCombine, pull requests merged in 2024-05, with the labels that each got.

#3106 Dependabot updates for May 2025
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#3079 [ReviewEntriesTable] Exempt edit/delete cols from Hide All
  src/goals/ReviewEntries/ReviewEntriesTable/index.tsx
Labels: bug, frontend, goal: ReviewEntries, Size: S

#3060 Update mui-language-picker and font scripts
  maintenance/Dockerfile
  maintenance/scripts/font_lists/mui_language_picker_font_map.json
  maintenance/scripts/font_lists/mui_language_picker_fonts.txt
  maintenance/scripts/get_fonts.py
  maintenance/scripts/mui_language_picker_fonts.txt
  package-lock.json
  package.json
  scripts/get_fonts_dev.py
Labels: frontend, font/language, dependencies

#3064 [404; Landing; Loading] Replace tractor image with people images
  public/locales/en/translation.json
  src/components/HarvestThreshWinnow/ImageAttributions.tsx
  src/components/HarvestThreshWinnow/index.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/LandingPage/index.tsx
  src/components/PageNotFound/component.tsx
  src/goals/DefaultGoal/Loading.tsx
  src/resources/HTW-licenses.json
  src/resources/HTW1-harvest-Ethiopia.jpg
  src/resources/HTW2-thresh-Bangladesh.jpg
  src/resources/HTW3-winnow-India.jpg
  src/resources/cc-by-sa.png
Labels: frontend, Needs UX Design

#3078 [Landing Page] Improve layout
  src/components/HarvestThreshWinnow/index.tsx
  src/components/LandingPage/BottomBar.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/LandingPage/TopBar.tsx
  src/components/LandingPage/index.tsx
Labels: frontend, Needs UX Design

#3116 Update 1.0.0 to 2.0.0
  README.md
  package-lock.json
  package.json
Labels: versioning

#3111 Fix replace-bug when trying to access local font css file
  src/utilities/fontCssUtilities.ts
Labels: bug, frontend, font/language, Size: S

#3105 Update codecov-action to v4.1.0
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: CI/CD

#3075 [TreeView] Hide return-to-top button in narrow window
  src/components/TreeView/TreeDepiction/tests/index.test.tsx
  src/components/TreeView/index.tsx
  src/components/TreeView/tests/index.test.tsx
  src/utilities/testRendererUtilities.tsx
Labels: frontend, component: TreeView

#3123 Update NUC Instructions for Use
  docs/nuc_instructions_for_use/images/00_PowerOn.jpg
  docs/nuc_instructions_for_use/images/01_PowerOn.jpg
  docs/nuc_instructions_for_use/images/02_Select_WiFi.jpg
  docs/nuc_instructions_for_use/images/03_Enter_WiFi_Passphrase.png
  docs/nuc_instructions_for_use/images/04_Combine_URL.jpg
  docs/nuc_instructions_for_use/images/05_Combine_Landing_Page.png
  docs/nuc_instructions_for_use/nuc_instructions_for_use.md
Labels: documentation
