Repository sillsdev/TheCombine, pull requests merged in 2024-08, with the labels that each got.

#3240 Package container images with the self-extracting installer for The Combine
  .gitignore
  README.md
  deploy/ansible/group_vars/nuc/main.yml
  deploy/ansible/group_vars/server/main.yml
  deploy/ansible/host_vars/localhost/main.yml
  deploy/ansible/playbook_desktop_setup.yaml
  deploy/ansible/playbook_k3s_airgapped_files.yml
  deploy/ansible/playbook_nuc_setup.yaml
  deploy/ansible/roles/container_engine/defaults/main.yml
  deploy/ansible/roles/container_engine/tasks/main.yml
  deploy/ansible/roles/container_images/defaults/main.yml
  deploy/ansible/roles/container_images/tasks/main.yml
  deploy/ansible/roles/helm_install/defaults/main.yml
  deploy/ansible/roles/k8s_install/defaults/main.yml
  deploy/ansible/roles/k8s_install/tasks/k3s.yml
  deploy/ansible/roles/k8s_install/tasks/k3s_airgap.yml
  deploy/ansible/roles/k8s_install/tasks/main.yml
  deploy/ansible/roles/support_tools/defaults/main.yml
  deploy/ansible/roles/support_tools/tasks/main.yml
  deploy/ansible/roles/wifi_ap/tasks/install.yml
  deploy/ansible/vars/config_common.yml
  deploy/ansible/vars/k3s_versions.yml
  deploy/helm/cert-proxy-client/values.yaml
  deploy/helm/thecombine/charts/maintenance/templates/get-fonts-hook.yaml
  deploy/requirements.txt
  deploy/scripts/helm_utils.py
  deploy/scripts/install-combine.sh
  deploy/scripts/kube_env.py
  deploy/scripts/package_images.py
  deploy/scripts/setup_cluster.py
  deploy/scripts/setup_combine.py
  deploy/scripts/setup_files/cluster_config.yaml
  deploy/scripts/setup_files/profiles/dev.yaml
  deploy/scripts/utils.py
  dev-requirements.txt
  installer/README.md
  installer/make-combine-installer.sh
  maintenance/requirements.txt
Labels: deployment, python, kubernetes, bash, ansible

#3289 Dependabot updates for August 2024
  .github/workflows/backend.yml
  .github/workflows/commit_message_check.yml
  .github/workflows/dependency-review.yml
  .github/workflows/frontend.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  deploy/requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  src/api/models/sense.ts
Labels: dependencies

#3291 Update shell error handling for make-combine-installer.sh
  installer/make-combine-installer.sh
Labels: bash

#3250 Fix fetch_wordlist script
  package-lock.json
  package.json
  scripts/fetch_wordlist.sh
Labels: maintenance, font/language, dependencies

#3290 Clear duplicate selection when user returns to vernacular input
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
Labels: frontend, component: DataEntry

#3228 [TreeView] Make the search textbox more recognizable
  src/components/TreeView/TreeSearch.tsx
Labels: enhancement, frontend, component: TreeView

#3297 [DataEntryTable] Fix NewEntry vernacular focus issues
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
Labels: bug, frontend, maintenance, component: DataEntry

#3298 Don't check mic permission on Firefox
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/utilities.ts
Labels: bug, frontend, audio

#3251 [Tutorial Videos] Add transcripts and subtitles script
  .gitignore
  Backend/Helper/GrammaticalCategory.cs
  README.md
  docs/tutorial_subtitles/README.md
  docs/tutorial_subtitles/_in_progress_transcripts_/data_entry_1_basics.eng.txt
  docs/tutorial_subtitles/_in_progress_transcripts_/export_2_combine_to_flex.eng.txt
  docs/tutorial_subtitles/_in_progress_transcripts_/merge_dups_2_senses.eng.txt
  docs/tutorial_subtitles/_in_progress_transcripts_/merge_dups_3_imported.eng.txt
  docs/tutorial_subtitles/_in_progress_transcripts_/review_entries_1_reviewing.eng.txt
  docs/tutorial_subtitles/_in_progress_transcripts_/review_entries_2_editing.eng.txt
  docs/tutorial_subtitles/_in_progress_transcripts_/sem_dom_1_basics.eng.txt
  docs/tutorial_subtitles/export_1_flex_to_combine/export_1_flex_to_combine.eng.txt
  docs/tutorial_subtitles/export_1_flex_to_combine/times.txt
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.eng.txt
  docs/tutorial_subtitles/merge_dups_1_basics/times.txt
  scripts/subtitle_tutorial_video.py
Labels: documentation, python

#3160 Only disable page-index-reset for edits
  src/goals/ReviewEntries/ReviewEntriesTable/index.tsx
Labels: bug, frontend, goal: ReviewEntries, Size: S

#3185 Clear spell-checker if new lang has no dictionary
  src/utilities/spellChecker.ts
  src/utilities/tests/spellChecker.test.ts
Labels: frontend, component: DataEntry, font/language

#3295 Remove act from around userEvent actions
  package-lock.json
  package.json
  src/components/PasswordReset/tests/Request.test.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/SiteSettings/tests/index.test.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
Labels: frontend, test, dependencies

#3231 Don't make button text all-caps
  docs/user_guide/docs/account.es.md
  docs/user_guide/docs/account.md
  docs/user_guide/docs/goals.es.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/project.es.md
  docs/user_guide/docs/project.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/pt/translation.json
  src/types/theme.ts
Labels: frontend

#3304 Move EntryCellComponents tests to @testing-library
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/GlossWithSuggestions.test.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/tests/VernWithSuggestions.test.tsx
Labels: frontend, test, Size: S

#3303 Update prettier and parentheses
  package-lock.json
  package.json
  src/components/Pronunciations/Recorder.ts
  src/components/WordCard/DomainChipsGrid.tsx
  src/utilities/fontContext.ts
Labels: frontend, maintenance, dependencies, Size: S

#3248 [UserGuide > Projects > Semantic Domains] Update example; Add images
  docs/user_guide/assets/images/projectSettingsDomsCustomAdd.png
  docs/user_guide/assets/images/projectSettingsDomsCustomEdit.png
  docs/user_guide/assets/images/projectSettingsDomsCustomSee.png
  docs/user_guide/docs/project.es.md
  docs/user_guide/docs/project.md
  docs/user_guide/docs/project.zh.md
  public/locales/en/translation.json
  src/components/ProjectSettings/ProjectDomains.tsx
Labels: documentation

#3310 Make Dockerfiles architecture neutral
  Backend/Dockerfile
  Dockerfile
  database/Dockerfile
  deploy/Dockerfile
  maintenance/Dockerfile
Labels: docker

#3308 Update README links, manifest name, tsconfig targets
  README.md
  public/manifest.json
  tsconfig.json
Labels: documentation, maintenance, Size: S

#3314 Increase login expire from 4 to 12 hours
  Backend/Services/PermissionService.cs
Labels: backend, login/signUp

#3306 [NewEntry] When vern dialog closed sans choice, select text
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
Labels: enhancement, frontend, component: DataEntry

#3307 [DataEntryTable] Distinguish between new and updated words
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
Labels: bug, frontend, component: DataEntry

#3245 [DataEntryTable] Improve submit/note/exit clarity
  public/locales/en/translation.json
  public/locales/pt/translation.json
  src/components/Buttons/IconButtonWithTooltip.tsx
  src/components/Buttons/NoteButton.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
Labels: bug, frontend, component: DataEntry

#3300 [TreeView] Allow editing mid-id digits
  src/components/TreeView/TreeSearch.tsx
  src/components/TreeView/tests/TreeSearch.test.tsx
Labels: bug, frontend, component: TreeView

#3229 Add user setting for turning gloss suggestion on/off
  Backend/Models/User.cs
  Backend/Repositories/UserRepository.cs
  public/locales/en/translation.json
  src/api/models/user.ts
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/UserSettings/UserSettings.tsx
  src/types/user.ts
  src/utilities/spellChecker.ts
Labels: enhancement, backend, frontend, component: DataEntry

#3311 Add AnnouncementBanner tests; Fix defaultState location
  public/locales/en/translation.json
  src/components/AnnouncementBanner/index.tsx
  src/components/AnnouncementBanner/tests/index.test.tsx
  src/components/App/DefaultState.ts
  src/components/App/index.tsx
  src/components/App/tests/index.test.tsx
  src/components/AppBar/tests/AppBarComponent.test.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/Project/tests/ProjectActions.test.tsx
  src/components/ProjectExport/Redux/tests/ExportProjectActions.test.tsx
  src/components/Pronunciations/tests/AudioPlayer.test.tsx
  src/components/Pronunciations/tests/AudioRecorder.test.tsx
  src/components/Pronunciations/tests/PronunciationsBackend.test.tsx
  src/components/Pronunciations/tests/PronunciationsFrontend.test.tsx
  src/components/Pronunciations/tests/RecorderIcon.test.tsx
  src/components/TreeView/Redux/tests/TreeViewActions.test.tsx
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/tests/index.test.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/tests/EditSenseDialog.test.tsx
  src/index.tsx
  src/rootRedux/testTypes.ts
  src/utilities/testingLibraryUtilities.tsx
Labels: frontend, test, maintenance

#3321 [DataEntry] Let arrows to move out of vern/gloss suggestions
  src/components/DataEntry/DataEntryTable/EntryCellComponents/GlossWithSuggestions.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/VernWithSuggestions.tsx
Labels: bug, frontend, component: DataEntry

#3233 [ProjectSettings] Refactor with Accordian component
  src/components/BaseSettings/index.tsx
  src/components/ProjectSettings/BaseSettings.tsx
  src/components/ProjectSettings/ProjectSchedule/index.tsx
  src/components/ProjectSettings/index.tsx
  src/components/ProjectUsers/ActiveProjectUsers.tsx
Labels: frontend, project

#3312 Update all translations from Crowdin
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.spa.txt
  docs/user_guide/docs/account.zh.md
  docs/user_guide/docs/dataEntry.es.md
  docs/user_guide/docs/dataEntry.zh.md
  docs/user_guide/docs/goals.es.md
  docs/user_guide/docs/goals.zh.md
  docs/user_guide/docs/index.es.md
  docs/user_guide/docs/index.zh.md
  docs/user_guide/docs/project.es.md
  docs/user_guide/docs/project.zh.md
  public/locales/ar/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/pt/translation.json
  public/locales/zh/translation.json
Labels: documentation, frontend, font/language

#3325 [User Guide] Fix displaced note
  docs/user_guide/docs/goals.es.md
  docs/user_guide/docs/goals.md
  docs/user_guide/docs/goals.zh.md
  docs/user_guide/docs/project.es.md
Labels: documentation, Size: S

#3322 [Recorder] Toast error if record fails
  public/locales/en/translation.json
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/Recorder.ts
  src/components/Pronunciations/utilities.ts
Labels: bug, frontend, audio

#3301 C is for Cookie, that's good enough for me
  docs/user_guide/docs/account.md
  package-lock.json
  package.json
  public/index.html
  public/locales/en/translation.json
  src/components/App/index.tsx
  src/components/Login/Redux/LoginActions.ts
  src/components/UserSettings/UserSettings.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
  src/cookies/CookieConsent.tsx
  src/cookies/cc.css
  src/cookies/useCookieConsent.tsx
  src/types/Redux/analytics.ts
  src/types/Redux/analyticsReduxTypes.ts
Labels: maintenance

#3299 Add data-testid, aria-label to general buttons, dialogs
  src/components/AppBar/NavigationButtons.tsx
  src/components/Buttons/CloseButton.tsx
  src/components/Buttons/DeleteButtonWithDialog.tsx
  src/components/Buttons/FileInputButton.tsx
  src/components/Buttons/FlagButton.tsx
  src/components/Buttons/IconButtonWithTooltip.tsx
  src/components/Buttons/NoteButton.tsx
  src/components/Buttons/PartOfSpeechButton.tsx
  src/components/Buttons/UndoButton.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/Dialogs/ButtonConfirmation.tsx
  src/components/Dialogs/CancelConfirmDialog.tsx
  src/components/Dialogs/DeleteEditTextDialog.tsx
  src/components/Dialogs/EditTextDialog.tsx
  src/components/Dialogs/RecordAudioDialog.tsx
  src/components/Dialogs/SubmitTextDialog.tsx
  src/components/Dialogs/UploadImageDialog.tsx
  src/components/Dialogs/ViewImageDialog.tsx
  src/components/GoalTimeline/GoalList.tsx
  src/components/LandingPage/LandingButtons.tsx
  src/components/ProjectExport/ExportButton.tsx
Labels: frontend, test, maintenance

#3331 Update Turnstile site key
  deploy/scripts/setup_files/profiles/prod.yaml
  deploy/scripts/setup_files/profiles/staging.yaml
  src/types/runtimeConfig.ts
Labels: bug, deployment, Size: S

#3313 Update and consolidate i18n
  package-lock.json
  package.json
  src/i18n/index.ts
  src/i18n/tests/i18nMock.ts
  src/i18n/tests/reactI18nextMock.ts
  src/setupTests.js
Labels: frontend, test, font/language, dependencies, Size: S
