Repository sillsdev/TheCombine, pull requests merged in 2024-01, with the labels that each got.

#2865 Dependabot updates for January 2024
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, javascript, .NET, github_actions

#2867 Clean up backend Word/Sense models
  Backend.Tests/Models/SenseTests.cs
  Backend.Tests/Models/WordTests.cs
  Backend/Models/Sense.cs
  Backend/Models/Word.cs
Labels: backend, maintenance

#2837 [TreeView] Show only current tile on sm screens; Fix minor layout issues
  src/components/TreeView/TreeDepiction/ChildrenRow.tsx
  src/components/TreeView/TreeDepiction/CurrentRow.tsx
  src/components/TreeView/TreeDepiction/ParentRow.tsx
  src/components/TreeView/TreeDepiction/TreeDepictionTypes.ts
  src/components/TreeView/TreeDepiction/TreeTile.tsx
  src/components/TreeView/TreeDepiction/index.tsx
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
  src/components/TreeView/TreeDepiction/tests/index.test.tsx
Labels: bug, frontend, component: TreeView

#2841 [MergeDups] Refactor word column to prevent flag wrapping
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/index.tsx
Labels: bug, frontend, refactor, goal: MergeDup

#2872 [SpeakerController] Fix CreateSpeaker api path
  Backend/Controllers/SpeakerController.cs
  src/api/api/speaker-api.ts
Labels: bug, backend

#2876 Update @mui/x-date-pickers and Project Schedule settings
  docs/user_guide/assets/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/components/App/AppLoggedIn.tsx
  src/components/App/DatePickersLocalizationProvider.tsx
  src/components/ProjectSettings/ProjectSchedule/CalendarView.tsx
  src/components/ProjectSettings/ProjectSchedule/DateScheduleEdit.tsx
  src/components/ProjectSettings/ProjectSchedule/DateSelector.tsx
  src/components/ProjectSettings/ProjectSchedule/ProjectPickersDay.tsx
  src/components/ProjectSettings/ProjectSchedule/index.tsx
  src/components/ProjectSettings/tests/index.test.tsx
Labels: bug, frontend, project, font/language, dependencies

#2866 [DataEntry] Auto merge new entry with empty selected dup sense
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/index.test.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/types/word.ts
Labels: enhancement, frontend, component: DataEntry

#2886 Add tls-san option to k3s install options
  deploy/ansible/group_vars/nuc/main.yml
  deploy/ansible/roles/k8s_config/defaults/main.yml
  deploy/ansible/roles/k8s_config/tasks/main.yml
  deploy/ansible/roles/k8s_install/defaults/main.yml
  deploy/ansible/roles/k8s_install/tasks/microk8s.yml
  deploy/ansible/roles/network_config/defaults/main.yaml
  deploy/ansible/roles/network_config/tasks/main.yml
Labels: deployment, kubernetes

#2885 Separate buckets for tls certs
  .gitignore
  deploy/helm/cert-proxy-client/templates/env-cert-proxy-configmap.yaml
  deploy/helm/cert-proxy-client/templates/update-cert-cronjob.yaml
  deploy/helm/cert-proxy-client/templates/update-cert-oneshot.yaml
  deploy/helm/cert-proxy-client/values.yaml
  deploy/helm/cert-proxy-server/templates/_helpers.tpl
  deploy/helm/cert-proxy-server/templates/deployment-cert-proxy-server.yaml
  deploy/helm/cert-proxy-server/templates/env-cert-proxy-configmap.yaml
  deploy/helm/cert-proxy-server/templates/ingress-nuc.yaml
  deploy/helm/cert-proxy-server/values.yaml
  deploy/helm/create-admin-user/templates/job-create-admin-user.yaml
  deploy/helm/thecombine/charts/backend/templates/deployment-backend.yaml
  deploy/helm/thecombine/charts/database/templates/database.yaml
  deploy/helm/thecombine/charts/frontend/templates/deployment-frontend.yaml
  deploy/helm/thecombine/charts/maintenance/templates/deployment-maintenance.yaml
  deploy/helm/thecombine/charts/maintenance/templates/env-maintenance-configmap.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
  maintenance/scripts/monitor.py
Labels: deployment, python, kubernetes

#2890 [MergeDups] Restore removal of redundant audio
  Backend/Services/MergeService.cs
Labels: bug, backend, goal: MergeDup, audio

#2892 Remove `act` from around `@testing-library` user events
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/ProjectUsers/tests/SpeakerConsentListItemIcon.test.tsx
  src/components/SiteSettings/tests/index.test.tsx
Labels: bug, frontend, test

#2894 Fix `import` order by moving 'type'
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/store.ts
  src/types/hooks.ts
  src/utilities/testUtilities.tsx
Labels: frontend, maintenance, Size: S

#2898 [MergeDups] Clean up auto-merging of definitions
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
Labels: frontend, goal: MergeDup, Size: S

#2901 [MergeDups] Refactor `MergeTreeSense`
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDrop.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/tests/index.test.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
Labels: frontend, maintenance, goal: MergeDup, Size: S

#2896 [MergeDups] Clean up state
  src/components/App/DefaultState.ts
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/tests/index.test.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReduxTypes.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
  src/goals/MergeDuplicates/Redux/tests/MergeDupsDataMock.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
Labels: frontend, maintenance, goal: MergeDup, Size: S

#2869 [MergeDups] Prevent merged sets from showing up again
  docs/user_guide/docs/goals.md
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
Labels: enhancement, frontend, goal: MergeDup

#2902 Fix determination of which words have been merged
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
Labels: bug, frontend, goal: MergeDup, Size: S
