Repository sillsdev/TheCombine, pull requests merged in 2024-03, with the labels that each got.

#2999 Dependabot updates for March 2024
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/frontend.yml
  .github/workflows/scorecards.yml
  Backend.Tests/Backend.Tests.csproj
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  Dockerfile
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2974 Clean up goal redux to match other redux
  src/components/App/DefaultState.ts
  src/components/GoalTimeline/index.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/GoalTimeline/tests/index.test.tsx
  src/components/ProjectScreen/CreateProjectActions.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/DefaultGoal/BaseGoalScreen.tsx
  src/goals/DefaultGoal/NextGoalScreen.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SaveDeferButtons.tsx
  src/goals/MergeDuplicates/Redux/MergeDupsActions.ts
  src/goals/Redux/GoalActions.ts
  src/goals/Redux/GoalReducer.ts
  src/goals/Redux/GoalReduxTypes.ts
  src/goals/ReviewEntries/Redux/ReviewEntriesActions.ts
  src/goals/ReviewEntries/Redux/tests/ReviewEntriesActions.test.tsx
  src/goals/ReviewEntries/tests/index.test.tsx
  src/rootReducer.ts
  src/types/goals.ts
  src/types/index.ts
Labels: frontend, maintenance, goal, Size: S

#2950 Replace deprecated toBeCalled/toBeCalledWith
  src/components/AppBar/tests/Logo.test.tsx
  src/components/DataEntry/tests/index.test.tsx
  src/components/Login/tests/Login.test.tsx
  src/components/Login/tests/Signup.test.tsx
  src/components/ProjectSettings/tests/ProjectAutocomplete.test.tsx
  src/components/ProjectSettings/tests/ProjectLanguages.test.tsx
  src/components/ProjectSettings/tests/ProjectName.test.tsx
  src/components/TreeView/Redux/tests/TreeViewActions.test.tsx
  src/utilities/tests/dictionaryLoader.test.ts
Labels: frontend, test, maintenance, Size: S

#3002 Specify requested k8s resources for CPU & Memory
  deploy/helm/cert-proxy-server/templates/deployment-cert-proxy-server.yaml
  deploy/helm/cert-proxy-server/templates/deployment-nuc-proxy.yaml
  deploy/helm/thecombine/charts/backend/templates/deployment-backend.yaml
  deploy/helm/thecombine/charts/backend/values.yaml
  deploy/helm/thecombine/charts/database/templates/database.yaml
  deploy/helm/thecombine/charts/database/values.yaml
  deploy/helm/thecombine/charts/frontend/templates/deployment-frontend.yaml
  deploy/helm/thecombine/charts/frontend/values.yaml
  deploy/helm/thecombine/charts/maintenance/templates/cronjob-daily-backup.yaml
  deploy/helm/thecombine/charts/maintenance/templates/deployment-maintenance.yaml
  deploy/helm/thecombine/charts/maintenance/values.yaml
  deploy/helm/thecombine/values.yaml
  deploy/scripts/setup_files/profiles/dev.yaml
  deploy/scripts/setup_files/profiles/prod.yaml
  deploy/scripts/setup_files/profiles/staging.yaml
Labels: deployment, kubernetes

#2962 Unify loading button
  src/components/Buttons/LoadingButton.tsx
  src/components/Dialogs/ButtonConfirmation.tsx
  src/components/Dialogs/CancelConfirmDialog.tsx
  src/components/Dialogs/DeleteEditTextDialog.tsx
  src/components/Login/Login.tsx
  src/components/ProjectExport/ExportButton.tsx
  src/components/ProjectSettings/ProjectSchedule/DateScheduleEdit.tsx
  src/components/ProjectSettings/ProjectSchedule/DateSelector.tsx
  src/goals/CharacterInventory/CharInv/index.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SaveDeferButtons.tsx
Labels: frontend, maintenance, Size: S

#2964 [CharInv] Consolidate find-and-replace pieces
  src/components/Buttons/DeleteButtonWithDialog.tsx
  src/components/Buttons/UndoButton.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/Dialogs/CancelConfirmDialog.tsx
  src/components/ProjectUsers/CancelConfirmDialogCollection.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace/CharacterReplaceDialog.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/FindAndReplace/FindAndReplaceActions.ts
  src/goals/CharacterInventory/CharInv/CharacterDetail/tests/index.test.tsx
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
Labels: frontend, refactor, maintenance, Size: S, goal: CharacterInventory

#2953 [MergeDups] Track deleted senses
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsActions.test.tsx
Labels: frontend, maintenance, goal: MergeDup, Size: S

#2948 Export semantic domains in English
  Backend.Tests/Controllers/SemanticDomainControllerTests.cs
  Backend.Tests/Mocks/SemanticDomainRepositoryMock.cs
  Backend.Tests/Services/LiftServiceTests.cs
  Backend/Controllers/SemanticDomainController.cs
  Backend/Interfaces/ILiftService.cs
  Backend/Services/LiftService.cs
  public/locales/en/translation.json
  src/api/api/semantic-domain-api.ts
  src/backend/index.ts
  src/components/App/AppLoggedIn.tsx
  src/components/AppBar/tests/ProjectButtons.test.tsx
  src/components/AppBar/tests/SpeakerMenu.test.tsx
  src/components/AppBar/tests/UserMenu.test.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/index.test.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/GoalTimeline/tests/index.test.tsx
  src/components/Project/ProjectActions.ts
  src/components/Project/ProjectReducer.ts
  src/components/Project/ProjectReduxTypes.ts
  src/components/Project/tests/ProjectActions.test.tsx
  src/components/ProjectExport/Redux/tests/ExportProjectActions.test.tsx
  src/components/ProjectScreen/ChooseProject.tsx
  src/components/ProjectScreen/CreateProjectActions.ts
  src/components/ProjectScreen/tests/CreateProject.test.tsx
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/ProjectSettings/ProjectImport.tsx
  src/components/ProjectSettings/ProjectLanguages.tsx
  src/components/ProjectSettings/ProjectName.tsx
  src/components/ProjectSettings/ProjectSchedule/index.tsx
  src/components/ProjectSettings/ProjectSchedule/tests/index.test.tsx
  src/components/ProjectSettings/ProjectSelect.tsx
  src/components/ProjectSettings/ProjectSettingsTypes.ts
  src/components/ProjectSettings/index.tsx
  src/components/ProjectSettings/tests/ProjectAutocomplete.test.tsx
  src/components/ProjectSettings/tests/ProjectLanguages.test.tsx
  src/components/ProjectSettings/tests/ProjectName.test.tsx
  src/components/ProjectSettings/tests/index.test.tsx
  src/components/SiteSettings/tests/index.test.tsx
  src/components/UserSettings/UserSettings.tsx
  src/components/UserSettings/tests/UserSettings.test.tsx
  src/components/WordCard/DomainChipsGrid.tsx
  src/components/WordCard/SenseCard.tsx
  src/components/WordCard/tests/SenseCard.test.tsx
  src/components/WordCard/tests/index.test.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/tests/index.test.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SenseCardContent.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/CellComponents/tests/PronunciationsCell.test.tsx
  src/i18n.ts
Labels: bug, backend, frontend, import/export, project, font/language, Size: M

#2955 [CharInv] Track words changed with find-and-replace
  Backend.Tests/Controllers/WordControllerTests.cs
  Backend/Controllers/WordController.cs
  public/locales/en/translation.json
  src/api/api/word-api.ts
  src/backend/index.ts
  src/components/Dialogs/CancelConfirmDialog.tsx
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/goals/CharacterInventory/CharInvCompleted.tsx
  src/goals/CharacterInventory/CharacterInventoryTypes.ts
  src/goals/CharacterInventory/Redux/CharacterInventoryActions.ts
  src/goals/CharacterInventory/Redux/tests/CharacterInventoryActions.test.tsx
  src/goals/CharacterInventory/tests/CharInvCompleted.test.tsx
  src/goals/Redux/GoalActions.ts
  src/goals/Redux/GoalReducer.ts
Labels: bug, backend, frontend, goal: CharacterInventory

#2971 Don't let back button get stuck on loading screen
  src/goals/DefaultGoal/BaseGoalScreen.tsx
Labels: bug, frontend, goal
