Repository sillsdev/TheCombine, pull requests merged in 2024-02, with the labels that each got.

#2888 When word/sense is protected, give reasons
  .vscode/settings.json
  Backend.Tests/Helper/LiftHelperTests.cs
  Backend/Helper/LiftHelper.cs
  Backend/Models/ProtectReason.cs
  Backend/Models/Sense.cs
  Backend/Models/Word.cs
  Backend/Services/LiftService.cs
  public/locales/en/translation.json
  src/api/.openapi-generator/FILES
  src/api/models/index.ts
  src/api/models/protect-reason.ts
  src/api/models/reason-type.ts
  src/api/models/sense.ts
  src/api/models/word.ts
  src/components/MultilineTooltipTitle/index.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SenseCardContent.tsx
Labels: enhancement, backend, frontend, goal: MergeDup, import/export

#2935 Disable CodeCov status checks on PRs
  codecov.yml
Labels: CI/CD

#2934 Dependabot updates for February 2024
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
  .github/workflows/combine_deploy_image.yml
  .github/workflows/database.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend.yml
  .github/workflows/maintenance.yml
  .github/workflows/pages.yml
  .github/workflows/python.yml
  .github/workflows/scorecards.yml
  Backend/BackendFramework.csproj
  Backend/Dockerfile
  database/Dockerfile
  deploy/requirements.txt
  dev-requirements.txt
  docs/user_guide/assets/licenses/backend_licenses.txt
  docs/user_guide/assets/licenses/frontend_licenses.txt
  maintenance/requirements.txt
  package-lock.json
  package.json
  src/components/TreeView/TreeDepiction/tests/__snapshots__/index.test.tsx.snap
Labels: docker, python, dependencies, javascript, .NET, github_actions

#2895 Stop audio/flag/note summary acting like a button
  src/components/AnnouncementBanner/AnnouncementBanner.tsx
  src/components/Buttons/FlagButton.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/EntryNote.tsx
  src/components/WordCard/index.tsx
  src/types/theme.ts
Labels: bug, frontend, Size: S

#2905 Retire unused UI strings from translation file
  public/locales/en/translation.json
Labels: maintenance, font/language, Size: S

#2942 Prevent Vern/Sense Dialog button invisible overflow
  src/components/DataEntry/DataEntryTable/NewEntry/StyledMenuItem.ts
Labels: bug, frontend, component: DataEntry, Size: S

#2889 Cleanup `.find`/`.findIndex`/`.every`/`.some` usage
  src/backend/index.ts
  src/components/AppBar/AppBarTypes.ts
  src/components/DataEntry/DataEntryTable/NewEntry/SenseDialog.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/VernDialog.tsx
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/DataEntry/utilities.ts
  src/components/ProjectSettings/ProjectSchedule/DateScheduleEdit.tsx
  src/components/ProjectSettings/ProjectSchedule/ProjectPickersDay.tsx
  src/components/ProjectSettings/ProjectSelect.tsx
  src/components/ProjectSettings/tests/SettingsTabTypes.ts
  src/goals/CharacterInventory/CharInv/CharacterDetail/CharacterWords.tsx
  src/goals/CharacterInventory/Redux/CharacterInventoryReducer.ts
  src/goals/MergeDuplicates/MergeDupsCompleted.tsx
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
  src/types/word.ts
Labels: frontend, maintenance, Size: S

#2943 [AudioPlayer] Catch 2-finger mousepad tap as right click
  src/components/Pronunciations/AudioPlayer.tsx
Labels: bug, frontend, audio, Size: S

#2900 [Consent Export] Include file-type extensions; Convert webm to wav
  Backend/Controllers/SpeakerController.cs
  Backend/Helper/FileStorage.cs
  Backend/Services/LiftService.cs
Labels: bug, backend, import/export, audio

#2947 Extract test function as general-use utility
  src/components/GoalTimeline/tests/GoalRedux.test.tsx
  src/components/ProjectScreen/tests/ChooseProject.test.tsx
  src/goals/CharacterInventory/CharInv/CharacterDetail/tests/index.test.tsx
  src/utilities/testRendererUtilities.tsx
  src/utilities/testingLibraryUtilities.tsx
Labels: frontend, test, Size: S

#2946 [DataEntry > NewEntry] Prevent double submission
  src/components/DataEntry/DataEntryTable/NewEntry/index.tsx
  src/components/DataEntry/DataEntryTable/NewEntry/tests/index.test.tsx
Labels: bug, frontend, component: DataEntry

#2944 [RecentEntry] Disable row buttons when editing vern/gloss
  src/components/Buttons/IconButtonWithTooltip.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/DeleteEntry.tsx
  src/components/DataEntry/DataEntryTable/EntryCellComponents/EntryNote.tsx
  src/components/DataEntry/DataEntryTable/RecentEntry.tsx
  src/components/DataEntry/DataEntryTable/tests/RecentEntry.test.tsx
  src/components/Pronunciations/AudioPlayer.tsx
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsBackend.tsx
  src/components/Pronunciations/RecorderIcon.tsx
  src/components/Pronunciations/tests/AudioRecorder.test.tsx
Labels: bug, frontend, component: DataEntry, Size: S

#2945 Fix uncalled/impotent test functions
  src/components/AppBar/tests/NavigationButtons.test.tsx
  src/components/AppBar/tests/SpeakerMenu.test.tsx
  src/components/DataEntry/DataEntryTable/tests/index.test.tsx
  src/components/DataEntry/tests/index.test.tsx
  src/components/PasswordReset/tests/ResetPage.test.tsx
  src/components/ProjectSettings/tests/ProjectImport.test.tsx
  src/components/ProjectUsers/tests/ProjectSpeakersList.test.tsx
  src/components/ProjectUsers/tests/SortOptions.test.tsx
  src/components/ProjectUsers/tests/SpeakerConsentListItemIcon.test.tsx
  src/goals/ReviewEntries/Redux/tests/ReviewEntriesActions.test.tsx
  src/utilities/tests/dictionaryLoader.test.ts
Labels: bug, frontend, test, Size: S
