Repository sillsdev/TheCombine, pull requests merged in 2025-01, with the labels that each got.

#3488 Generalize AutocompleteSetting as OffOnSetting
  Backend.Tests/Models/ProjectTests.cs
  Backend/Models/Project.cs
  Backend/Models/User.cs
  src/api/.openapi-generator/FILES
  src/api/models/index.ts
  src/api/models/off-on-setting.ts
  src/api/models/project.ts
  src/api/models/user.ts
  src/components/DataEntry/DataEntryTable/index.tsx
  src/components/ProjectSettings/ProjectAutocomplete.tsx
  src/components/ProjectSettings/tests/ProjectAutocomplete.test.tsx
  src/components/UserSettings/UserSettings.tsx
  src/types/project.ts
  src/types/user.ts
Labels: backend, frontend, refactor

#3490 [MergeDups] Unify sense-reference info
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDragSense.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/SidebarDrop.tsx
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/tests/index.test.tsx
  src/goals/MergeDuplicates/MergeDupsTreeTypes.ts
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
  src/goals/MergeDuplicates/Redux/tests/MergeDupsReducer.test.tsx
Labels: frontend, refactor, goal: MergeDup

#3514 Update first Merge Tutorial Video; Add French subtitles
  docs/tutorial_subtitles/export_1_flex_to_combine/export_1_flex_to_combine.fra.txt
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.eng.txt
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.fra.txt
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.spa.txt
  docs/tutorial_subtitles/merge_dups_1_basics/times.txt
Labels: documentation, font/language

#3489 [MergeDups] Extract protected-reasons-text functions
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
  src/goals/MergeDuplicates/MergeDupsStep/SenseCardContent.tsx
  src/goals/MergeDuplicates/MergeDupsStep/protectReasonUtils.ts
Labels: frontend, refactor, goal: MergeDup

#3518 [DataEntry] Ensure analysis lang is on recent entry notes
  src/components/DataEntry/DataEntryTable/index.tsx
Labels: bug, component: DataEntry, font/language

#3522 [GHA] Update backend and CodeQL endpoints
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
Labels: github_actions

#3523 [MergeDups] Add failsafe for duplicate guids and other bad merge sets
  src/goals/Redux/GoalActions.ts
Labels: bug, frontend, goal: MergeDup

#3527 Update setup-dotnet to v4.2.0 and clear old endpoints
  .github/workflows/backend.yml
  .github/workflows/deploy_qa.yml
  .github/workflows/deploy_release.yml
Labels: dependencies, github_actions

#3526 Issue#3525: Goal class has unused field: user
  src/types/goals.ts
Labels: frontend, maintenance, goal

#3528 Move email, name from url to body to protect PII
  Backend/Controllers/SpeakerController.cs
  Backend/Controllers/UserController.cs
  Backend/Controllers/UserRoleController.cs
  src/api/api/speaker-api.ts
  src/api/api/user-api.ts
  src/backend/index.ts
Labels: backend, security

#3530 [MergeDups] Blacklist bad merge sets
  src/goals/Redux/GoalActions.ts
Labels: bug, frontend, goal: MergeDup

#3533 Tweak IP checking
  Backend.Tests/Otel/LocationProviderTests.cs
  Backend/Otel/LocationProvider.cs
Labels: bug, backend

#3538 [Otel] Remove debugging; Use different header
  Backend.Tests/Otel/LocationProviderTests.cs
  Backend/Otel/LocationProvider.cs
  Backend/Otel/OtelKernel.cs
Labels: bug, backend

#3535 Remove unused vanilla-cookieconsent
  docs/user_guide/assets/licenses/frontend_licenses.txt
  package-lock.json
  package.json
  src/types/Redux/analytics.ts
  src/types/Redux/analyticsReduxTypes.ts
Labels: frontend, dependencies

#3515 Add French/Spanish translations for first sem dom / data entry tutorial vids
  docs/tutorial_subtitles/data_entry_1_basics.eng/data_entry_1_basics.eng.txt
  docs/tutorial_subtitles/data_entry_1_basics.eng/data_entry_1_basics.spa.txt
  docs/tutorial_subtitles/export_1_flex_to_combine/export_1_flex_to_combine.fra.txt
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.fra.txt
  docs/tutorial_subtitles/merge_dups_1_basics/merge_dups_1_basics.spa.txt
  docs/tutorial_subtitles/sem_dom_1_basics/sem_dom_1_basics.eng.txt
  docs/tutorial_subtitles/sem_dom_1_basics/sem_dom_1_basics.fra.txt
  docs/tutorial_subtitles/sem_dom_1_basics/sem_dom_1_basics.spa.txt
  docs/tutorial_subtitles/sem_dom_1_basics/times.txt
Labels: documentation, font/language

#3539 [Captcha] Add margin below so not flush against buttons
  src/components/Login/Captcha.tsx
Labels: frontend, login/signUp

#3548 [MergeDups] Fix bug preventing use of extra column
  src/goals/MergeDuplicates/Redux/MergeDupsReducer.ts
Labels: bug, frontend, goal: MergeDup

#3550 [MergeDups] For similar-vern words, compare glosses & definitions
  Backend.Tests/Helper/DuplicateFinderTests.cs
  Backend/Helper/DuplicateFinder.cs
Labels: enhancement, backend, goal: MergeDup

#3561 [MergeDups] Allow actions from sidebar of protected sense
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/index.tsx
Labels: bug, frontend, goal: MergeDup

#3556 [AudioRecorder] Fix bug preventing multiple recordings
  src/components/Pronunciations/AudioRecorder.tsx
  src/components/Pronunciations/PronunciationsFrontend.tsx
  src/components/Pronunciations/Recorder.ts
Labels: bug, frontend, component: DataEntry, goal: ReviewEntries, audio

#3563 [GHA] Update CodeQL workflows
  .github/workflows/backend.yml
  .github/workflows/codeql.yml
Labels: github_actions

#3551 [GHA] Clean up deploy_release workflow
  .github/workflows/deploy_release.yml
Labels: maintenance, github_actions

#3536 [ReviewEntries] Allow senses w/o gloss but w/ definition
  public/locales/en/translation.json
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/EditDialog.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/EditSenseDialog.tsx
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/tests/utilities.test.ts
  src/goals/ReviewEntries/ReviewEntriesTable/Cells/EditCell/utilities.ts
Labels: bug, frontend, goal: ReviewEntries

#3560 [MergeDups>DropWord] Always show protected word warning
  src/goals/MergeDuplicates/MergeDupsStep/MergeDragDrop/DropWord.tsx
Labels: enhancement, frontend, goal: MergeDup
